﻿<div ng-controller="languageCheck2BodyController" class="contentClass2">
    <button class="btn btn-default" onclick="document.getElementById('mp3File').click()">
        <i class="glyphicon glyphicon-music icon-padding" alt="上傳音訊檔"></i>上傳音訊檔
    </button>
    <input id="mp3File" style="display:none" type="file" value="上傳音訊檔" accept=".mp3" onchange="angular.element(this).scope().uploadFiles(this.files)" />
    <audio controls="controls" data-ng-src="{{viewModel.document.body.audio.value}}" data-ng-if="viewModel.document.body.audio.value != ''" style="vertical-align:middle"></audio> 
    <table class="table table-condensed" style="width:100%">
        <!--1.VOICE DISORDER-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.voiceDisorder.title}}</span>
                </div>
            </td>
        </tr>
        <!--Vocal Function-->
        <tr>
            <td colspan="2" class="warning"><b>{{viewModel.document.body.vocalFunction.title}}</b>-{{viewModel.document.body.severity.title}}</td>
        </tr>
        <!--Pitch-->
        <tr>
            <td width="260px"  class="warning" align="right">{{viewModel.document.body.pitch.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.pitch.value" style="width: 80px"/>
                (range：
                <div data-ng-repeat="item in viewModel.document.body.pitch.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.pitch.title}}Radio"
                           data-ng-model="viewModel.document.body.pitch.range" />{{item.title}}
                </div>
                )
            </td>
        </tr>
        <!--Loudness-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.loudness.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.loudness.value" style="width: 80px"/>
                (range：
                <div data-ng-repeat="item in viewModel.document.body.loudness.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.loudness.title}}Radio"
                           data-ng-model="viewModel.document.body.loudness.range" />{{item.title}}
                </div>
                )
            </td>
        </tr>
        <!--Quality-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.quality.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.quality.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.breathy.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.breathy.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.husky.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.husky.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.hoarse.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.hoarse.value" />
            </td>
        </tr>
        <!--Speech-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.speech.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.speech.value" />
            </td>
        </tr>
        <!--Phonatory-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.phonatoryAphonia.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.phonatoryAphonia.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.phonatoryWhisper.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.phonatoryWhisper.value" />
            </td>
        </tr>

        <!--Breathiness Roughness Strain-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.breathiness.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.breathiness.value" />            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.roughness.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.roughness.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.strain.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.strain.value" />
            </td>
        </tr>

        <!--Respiration-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.respiration.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.respiration.value" />
            </td>
        </tr>
        <!--Say[Z]secs/say[s]secs-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.say.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.say.value" />%
            </td>
        </tr>
        <!--Hard glottal attack　Vocal fatigue-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.hard.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.hard.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.vocalFatigue.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.vocalFatigue.value" />
            </td>
        </tr>
        <!--Falsetto Diplophonia-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.falsetto.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.falsetto.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.diplophonia.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.diplophonia.value" />
            </td>
        </tr>
        <!--Vocal fry-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.vocal.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.vocal.value" style="width: 300px" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.tremor.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.tremor.value" style="width: 300px" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.spasm.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.spasm.value" style="width: 300px" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.others.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.others.value" style="width: 300px" />
            </td>
        </tr>
        <!--Resonance quality-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.resonance1.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.resonance1.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.resonance2.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.resonance2.value" />
            </td>
        </tr>
        <!--Related observations-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.related1.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.related1.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.related2.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.related2.value" />
            </td>
        </tr>
        <!--Pitch breaks　Phonation breaks-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.pitchBreaks.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.pitchBreaks.value" />
            </td>
        </tr>
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.phonation.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.phonation.value" />
            </td>
        </tr>
        <!--Loudness perception and production-->
        <tr>
            <td colspan="2" class="warning"><b>{{viewModel.document.body.loudnessPerception.title}}</b></td>
        </tr>
        <!--Maxium phonation time-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.maxium.title}}</td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.maxium1.title}}
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.maxium1.value" />sec
                {{viewModel.document.body.maxium2.title}}
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.maxium2.value" />sec
            </td>
        </tr>
        <!--Breathing type-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.breathingType.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.breathingType.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.breathingType)"/>{{item.title}}
                    <div data-ng-if="$index == 2" style="display:inline"><br/></div>
                </div>
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.breathingType.other" style="width:300px" />
            </td>
        </tr>
        <!--Tension site-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.tensionSite.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.tensionSite.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.tensionSite)" />{{item.title}}
                    <div data-ng-if="$index == 4" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Hypernasality-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.hypernasality.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.hypernasality.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.hypernasality)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Nasal emission-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.nasal.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.nasal.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.nasal)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Denasality-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.denasality.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.denasality.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.denasality)" />{{item.title}}
                </div>
            </td>
        </tr>

        <!--2.ARTICULATION DISORDER-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.articulation.title}}</span>
                </div>
            </td>
        </tr>
        <!--Etiology-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.etiology.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.etiology.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.etiology)" />{{item.title}}
                    <div data-ng-if="$index == 3" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Peripheral oral exercise-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.peripheral.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.peripheral.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.peripheral)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Exercise-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.exercise.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.exercise.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.exercise)" />{{item.title}}
                    <div data-ng-if="$index == 3" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Peripheral oral exercise-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.velar.title}}</td>
            <td style="vertical-align:baseline">
                Diadokokinesia-say/pa-ta-ka/ in 10secs.
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.velar.value" />{{viewModel.document.body.velar1.unit}}
            </td>
        </tr>
        <!--Nasal emission score-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.nasalEmission.title}}</td>
            <td style="vertical-align:baseline">
                Nares open say [ah]-nares closed say[ah]=
                <input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.nasalEmission.value" />{{viewModel.document.body.nasalEmission1.unit}}
            </td>
        </tr>
        <!--Articulation errors-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.articulationErrors.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.articulationErrors.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.articulationErrors)" />{{item.title}}
                    <div data-ng-if="$index == 1" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Stimulibility test-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.stimulibility.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.stimulibility.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.stimulibility.title}}Radio"
                           data-ng-model="viewModel.document.body.stimulibility.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Observation-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.observation.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.observation.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.observation)" />{{item.title}}
                    <div data-ng-if="$index == 3 || $index == 6" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>

        <!--3.RHYTHM DISORDER-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.rhythm.title}}</span>
                </div>
            </td>
        </tr>
        <!--Speech rate-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.speechRate.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width:80px" data-ng-model="viewModel.document.body.speechRate.value" />words/min
            </td>
        </tr>
        <!--Times of stuttering-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.stutteringTimes.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width:80px" data-ng-model="viewModel.document.body.stutteringTimes.value" />words/min
            </td>
        </tr>
        <!--Classification-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.classification.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.classification.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.classification)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--ObservationRhythm-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.observationRhythm.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.observationRhythm.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.observationRhythm)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--4.LANGUAGE DISORDER-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.language.title}}</span>
                </div>
            </td>
        </tr>
        <!--Compression-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.compression.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.compression.value" />
            </td>
        </tr>
        <!--Expression-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.expression.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.expression.value" />
            </td>
        </tr>
        <!--Intelligence-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.intelligence.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.intelligence.value" />
            </td>
        </tr>
        <!--Special behavior-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.specialBehavior.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.specialBehavior.value" />
            </td>
        </tr>
        <!--Motor coordination-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.motor.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.motor.value" />
            </td>
        </tr>
        <!--etiologyHearingLossR-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.etiologyHearingLossR.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.etiologyHearingLossR.value" />
                {{viewModel.document.body.etiologyHearingLossR.unit}}
            </td>
        </tr>
        <!--etiologyHearingLossL-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.etiologyHearingLossL.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.etiologyHearingLossL.value" />
                {{viewModel.document.body.etiologyHearingLossL.unit}}
            </td>
        </tr>
        <!--etiologyNeurological-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.etiologyNeurological.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.etiologyNeurological.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.etiologyNeurological.title}}Radio"
                           data-ng-model="viewModel.document.body.etiologyNeurological.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--etiologyEmotional-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.etiologyEmotional.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.etiologyEmotional.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.etiologyEmotional.title}}Radio"
                           data-ng-model="viewModel.document.body.etiologyEmotional.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--etiologyCulture-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.etiologyCulture.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.etiologyCulture.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.etiologyCulture.title}}Radio"
                           data-ng-model="viewModel.document.body.etiologyCulture.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--5.Suggestion-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.suggestion.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="vertical-align:baseline">
                <textarea class="k-textbox" data-ng-model="viewModel.document.body.suggestion.value" style="width: 100%; height: 50px;resize: none;overflow:auto"></textarea>
            </td>
        </tr>
    </table>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">VOICE DISORDER</td>
                </tr>
                <tr>    
                    <td width="600px" colspan="6">Vocal Function-Severity of the problem (voice rating:0,1,2,3)</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Pitch</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.pitch.value}}（range：{{viewModel.document.body.pitch.range}}）</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Loudness</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.loudness.value}}（range：{{viewModel.document.body.loudness.range}}）</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Quality</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.quality.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Breathy</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.breathy.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Husky</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.husky.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Hoarse</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.hoarse.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Speech rate</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.speech.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Phonatory quality-Aphonia</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.phonatoryAphonia.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Phonatory quality-Whisper</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.phonatoryWhisper.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Breathiness</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.breathiness.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Roughness</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.roughness.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Strain</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.strain.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Respiration-phonation score</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.respiration.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Say[Z]secs/say[s]secs</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.say.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Hard glottal attack</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.hard.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Vocal fatigue</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.vocalFatigue.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Falsetto</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.falsetto.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Diplophonia</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.diplophonia.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Vocal fry</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.vocal.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Tremor</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.tremor.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Spasm</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.spasm.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Others</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.others.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Resonance quality-Hypernasality</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.resonance1.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Resonance quality-Denasality</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.resonance2.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Related observations-Resonance</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.related1.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Related observations-Monotone</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.related2.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Pitch breaks</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.pitchBreaks.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Phonation breaks</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.phonation.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">Loudness perception and production</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Maxium phonation time</td>
                    <td width="300px" colspan="3">
                        normal inhalation(say”a”) {{viewModel.document.body.maxium1.value}}<br/>
                        inhalation(say”a”) {{viewModel.document.body.maxium2.value}}
                    </td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Breathing type</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.breathingType.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Tension site</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.tensionSite.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Hypernasality</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.hypernasality.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Nasal emission</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.nasal.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Denasality</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.denasality.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">ARTICULATION DISORDER</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Etiology</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.etiology.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Peripheral oral exercise</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.peripheral.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Exercise</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.exercise.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Velar-pharyngeal sphincter</td>
                    <td width="300px" colspan="3">Diadokokinesia-say/pa-ta-ka/ in 10secs.{{viewModel.document.body.velar.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Nasal emission score</td>
                    <td width="300px" colspan="3">Nares open say [ah]-nares closed say[ah]={{viewModel.document.body.nasalEmission.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Articulation errors</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.articulationErrors.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Stimulibility test：imitation</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.stimulibility.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Observation</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.observation.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">RHYTHM DISORDER</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Speech rate</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.speechRate.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Times of stuttering</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.stutteringTimes.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Classification</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.classification.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Observation</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.observationRhythm.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">LANGUAGE DISORDER</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Compression</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.compression.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Expression</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.expression.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Intelligence</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.intelligence.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Special behavior</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.specialBehavior.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Motor coordination</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.motor.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Etiology-Hearing loss-PTA-Right</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.etiologyHearingLossR.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Etiology-Hearing loss-PTA-Left</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.etiologyHearingLossL.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Etiology-Neurological dysfunctions</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.etiologyNeurological.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Etiology-Emotional problem</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.etiologyEmotional.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3">&emsp;Etiology-Culture deprivation</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.etiologyCulture.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">Suggestion</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">{{viewModel.document.body.suggestion.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



