﻿<!-- XX申請 -->
<div data-ng-controller="flowEngineController" class="row" style="margin:1px">
    <div data-kendo-tab-strip id="flowEngineTabstrip" data-ng-init="flowEngineTabstripInit()">
        <ul>
            <li class="k-state-active">表單申請</li>
            <li>加簽設定</li>
        </ul>
        <!-- 表單申請 -->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="getSignoffRecord('true')" data-ng-disabled="viewModel.checkRequire()">
                    <span><i class="glyphicon glyphicon-ok icon-padding"></i>送簽</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="getSignoffRecord('false')" data-ng-disabled="viewModel.checkRequire()">
                    <span><i class="glyphicon glyphicon-ok icon-padding"></i>加簽</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="viewModel.attachWindow.center().open();">
                    <span><i class="glyphicon glyphicon-paperclip icon-padding"></i>附件</span>
                </button>
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto;width:inherit;">
                <div data-ng-include="viewModel.formUrl"></div>
            </div>
        </div>
        <!-- 加簽設定 -->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="signature()">
                    <span><i class="glyphicon glyphicon-check icon-padding"></i>送簽</span>
                </button>
            </div>
            <div class="contentClass2" style="line-height:35px">
                1.請在下方簽核列表中選擇待加簽位置&emsp;
                2.加簽順序：<select data-kendo-drop-down-list data-ng-model="viewModel.addSign.type" style="width:120px">
                    <option value="1">往下加簽</option>
                    <option value="2">平行加簽</option>
                    <option value="3">往上加簽</option>
                </select>&emsp;
                3.加簽人員：<input type="text" class="k-textbox" data-ng-model="viewModel.addSign.user.empCode" style="width: 80px" data-ng-blur="getEmpInfo(viewModel.addSign)" />{{viewModel.addSign.user.empName}}&emsp;
                4.加簽原因：<input type="text" class="k-textbox" data-ng-model="viewModel.addSign.reason" style="width: 300px" />
                <button type="button" class="btn btn-default" data-ng-click="addSign()" data-ng-disabled="!!viewModel.addSign.index == false || !!viewModel.addSign.user.empName == false">
                    <span><i class="glyphicon glyphicon-check icon-padding"></i>加簽</span>
                </button>
                <table class="table table-striped table-bordered">
                    <tr style="background-color:#008E77;color:white">
                        <td width="50px">加簽</td>
                        <td width="50px">刪除</td>
                        <td width="100px">簽核人員代</td>
                        <td width="100px">簽核人姓名</td>
                        <td width="100px">簽核狀態</td>
                        <td width="100px">加簽狀態</td>
                        <td>加簽原因</td>
                    </tr>
                    <tbody data-ng-repeat="item in viewModel.recordMt.recordDts">
                        <tr data-uid="#: uid #"
                            ng-if="item.entityState != 'Deleted' && item.entityState != 'Detached' && item.signStatus.optionNo != 1">
                            <td><div data-ng-if="item.signStatus.optionNo < 11"><input type="radio" name="addSignoffRadio" value="{{$index}}" data-ng-model="viewModel.addSign.index" /></div></td>
                            <td><div data-ng-if="item.addedType.optionNo != 0 && viewModel.searchInfo.signUser.empNo == item.addedUser.empNo && item.signStatus.optionNo<20"><center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="delete($index)" /></center></div></td>
                            <td>{{item.signUser.empCode}}</td>
                            <td>{{item.signUser.empName}}</td>
                            <td>{{item.signStatus.optionName}}</td>
                            <td>{{item.addedType.optionName}}</td>
                            <td style="color:red">{{item.addReason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 下方內容 -->
            <!--<div data-kendo-window="signoffRecordWin"
                 data-k-title="'簽核紀錄'"
                 data-k-draggable="false"
                 data-k-width="700"
                 data-k-height="500"
                 data-k-visible="false"
                 data-k-resizable="false"
                 data-k-content="{url: './App/FlowEngine/signoffRecord.html'}"
                 data-k-on-open="signoffRecordWinVisible = true;"
                 data-k-on-close="signoffRecordVisible = false">
            </div>-->
        </div>
    </div>
    <!-- 附件視窗 -->
    <div data-kendo-window="viewModel.attachWindow" data-k-title="'附件視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="280" data-k-width="1000">
        <div style="margin:5px;width:100%">
            <button type="button" class="btn btn-default" onclick="document.getElementById('attachment').click()">
                <span><i class="glyphicon glyphicon-plus icon-padding"></i>上傳檔案</span>
            </button>
            <!-- 附件Grid -->
            <div id="attachmentGrid"
                 data-kendo-grid="viewModel.attachmentGrid"
                 data-k-options="viewModel.attachmentGridOptions"
                 data-k-ng-delay="viewModel.attachmentGridOptions.dataSource"
                 style="width: 100%;height:150px;overflow-x:hidden;overflow-y:auto">
            </div>
            <!--attachmentGridRowTemplate-->
            <script id="attachmentGridRowTemplate" type="text/x-kendo-tmpl">
                <tr data-uid="#: uid #"
                    ng-if="dataItem.entityState != 'Detached' && dataItem.entityState != 'Deleted'">
                    <td><center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteAttachment(dataItem)" data-ng-if="shareModel.userInfos.userNo == dataItem.systemUser" /></center></td>
                    <td><center><img data-ng-src="http://i.imgur.com/wtRl5iU.jpg" style="width:20px;height:20px;" data-ng-click="downloadAttachment(dataItem)" /></center></td>
                    <td>{{dataItem.attachName}}</td>
                </tr>
            </script>
        </div>
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="viewModel.repairMtInfo.repairAttaches = viewModel.attachmentGrid.dataSource.data();viewModel.attachWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.attachWindow.close();">取消</button>
        </div>
    </div>
</div>