﻿<!-- 簽核流程管理 -->
<div data-ng-controller="flowEngineController" class="row" style="margin:1px">
    <input type="file" data-ng-show="false" id="attachment" multiple="multiple" onchange="angular.element(this).scope().handleFiles()" accept="*">
    <div data-kendo-tab-strip id="signoffManagerTabstrip" data-ng-init="setSignoff();getSignoffRecords()">
        <ul>
            <li class="k-state-active">簽核管理</li>
            <li>簽核處理</li>
            <li>加簽設定</li>
        </ul>
        <!-- 簽核管理 -->
        <div class="contentClass">
            <div class="contentClass2" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto">
                <!-- 查詢條件 -->
                <table class="table" style="margin-bottom: 0px;">
                    <tr>
                        <td width="30px" rowspan="2">
                            <img src="Content/Images/search_24.png" class="template-button-img">
                            表單號：<input type="text" class="k-textbox" data-ng-model="viewModel.searchInfo.signoffNo" style="width: 60px" />
                            申請人員：<input type="text" class="k-textbox" data-ng-model="viewModel.searchInfo.applyUser.empNo" style="width: 80px" data-ng-change="limitInt()"/>
                            申請期間：
                            <input data-kendo-date-picker data-k-ng-model="viewModel.searchInfo.startDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />至
                            <input data-kendo-date-picker data-k-ng-model="viewModel.searchInfo.endDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />
                            簽核表單：
                            <select data-kendo-drop-down-list required
                                    data-k-filter="'contains'"
                                    data-k-data-text-field="'formName'"
                                    data-k-data-value-field="'formNo'"
                                    data-k-data-source="viewModel.formInfos"
                                    data-ng-model="viewModel.searchInfo.formInfo.optionNo"
                                    style="width: 250px"></select>
                            <div style="display:inline" data-ng-if="shareModel.userInfos.userNo == 21784 || shareModel.userInfos.userNo == 28034 || shareModel.userInfos.userNo == 28958">
                                簽核人員：<input type="text" class="k-textbox" data-ng-model="viewModel.searchInfo.signUser.empNo" style="width: 80px" data-ng-change="limitInt()" />
                            </div>
                            簽核狀態：
                            <select data-kendo-drop-down-list required
                                    data-k-data-text-field="'optionName'"
                                    data-k-data-value-field="'optionNo'"
                                    data-k-data-source="viewModel.applyStatusTypes"
                                    data-ng-model="viewModel.searchInfo.applyStatus.optionNo"
                                    style="width: 120px"></select>
                            <button type="button" class="k-button" data-ng-click="getSignoffRecords()">
                                <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
                <!-- 簽核清單Grid -->
                <div id="signoffListGrid"
                     data-kendo-grid="viewModel.signoffListGrid"
                     data-k-options="viewModel.signoffListGridOptions"
                     data-k-ng-delay="viewModel.signoffListGridOptions.dataSource"
                     style="width: 100%;overflow-x:hidden;overflow-y:auto">
                </div>
            </div>
        </div>
        <!-- 簽核處理-->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="viewModel.hideData = false;" data-ng-if="!!viewModel.hideData == true">
                    <span><i class="glyphicon glyphicon-eye-open icon-padding"></i>顯示基本資料</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="viewModel.hideData = true;" data-ng-if="!!viewModel.hideData == false">
                    <span><i class="glyphicon glyphicon-eye-close icon-padding"></i>隱藏基本資料</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="viewModel.attachWindow.center().open();">
                    <span><i class="glyphicon glyphicon-paperclip icon-padding"></i>附件</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="signOff(60);" data-ng-disabled="signOffDisabled()">
                    <span><i class="glyphicon glyphicon-ok icon-padding"></i>同意</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="signOff(30);" data-ng-disabled="signOffDisabled()">
                    <span><i class="glyphicon glyphicon-ok icon-padding"></i>略過</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="signOff(80);" data-ng-disabled="signOffDisabled()">
                    <span><i class="glyphicon glyphicon-remove icon-padding"></i>否決</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="signOff(20);" data-ng-disabled="signOffDisabled()">
                    <span><i class="glyphicon glyphicon-share-alt icon-padding"></i>轉簽</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="addSignOff()">
                    <span><i class="glyphicon glyphicon-plus icon-padding"></i>加簽</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="print()" data-ng-if="shareModel.userInfos.userNo == 222 || shareModel.userInfos.userNo == 5057 || shareModel.userInfos.userNo == 28958">
                    <span><i class="glyphicon glyphicon-print icon-padding"></i>列印</span>
                </button>
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                <div data-ng-include="viewModel.formContent"></div>
                <!--<fieldset data-ng-disabled="true">
                    <div data-ng-include="viewModel.formContent"></div>
                </fieldset>-->
                <table class="table table-striped table-bordered" data-ng-if="executingAppStore.appId != 400">
                    <tr style="background-color:#008E77;color:white">
                        <td width="100px">簽核人員代</td>
                        <td width="100px">簽核人姓名</td>
                        <td width="100px">簽核狀態</td>
                        <td width="100px">簽核時間</td>
                        <td width="500px" data-ng-if="!!viewModel.recordMt.isShowSuggest && shareModel.userInfos.userNo != viewModel.recordMt.applyUser.empNo">簽核意見</td>
                        <td width="100px">加簽狀態</td>
                        <td>加簽原因</td>
                    </tr>
                    <tbody data-ng-repeat="item in viewModel.recordMt.recordDts">
                        <tr data-uid="#: uid #"
                            ng-if="item.entityState != 'Deleted' && item.entityState != 'Detached' && item.signStatus.optionNo != 1">
                            <td>{{item.signUser.empCode}}</td>
                            <td>{{item.signUser.empName}}</td>
                            <td>{{item.signStatus.optionName}}</td>
                            <td>
                                <div data-ng-if="item.signStatus.optionNo >= 20">
                                    {{item.endTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                            </td>
                            <td data-ng-if="!!viewModel.recordMt.isShowSuggest && shareModel.userInfos.userNo != viewModel.recordMt.applyUser.empNo">{{item.suggestion}}</td>
                            <td>{{item.addedType.optionName}}</td>
                            <td style="color:red">{{item.addReason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 加簽設定 -->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="signature()"  data-ng-disabled="viewModel.signOffItem.signEndTime.getTime() < viewModel.today.getTime()">
                    <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>儲存</span>
                </button>
            </div>
            <div class="contentClass2" style="line-height:35px">
                1.請在下方簽核列表中選擇待加簽位置&emsp;
                2.加簽順序：<select data-kendo-drop-down-list data-ng-model="viewModel.addSign.type" style="width:120px">
                    <option value="1">往下加簽</option>
                    <option value="2">平行加簽</option>
                    <option value="3">往上加簽</option>
                </select>&emsp;
                3.加簽人員：<input type="text" class="k-textbox" data-ng-model="viewModel.addSign.user.empCode" style="width: 80px" data-ng-blur="getEmpInfo(viewModel.addSign)" />{{viewModel.addSign.user.empName}}&emsp;
                4.加簽原因：<input type="text" class="k-textbox" data-ng-model="viewModel.addSign.reason" style="width: 300px" />
                <button type="button" class="btn btn-default" data-ng-click="addSign()" data-ng-disabled="!!viewModel.addSign.index == false || !!viewModel.addSign.user.empName == false">
                    <span><i class="glyphicon glyphicon-check icon-padding"></i>加簽</span>
                </button>
                <table class="table table-striped table-bordered" >
                    <tr style="background-color:#008E77;color:white">
                        <td width="50px">加簽</td>
                        <td width="50px">刪除</td>
                        <td width="100px">簽核人員代</td>
                        <td width="100px">簽核人姓名</td>
                        <td width="100px">簽核狀態</td>
                        <td width="100px">簽核時間</td>
                        <!--<td width="500px">簽核意見</td>-->
                        <td width="100px">加簽狀態</td>
                        <td>加簽原因</td>
                    </tr>
                    <tbody data-ng-repeat="item in viewModel.recordMt.recordDts">
                        <tr data-uid="#: uid #"
                            ng-if="item.entityState != 'Deleted' && item.entityState != 'Detached' && item.signStatus.optionNo != 1">
                            <td><div data-ng-if="item.signStatus.optionNo <= 11"><input type="radio" name="addSignoffRadio" value="{{$index}}" data-ng-model="viewModel.addSign.index" /></div></td>
                            <td><div data-ng-if="item.addedType.optionNo != 0 && viewModel.searchInfo.signUser.empNo == item.addedUser.empNo && item.signStatus.optionNo<20"><center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="delete($index)"/></center></div></td>
                            <td>{{item.signUser.empCode}}</td>
                            <td>{{item.signUser.empName}}</td>
                            <td>{{item.signStatus.optionName}}</td>
                            <td>
                                <div data-ng-if="item.signStatus.optionNo >= 20">
                                    {{item.endTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                            </td>
                            <!--<td>{{item.suggestion}}</td>-->
                            <td>{{item.addedType.optionName}}</td>
                            <td style="color:red">{{item.addReason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="contentClass2" style="line-height:35px">
                1.請先在簽核列表中選擇待加簽位置<br />
                <table class="table table-striped table-bordered">
                    <tr style="background-color:#008E77;color:white">
                        <td width="50px">加簽</td>
                        <td width="50px">刪除</td>
                        <td width="100px">簽核人員代</td>
                        <td width="100px">簽核人姓名</td>
                        <td width="100px">簽核狀態</td>
                        <td width="300px">簽核意見</td>
                        <td width="100px">加簽狀態</td>
                        <td>加簽原因</td>
                    </tr>
                    <tbody data-ng-repeat="item in viewModel.recordMt.recordDts">
                        <tr data-uid="#: uid #"
                            ng-if="item.entityState != 'Deleted' && item.entityState != 'Detached' && item.signStatus.optionNo != 1">
                            <td><div data-ng-if="item.signStatus.optionNo < 11"><input type="radio" name="addSignoffRadio" value="{{$index}}" data-ng-model="viewModel.addSign.index" /></div></td>
                            <td><div data-ng-if="item.addedType.optionNo != 0"><center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="delete($index)" /></center></div></td>
                            <td>{{item.signUser.empCode}}</td>
                            <td>{{item.signUser.empName}}</td>
                            <td>{{item.signStatus.optionName}}</td>
                            <td>
                                <button type="button" class="btn btn-default" data-ng-click="item.show = true;" data-ng-if="!item.show">
                                    <span><i class="glyphicon glyphicon-eye-open icon-padding"></i></span>
                                </button>
                                <button type="button" class="btn btn-default" data-ng-click="item.show = false;" data-ng-if="item.show">
                                    <span><i class="glyphicon glyphicon-eye-close icon-padding"></i></span>
                                </button>
                                <span data-ng-if="item.show">{{item.suggestion}}</span>
                            </td>
                            <td>{{item.addedType.optionName}}</td>
                            <td>{{item.addReason}}</td>
                        </tr>
                    </tbody>
                </table>
                2.加簽順序：<select data-kendo-drop-down-list data-ng-model="viewModel.addSign.type" style="width:120px">
                    <option value="1">往下加簽</option>
                    <option value="2">平行加簽</option>
                    <option value="3">往上加簽</option>
                </select><br />
                3.加簽人員：<input type="text" class="k-textbox" data-ng-model="viewModel.addSign.user.empCode" style="width: 80px" data-ng-change="getEmpInfo(viewModel.addSign)" />{{viewModel.addSign.user.empName}}<br />
                4.加簽原因：<input type="text" class="k-textbox" data-ng-model="viewModel.addSign.reason" style="width: 300px" /><br />
                5.點上方「加簽」按鈕
                <div style="font-size:18px;color:red" data-ng-if="executingAppStore.appId == 400">
                    {{viewModel.precautions}}
                </div>
            </div>-->
            <!-- 下方內容 -->
            <!--<div data-kendo-window="signoffRecordWin"
             data-k-title="'簽核紀錄'"
             data-k-draggable="false"
             data-k-width="700"
             data-k-height="500"
             data-k-visible="false"
             data-k-resizable="false"
             data-k-content="{url: './App/FlowEngine/signoffRecord.html'}"
             data-k-on-open="signoffRecordWinVisible = true;"
             data-k-on-close="signoffRecordVisible = false">
        </div>-->
        </div>
    </div>
    <!--確認Window-->
    <div id="confirmWindow"
         data-kendo-window="viewModel.confirmWindow"
         data-k-title="'簽核視窗'"
         data-k-modal="true"
         data-k-width="600"
         data-k-resizable="false"
         data-k-visible="false">
        <!--<div class="template-div">{{viewModel.message}}</div>-->
        簽核意見：
        <textarea class="k-textbox" data-ng-model="viewModel.signOff.suggestion" style="width: 100%; height: 100px;resize: none;overflow:auto"></textarea>
        <span style="margin-top: 0.5em;float:right">
            <button type="button" class="btn btn-default" data-ng-click="signoffOk()">
                <span><i class="glyphicon glyphicon-ok icon-padding"></i>確認</span>
            </button>
            <button type="button" class="btn btn-default" data-ng-click="viewModel.confirmWindow.close()">
                <span><i class="glyphicon glyphicon-remove icon-padding"></i>取消</span>
            </button>
        </span>
    </div>
    <!--轉簽Window-->
    <div id="transferWindow"
         data-kendo-window="viewModel.transferWindow"
         data-k-title="'轉簽視窗'"
         data-k-modal="true"
         data-k-width="400"
         data-k-resizable="false"
         data-k-visible="false">
        轉簽員代：<input type="text" class="k-textbox" data-ng-model="viewModel.transfer.user.empNo" style="width: 80px" data-ng-change="getEmpInfo(viewModel.transfer)"/>{{viewModel.transfer.user.empName}}<br />
        轉簽原因：<input type="text" class="k-textbox" data-ng-model="viewModel.transfer.suggestion" style="width: 300px" />
        <span style="margin-top: 0.5em;float:right">
            <button type="button" class="btn btn-default" data-ng-click="transferOk()" data-ng-disabled="!!viewModel.transfer.user.empName == false">
                <span><i class="glyphicon glyphicon-ok icon-padding"></i>確認</span>
            </button>
            <button type="button" class="btn btn-default" data-ng-click="viewModel.transferWindow.close()">
                <span><i class="glyphicon glyphicon-remove icon-padding"></i>取消</span>
            </button>
        </span>
    </div>
    <!-- 附件視窗 -->
    <div data-kendo-window="viewModel.attachWindow" data-k-title="'附件視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="280" data-k-width="1000">
        <div style="margin:5px;width:100%">
            <button type="button" class="btn btn-default" onclick="document.getElementById('attachment').click()">
                <span><i class="glyphicon glyphicon-plus icon-padding"></i>上傳檔案</span>
            </button>
            <!-- 附件Grid -->
            <div id="attachmentGrid"
                 data-kendo-grid="viewModel.attachmentGrid"
                 data-k-options="viewModel.attachmentGridOptions"
                 data-k-ng-delay="viewModel.attachmentGridOptions.dataSource"
                 style="width: 100%;height:150px;overflow-x:hidden;overflow-y:auto">
            </div>
            <!--attachmentGridRowTemplate-->
            <script id="attachmentGridRowTemplate" type="text/x-kendo-tmpl">
                <tr data-uid="#: uid #"
                    ng-if="dataItem.entityState != 'Detached' && dataItem.entityState != 'Deleted'">
                    <td><center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteAttachment(dataItem)" data-ng-if="shareModel.userInfos.userNo == dataItem.systemUser" /></center></td>
                    <td><center><img data-ng-src="http://i.imgur.com/wtRl5iU.jpg" style="width:20px;height:20px;" data-ng-click="downloadAttachment(dataItem)" /></center></td>
                    <td>{{dataItem.attachName}}</td>
                </tr>
            </script>
        </div>
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="viewModel.repairMtInfo.repairAttaches = viewModel.attachmentGrid.dataSource.data();viewModel.attachWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.attachWindow.close();">取消</button>
        </div>
    </div>
</div>