﻿<div data-ng-controller="flowEngineController">
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="addSignoff()">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>加簽</span>
        </button>
    </div>
    <div style="font-size:18px;color:red">
        {{viewModel.precautions}}
    </div>
    <div style="max-height:385px;overflow:auto;width:auto">
        <div id="signoffGrid"
             data-kendo-grid="viewModel.signoffGrid"
             data-k-options="viewModel.signoffGridOptions"
             data-k-ng-delay="viewModel.signoffGridOptions.dataSource"></div>
        </div>
    </div>
    <div>
        <div style="text-align:right">
            <!--<button class="k-button" data-ng-click="ok()">
                確定
            </button>&nbsp;&nbsp;-->
            <button class="k-button" data-ng-click="cancel()">
                關閉
            </button>
        </div>
    </div>
    <!-- 附件視窗 -->
    <div data-kendo-window="viewModel.attachWindow" data-k-title="'附件視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="280" data-k-width="1000">
        <div style="margin:5px;width:100%">
            <button type="button" class="btn btn-default" onclick="document.getElementById('attachment').click()">
                <span><i class="glyphicon glyphicon-plus icon-padding"></i>上傳檔案</span>
            </button>
            <!-- 附件Grid -->
            <div id="attachmentGrid"
                 data-kendo-grid="viewModel.attachmentGrid"
                 data-k-options="viewModel.attachmentGridOptions"
                 data-k-ng-delay="viewModel.attachmentGridOptions.dataSource"
                 style="width: 100%;height:150px;overflow-x:hidden;overflow-y:auto">
            </div>
            <!--attachmentGridRowTemplate-->
            <script id="attachmentGridRowTemplate" type="text/x-kendo-tmpl">
                <tr data-uid="#: uid #"
                    ng-if="dataItem.entityState != 'Detached' && dataItem.entityState != 'Deleted'">
                    <td><center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteAttachment(dataItem)" data-ng-if="shareModel.userInfos.userNo == dataItem.systemUser"/></center></td>
                    <td><center><img data-ng-src="http://i.imgur.com/wtRl5iU.jpg" style="width:20px;height:20px;" data-ng-click="downloadAttachment(dataItem)" /></center></td>
                    <td>{{dataItem.attachName}}</td>
                </tr>
            </script>
        </div>
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="viewModel.repairMtInfo.repairAttaches = viewModel.attachmentGrid.dataSource.data();viewModel.attachWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.attachWindow.close();">取消</button>
        </div>
    </div>
</div>