﻿<!-- 簽核追尋查詢 -->
<div data-ng-controller="flowEngineController" class="row" style="margin:1px">
    <input type="file" data-ng-show="false" id="attachment" multiple="multiple" onchange="angular.element(this).scope().handleFiles()" accept="*">
    <div data-kendo-tab-strip id="signoffManagerTabstrip" data-ng-init="setSignoffApply()">
        <ul>
            <li class="k-state-active">簽核查詢</li>
            <li>申請資料</li>
        </ul>
        <!-- 簽核查詢 -->
        <div class="contentClass">
            <!-- 下方內容 -->
            <div class="contentClass3" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto">
                <!-- 查詢條件 -->
                <table class="table" style="margin-bottom: 0px;">
                    <tr>
                        <td width="30px" rowspan="2">
                            <img src="Content/Images/search_24.png" class="template-button-img">
                            表單號：<input type="text" class="k-textbox" data-ng-model="viewModel.searchInfo.signoffNo" style="width: 60px" />
                            申請期間：
                            <input data-kendo-date-picker data-k-ng-model="viewModel.searchInfo.startDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />至
                            <input data-kendo-date-picker data-k-ng-model="viewModel.searchInfo.endDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />
                            簽核表單：
                            <select data-kendo-drop-down-list required
                                    data-k-filter="'contains'"
                                    data-k-data-text-field="'formName'"
                                    data-k-data-value-field="'formNo'"
                                    data-k-data-source="viewModel.formInfos"
                                    data-ng-model="viewModel.searchInfo.formInfo.optionNo"
                                    style="width: 250px"></select>
                            簽核狀態：
                            <select data-kendo-drop-down-list required
                                    data-k-data-text-field="'optionName'"
                                    data-k-data-value-field="'optionNo'"
                                    data-k-data-source="viewModel.applyStatusTypes"
                                    data-ng-model="viewModel.searchInfo.applyStatus.optionNo"
                                    style="width: 120px"></select>
                            <button type="button" class="k-button" data-ng-click="GetTrackRecords()">
                                <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
                <!-- 簽核清單Grid -->
                <div id="signoffApplyGrid"
                     data-kendo-grid="viewModel.signoffApplyGrid"
                     data-k-options="viewModel.signoffApplyGridOptions"
                     data-k-ng-delay="viewModel.signoffApplyGridOptions.dataSource"
                     style="width: 100%;overflow-x:hidden;overflow-y:auto">
                </div>
            </div>
        </div>
        <!-- 申請資料-->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="viewModel.hideData = false;" data-ng-if="!!viewModel.hideData == true">
                    <span><i class="glyphicon glyphicon-eye-open icon-padding"></i>顯示基本資料</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="viewModel.hideData = true;" data-ng-if="!!viewModel.hideData == false">
                    <span><i class="glyphicon glyphicon-eye-close icon-padding"></i>隱藏基本資料</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="viewModel.attachWindow.center().open();">
                    <span><i class="glyphicon glyphicon-paperclip icon-padding"></i>附件</span>
                </button>
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                <div data-ng-include="viewModel.formContent"></div>
                <!--<fieldset data-ng-disabled="true">
                    <div data-ng-include="viewModel.formContent"></div>
                </fieldset>-->
                <table class="table table-striped table-bordered" data-ng-if="executingAppStore.appId != 400">
                    <tr style="background-color:#008E77;color:white">
                        <td width="100px">簽核人員代</td>
                        <td width="100px">簽核人姓名</td>
                        <td width="100px">簽核狀態</td>
                        <td width="100px">簽核時間</td>
                        <td width="500px" data-ng-if="!!viewModel.recordMt.isShowSuggest && shareModel.userInfos.userNo != viewModel.recordMt.applyUser.empNo">簽核意見</td>
                        <td width="100px">加簽狀態</td>
                        <td>加簽原因</td>
                    </tr>
                    <tbody data-ng-repeat="item in viewModel.recordMt.recordDts">
                        <tr data-uid="#: uid #"
                            ng-if="item.entityState != 'Deleted' && item.entityState != 'Detached' && item.signStatus.optionNo != 1">
                            <td>{{item.signUser.empCode}}</td>
                            <td>{{item.signUser.empName}}</td>
                            <td>{{item.signStatus.optionName}}</td>
                            <td>
                                <div data-ng-if="item.signStatus.optionNo >= 20">
                                    {{item.endTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                            </td>
                            <td data-ng-if="!!viewModel.recordMt.isShowSuggest && shareModel.userInfos.userNo != viewModel.recordMt.applyUser.empNo">{{item.suggestion}}</td>
                            <td>{{item.addedType.optionName}}</td>
                            <td style="color:red">{{item.addReason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 附件視窗 -->
    <div data-kendo-window="viewModel.attachWindow" data-k-title="'附件視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="280" data-k-width="1000">
        <div style="margin:5px;width:100%">
            <button type="button" class="btn btn-default" onclick="document.getElementById('attachment').click()">
                <span><i class="glyphicon glyphicon-plus icon-padding"></i>上傳檔案</span>
            </button>
            <!-- 附件Grid -->
            <div id="attachmentGrid"
                 data-kendo-grid="viewModel.attachmentGrid"
                 data-k-options="viewModel.attachmentGridOptions"
                 data-k-ng-delay="viewModel.attachmentGridOptions.dataSource"
                 style="width: 100%;height:150px;overflow-x:hidden;overflow-y:auto">
            </div>
            <!--attachmentGridRowTemplate-->
            <script id="attachmentGridRowTemplate" type="text/x-kendo-tmpl">
                <tr data-uid="#: uid #"
                    ng-if="dataItem.entityState != 'Detached' && dataItem.entityState != 'Deleted'">
                    <td><center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteAttachment(dataItem)" data-ng-if="shareModel.userInfos.userNo == dataItem.systemUser" /></center></td>
                    <td><center><img data-ng-src="http://i.imgur.com/wtRl5iU.jpg" style="width:20px;height:20px;" data-ng-click="downloadAttachment(dataItem)" /></center></td>
                    <td>{{dataItem.attachName}}</td>
                </tr>
            </script>
        </div>
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="viewModel.repairMtInfo.repairAttaches = viewModel.attachmentGrid.dataSource.data();viewModel.attachWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.attachWindow.close();">取消</button>
        </div>
    </div>
</div>
