﻿<div ng-controller="pronunciationBodyController" class="contentClass2">
    <form class="formsDocument">
        <!--表單內容-->
        <div class="formsDocumentBody" id="printSection1">
            <table class="table table-condensed" style="width:100%">
                <!--診斷-->
                <tr>
                    <td style="width:80px" align="right" class="warning">{{viewModel.document.body.diag.title}}</td>
                    <td>
                        <textarea class="k-textbox" data-ng-model="viewModel.document.body.diag.value" style="width: 100%; height: 50px;resize: none;overflow:auto"></textarea>
                    </td>
                </tr>
                <!--教育程度-->
                <tr>
                    <td align="right" class="warning">{{viewModel.document.body.education.title}}</td>
                    <td>
                        <input type="text" class="k-textbox" data-ng-model="viewModel.document.body.education.value" style="width: 300px"/>
                    </td>
                </tr>
            </table>
            <table class="table table-condensed" style="width:100%">
                <!--一、語詞測驗-->
                <tr>
                    <td colspan="2">
                        <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.wordsQuiz.title}}</span>
                        </div>
                    </td>
                </tr>
                <tbody data-ng-repeat="item in viewModel.document.body.wordsQuiz.details">
                    <tr class="warning" data-ng-if="$last"><td colspan="2"><h4>{{item.title}}</h4></td></tr>
                    <tr data-ng-repeat="question in item.questions">
                        <td width="150px" data-ng-bind-html="question.title"></td>
                        <td><input type="text" class="k-textbox" data-ng-model="question.value" style="width: 300px" /></td>
                    </tr>
                </tbody>
                <!--二、構音器官檢查-->
                <tr>
                    <td colspan="2">
                        <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.articulation.title}}</span>
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat="item in viewModel.document.body.articulation.details">
                    <td width="70px" align="left" class="warning">{{item.title}}</td>
                    <td>
                        <input type="text" class="k-textbox" data-ng-model="item.value" style="width: 300px" />
                    </td>
                </tr>
                <!--三、句子-->
                <tr>
                    <td colspan="2">
                        <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.sentence.title}}</span>
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat="item in viewModel.document.body.sentence.details">
                    <td width="70px" align="left" class="warning">{{item.title}}</td>
                    <td>
                        <input type="text" class="k-textbox" data-ng-model="item.value" style="width: 300px" />
                    </td>
                </tr>
                <!--四、診斷-->
                <tr>
                    <td colspan="2">
                        <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.diagnosis.title}}</span>
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat="item in viewModel.document.body.diagnosis.details">
                    <td width="70px" align="left" class="warning">{{item.title}}</td>
                    <td>
                        <input type="text" class="k-textbox" data-ng-model="item.value" style="width: 300px" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>