﻿<div data-ng-controller="empHealthManagerController">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="delete()" style="background-color: #FFE1F9">
            <span><i class="glyphicon glyphicon-trash icon-padding"></i>刪除</span>
        </button>
        <button type="button" class="k-button" data-ng-click="getRecipient(0);viewModel.noticeWindow.center().open();" style="background-color: #C5F9EE">
            <span><i class="glyphicon glyphicon-envelope icon-padding"></i>通知應檢</span>
        </button>
        <button type="button" class="k-button" data-ng-click="getRecipient(1);viewModel.noticeWindow.center().open();" style="background-color: #C5F9EE">
            <span><i class="glyphicon glyphicon-envelope icon-padding"></i>通知主管應檢</span>
        </button>
        <button type="button" class="k-button" data-ng-click="getRecipient(2);viewModel.noticeWindow.center().open();" style="background-color: #C5F9EE">
            <span><i class="glyphicon glyphicon-envelope icon-padding"></i>通知催檢</span>
        </button>
        <button type="button" class="k-button" data-ng-click="getRecipient(3);viewModel.noticeWindow.center().open();" style="background-color: #C5F9EE">
            <span><i class="glyphicon glyphicon-envelope icon-padding"></i>通知主管催檢</span>
        </button>
        <button type="button" class="k-button" data-ng-click="getRecipient(4);viewModel.noticeWindow.center().open();" style="background-color: #C5F9EE">
            <span><i class="glyphicon glyphicon-envelope icon-padding"></i>通知未完成</span>
        </button>
        <button type="button" class="k-button" data-ng-click="getRecipient(5);viewModel.noticeWindow.center().open();" style="background-color: #C5F9EE" data-ng-if="false">
            <span><i class="glyphicon glyphicon-envelope icon-padding"></i>通知領取報告</span>
        </button>
        <button type="button" class="k-button" data-ng-click="getRecipient(6);viewModel.noticeWindow.center().open();" style="background-color: #F5C2C2">
            <span><i class="glyphicon glyphicon-envelope icon-padding"></i>通知緩發三節獎金</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="export()">
            <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出</span>
        </button>
        <input type="file" data-ng-show="false" id="attachment" onchange="angular.element(this).scope().handleFiles(this.files)" accept="*">
    </div>
    <!-- 下方內容 -->
    <div style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 0.4em 0em; ">
        <!-- 查詢條件 -->
        <table class="table" style="margin-bottom: 0px;">
            <tr>
                <td width="30px" style="text-align: right; ">
                    <img src="Content/Images/search_24.png" alt="Search" class="template-button-img">
                </td>
                <td width="120px">
                    <font>請輸入查詢條件：</font>
                </td>
                <td width="280px">
                    健檢類別：
                    <select data-kendo-drop-down-list data-ng-model="viewModel.searchType" style="width:200px">
                        <option value="">--請選擇--</option>
                        <option value=10>主管健檢</option>
                        <option value=11>主管健檢&校院務</option>
                        <option value=12>主管健檢&透析</option>
                        <option value=13>主管健檢&輻防</option>
                        <option value=14>主管健檢+透析&校院務</option>
                        <option value=15>主管健檢+輻防&校院務</option>
                        <option value=21>員工普通健檢</option>
                        <option value=22>員工進階健檢</option>
                        <option value=31>司機普通健檢</option>
                        <option value=32>司機進階健檢</option>
                        <option value=41>輻防普通健檢</option>
                        <option value=42>輻防進階健檢</option>
                        <option value=51>供膳普通健檢</option>
                        <option value=52>供膳進階健檢</option>
                        <option value=61>透析普通健檢</option>
                        <option value=62>透析進階健檢</option>
                        <option value=71>檢驗部普通健檢</option>
                        <option value=72>檢驗部進階健檢</option>
                        <option value=99>免檢</option>
                    </select>
                </td>
                <td width="130px">
                    年度：
                    <input data-kendo-date-picker data-k-ng-model="viewModel.searchYear" data-k-options="viewModel.searchYearPickerOptions" style="width:80px" />
                </td>
                <td width="340px">
                    部門名稱：
                    <select data-kendo-drop-down-list required
                            data-k-filter="'contains'"
                            data-k-data-text-field="'departName'"
                            data-k-data-value-field="'departNo'"
                            data-k-data-source="viewModel.deptList"
                            data-ng-model="viewModel.searchDept"
                            style="width: 250px"></select>
                </td>
                <td width="160px">
                    應檢月份：
                    <select data-kendo-drop-down-list data-ng-model="viewModel.searchStartMonth" style="width:75px">
                        <option value=""></option>
                        <option value=1>1月</option>
                        <option value=2>2月</option>
                        <option value=3>3月</option>
                        <option value=4>4月</option>
                        <option value=5>5月</option>
                        <option value=6>6月</option>
                        <option value=7>7月</option>
                        <option value=8>8月</option>
                        <option value=9>9月</option>
                        <option value=10>10月</option>
                        <option value=11>11月</option>
                        <option value=12>12月</option>
                    </select>
                </td>
                <td width="105px">
                    至
                    <select data-kendo-drop-down-list data-ng-model="viewModel.searchEndMonth" style="width:75px">
                        <option value=""></option>
                        <option value=1>1月</option>
                        <option value=2>2月</option>
                        <option value=3>3月</option>
                        <option value=4>4月</option>
                        <option value=5>5月</option>
                        <option value=6>6月</option>
                        <option value=7>7月</option>
                        <option value=8>8月</option>
                        <option value=9>9月</option>
                        <option value=10>10月</option>
                        <option value=11>11月</option>
                        <option value=12>12月</option>
                    </select>
                </td>
                <td width="170px">
                    員工代號：
                    <input type="text" class="k-textbox" data-ng-model="viewModel.searchEmpCode" style="width:80px" />
                </td>
                <td>
                    <button type="button" class="k-button" data-ng-click="search()">
                        <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                    </button>
                </td>
            </tr>
        </table>
        <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
        <!-- 員工清單Grid -->
        <div id="employeeGrid"
             data-kendo-grid="viewModel.employeeGrid"
             data-k-options="viewModel.employeeGridOptions"
             data-k-ng-delay="viewModel.employeeGridOptions.dataSource"
             style="width: 100%;">
        </div>
    </div>
    <!-- 通知視窗 -->
    <div data-kendo-window="viewModel.noticeWindow" data-k-title="'發送通知確認視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="720" data-k-width="1000">
        <div style="margin:5px;width:100%">
            <font size="3" color="#337AB7">信件標題：</font><input type="text" class="k-textbox" data-ng-model="viewModel.notice[viewModel.noticeNo].title" style="width:500px" /><br/>
            <font size="3" color="#337AB7">收件者：</font><span data-ng-repeat="item in viewModel.recipient">{{item}}<span data-ng-if="!$last">、</span></span><br />
            &emsp;&emsp;共{{viewModel.recipient.length}}位收信者<br />
            <font size="3" color="#337AB7">信件內容：</font>
            <textarea data-kendo-editor data-k-ng-model="viewModel.notice[viewModel.noticeNo].content" data-k-options="viewModel.editorOptions" style="width: 100%; height: 400px; resize: none;overflow-x:hidden;overflow-y:auto" ></textarea>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid white; ">
            <button type="button" class="btn btn-default" onclick="document.getElementById('attachment').click()">
                <span><i class="glyphicon glyphicon-plus icon-padding"></i>上傳檔案</span>
            </button>
            <!-- 附件Grid -->
            <div id="attachmentGrid"
                 data-kendo-grid="viewModel.attachmentGrid"
                 data-k-options="viewModel.attachmentGridOptions"
                 data-k-ng-delay="viewModel.attachmentGridOptions.dataSource"
                 style="width: 100%;height:105px;overflow-x:hidden;overflow-y:auto">
            </div>
        </div>
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="sendEmail()">送出</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.noticeWindow.close();">取消</button>
        </div>
    </div>
</div>
