﻿<div data-ng-controller="supervisorManagerController" class="row" style="margin:1px">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="save()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="clearSupervisor()">
            <span><i class="glyphicon glyphicon-trash icon-padding"></i>清除個人主管</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div class="contentClass">
        <table class="table">
            <tr>
            <tr>
                <td width="30px" colspan="2">
                    <img src="Content/Images/search_24.png" class="template-button-img">
                    查詢條件：
                    部門名稱：
                    <select data-kendo-drop-down-list required
                            data-k-filter="'contains'"
                            data-k-data-text-field="'departName'"
                            data-k-data-value-field="'departNo'"
                            data-k-data-source="viewModel.deptList"
                            data-ng-model="viewModel.searchDept"
                            style="width: 250px"></select>
                    <button type="button" class="k-button" data-ng-click="search()">
                        <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                    </button>
                </td>
            </tr>
                <td width="50%" rowspan="2">
                    <!-- 部門清單TreeList -->
                    <div id="supervisorTreeList"
                         data-kendo-tree-list="viewModel.supervisorTreeList"
                         data-k-options="viewModel.supervisorTreeListOptions"
                         style="width: 100%;">
                    </div>
                </td>
                <td>
                    <div class="contentClass2" style="border:1px solid #ccc;background-color:#f5f5f5;border-radius:4px;overflow-x:hidden;overflow-y:auto">
                        <button type="button" class="btn btn-default" data-ng-click="addSupervisor('Depart')" style="margin:11px">
                            <span><i class="glyphicon glyphicon-plus icon-padding"></i>部門主管新增</span>
                        </button>
                        <!-- 右上 - 部門主管 -->
                        <!--<div id="departSupervisorGrid"
                             data-kendo-grid="viewModel.departSupervisorGrid"
                             data-k-options="viewModel.departSupervisorGridOptions"
                             data-k-ng-delay="viewModel.departSupervisorGridOptions.dataSource"
                             style="width: 100%;overflow-x:hidden;overflow-y:auto">
                        </div>-->
                        <table class="table table-striped table-bordered">
                            <tr style="background-color:#008E77;color:white">
                                <td width="50px">刪除</td>
                                <td width="50px">順序</td>
                                <td width="80px">主管代號</td>
                                <td width="80px">主管名稱</td>
                                <td width="80px">主管職等</td>
                                <td>主管職稱</td>
                                <td width="80px">主管狀況</td>
                            </tr>
                            <tbody data-ng-repeat="item in viewModel.departManagers">
                                <tr data-uid="#: uid #"
                                    ng-if="item.endDate == viewModel.endDate">
                                    <td align="center"><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteManager(item)" /></td>
                                    <td><input type="number" class="k-textbox" min="0" data-ng-model="item.levelNo" style="width: 50px" data-ng-change="editManager(item)" /></td>
                                    <!--<td><input type="text" class="k-textbox" data-ng-model="item.manager.empNo" style="width: 80px" data-ng-change="getEmpInfo(item);editManager(item)"/></td>-->
                                    <td><input type="text" class="k-textbox" data-ng-model="item.manager.empNo" style="width: 80px" data-ng-keyup="$event.keyCode != 13 ? null : getEmpInfo(item);editManager(item);" data-ng-disabled="item.entityState != 'Added'"/></td>
                                    <td>{{item.manager.empName}}</td>
                                    <td>{{item.manager.gradeCode}}</td>
                                    <td>{{item.manager.titleName}}</td>
                                    <td>{{item.manager.empStatus.optionName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="contentClass2" style="border:1px solid #ccc;background-color:#f5f5f5;border-radius:4px;overflow-x:hidden;overflow-y:auto">
                        <button type="button" class="btn btn-default" data-ng-click="addSupervisor('Person')" style="margin:11px">
                            <span><i class="glyphicon glyphicon-plus icon-padding"></i>個人主管新增</span>
                        </button>
                        <!-- 右中 - 個人主管 -->
                        <!--<div id="personSupervisorGrid"
                             data-kendo-grid="viewModel.personSupervisorGrid"
                             data-k-options="viewModel.personSupervisorGridOptions"
                             data-k-ng-delay="viewModel.personSupervisorGridOptions.dataSource"
                             style="width: 100%;overflow-x:hidden;overflow-y:auto">
                        </div>-->
                        <table class="table table-striped table-bordered">
                            <tr style="background-color:#008E77;color:white">
                                <td width="50px">刪除</td>
                                <td width="50px">順序</td>
                                <td width="80px">主管代號</td>
                                <td width="80px">主管名稱</td>
                                <td width="80px">主管職等</td>
                                <td>主管職稱</td>
                                <td width="80px">主管狀況</td>
                            </tr>
                            <tbody data-ng-repeat="item in viewModel.dataItem.managers">
                                <tr data-uid="#: uid #"
                                    ng-if="item.endDate == viewModel.endDate">
                                    <td align="center"><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteManager(item)" /></td>
                                    <td><input type="number" class="k-textbox" min="0" data-ng-model="item.levelNo" style="width: 50px" data-ng-change="editManager(item)"/></td>
                                    <!--<td><input type="text" class="k-textbox" data-ng-model="item.manager.empNo" style="width: 80px" data-ng-change="getEmpInfo(item);editManager(item)" /></td>-->
                                    <td><input type="text" class="k-textbox" data-ng-model="item.manager.empNo" style="width: 80px" data-ng-keyup="$event.keyCode != 13 ? null : getEmpInfo(item);editManager(item);"/></td>
                                    <td>{{item.manager.empName}}</td>
                                    <td>{{item.manager.gradeCode}}</td>
                                    <td>{{item.manager.titleName}}</td>
                                    <td>{{item.manager.empStatus.optionName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!--departSupervisorGridRowTemplate-->
    <script id="departSupervisorGridRowTemplate" type="text/x-kendo-tmpl">
        <tr data-uid="#: uid #"
            ng-if="dataItem.entityState!='Detached' && dataItem.entityState!='Deleted'">
            <td>
                <center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteManager(dataItem)" /></center>
            </td>
            <td>{{dataItem.levelNo}}</td>
            <td>{{dataItem.manager.empNo}}</td>
            <td>{{dataItem.manager.empName}}</td>
        </tr>
    </script>
    <!--personSupervisorGridRowTemplate-->
    <script id="personSupervisorGridRowTemplate" type="text/x-kendo-tmpl">
        <tr data-uid="#: uid #"
            ng-if="dataItem.entityState!='Detached' && dataItem.entityState!='Deleted'">
            <td>
                <center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteManager(dataItem)" /></center>
            </td>
            <td>{{dataItem.levelNo}}</td>
            <td>{{dataItem.manager.empNo}}</td>
            <td>{{dataItem.manager.empName}}</td>
        </tr>
    </script>
    <!-- 舊的兩個頁面 -->
    <!--<div data-kendo-tab-strip id="tabstrip">
        <ul>
            <li class="k-state-active">部門管理</li>
            <li>個人管理</li>
        </ul>
        <div class="contentClass">
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="add()">
                    <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="save()">
                    <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
                </button>
            </div>
            <div class="contentClass2" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto" data-ng-init="setResignManagerHeight()">
                <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                    <tr>
                        <td width="30px" rowspan="2">
                            <img src="Content/Images/search_24.png" class="template-button-img">
                            查詢條件：
                            部門名稱：
                            <select data-kendo-drop-down-list required
                                    data-k-filter="'contains'"
                                    data-k-data-text-field="'departName'"
                                    data-k-data-value-field="'departNo'"
                                    data-k-data-source="viewModel.deptList"
                                    data-ng-model="viewModel.searchDept"
                                    style="width: 250px"></select>
                            <button type="button" class="k-button" data-ng-click="search()">
                                <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <div id="supervisorListGrid"
                     data-kendo-grid="viewModel.supervisorListGrid"
                     data-k-options="viewModel.supervisorListGridOptions"
                     data-k-ng-delay="viewModel.supervisorListGridOptions.dataSource"
                     style="width: 100%;overflow-x:hidden;overflow-y:auto">
                </div>
            </div>
        </div>
        <div class="contentClass">
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="viewModel.attachWindow.center().open();">
                    <span><i class="glyphicon glyphicon-paperclip icon-padding"></i>附件</span>
                </button>
            </div>
            <div class="contentClass2" style="overflow-x:hidden;overflow-y: auto;">
                <fieldset data-ng-disabled="true">
                    <div class="contentClass2" data-ng-include="viewModel.templateUrl"></div>
                </fieldset>
            </div>
        </div>
    </div>-->
</div>