﻿<div data-ng-controller="cancerCaseManagerController">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="getMedicalHomeC()">
            <span><i class="glyphicon glyphicon-globe icon-padding"></i>病歷首頁-C</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="getMedicalHomeD()">
            <span><i class="glyphicon glyphicon-globe icon-padding"></i>病歷首頁-D</span>
        </button>
        <input type="file" data-ng-show="false" id="attachment" multiple="multiple" onchange="angular.element(this).scope().handleFiles()" accept="*">
    </div>
    <!-- 下方內容 -->
    <div class="contentClass" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 0.4em 0em;overflow-x:hidden;overflow-y:hidden" data-ng-if="executingAppStore.appId == 75">
        <div kendo-tab-strip class="contentClass" data-ng-init="setHeight()">
            <ul>
                <li class="k-state-active">個案管理</li>
                <li>治療表單</li>
                <li>治療紀錄</li>
                <li>治療診斷</li>
                <li>追蹤紀錄</li>
                <li>團隊會議</li>
            </ul>
            <!-- 個案管理 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                <!-- 上排按鈕 -->
                <div class="top-toolbar">
                    <button type="button" class="btn btn-default" data-ng-click="save(viewModel.document1)">
                        <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
                    </button>
                </div>
                <table class="table table-striped" style="width:100%">
                    <tbody>
                        <tr>
                            <td colspan="6">
                                <legend class="info-title" style="margin-top:-30px;margin-bottom:0px">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <span>基本資料</span>
                                </legend>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>病歷號碼：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    {{viewModel.document1.body.chartNo}}
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>個案號碼：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    {{viewModel.document1.body.caseNo}}
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>是否初診：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    {{viewModel.document1.body.isFirstVisit == false ? '否' : '是'}}
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>病人姓名：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    {{viewModel.document1.body.ptName}}
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>病人性別：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    {{viewModel.document1.body.sex.optionName}}
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>出生日期：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    {{viewModel.document1.body.birthday | date:'yyyy-MM-dd'}}
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>電話一：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.phone1" style="width: 150px" />
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>電話二：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.phone2" style="width: 150px" />
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>行動電話：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.cellPhone" style="width: 150px" />
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>聯絡人：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.contactPerson" style="width: 150px" />
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>電話：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.contactPersonPhone" style="width: 150px" />
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>行動電話：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.contactPersonCellPhone" style="width: 150px" />
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>住址：</strong>
                                </font>
                            </td>
                            <td colspan="5">
                                <font size="3" class="ng-binding">
                                    <textarea class="k-textbox" data-ng-model="viewModel.document1.body.address" style="width: 100%; height: 50px;resize: none;overflow:auto"></textarea>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>家族史：</strong>
                                </font>
                            </td>
                            <td colspan="5">
                                <font size="3" class="ng-binding">
                                    <textarea class="k-textbox" data-ng-model="viewModel.document1.body.family" style="width: 100%; height: 50px;resize: none;overflow:auto"></textarea>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <legend class="info-title" style="margin-top:-15px;margin-bottom:0px">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <span>收案資料</span>
                                </legend>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>收案類別：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="radio" name="caseType" value="new" data-ng-model="viemModel.caseManagement.caseType" />新案
                                    <input type="radio" name="caseType" value="reOpen" data-ng-model="viemModel.caseManagement.caseType" />再開案
                                    <input type="radio" name="caseType" value="old" data-ng-model="viemModel.caseManagement.caseType" />舊案
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>收案來源：</strong>
                                </font>
                            </td>
                            <td colspan="3">
                                <font size="3" class="ng-binding">
                                    <input type="radio" name="caseSource" value="O" data-ng-model="viemModel.caseManagement.caseSource" />門診
                                    <input type="radio" name="caseSource" value="A" data-ng-model="viemModel.caseManagement.caseSource" />住院
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>收案日期：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    {{viewModel.document1.body.startDate | date:'yyyy-MM-dd'}}
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>收案個管師：</strong>
                                </font>
                            </td>
                            <td colspan="3">
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.caseManagerUser.empNo" data-ng-change="getEmpName(viewModel.document1.body.caseManagerUser)" style="width: 150px" />{{viewModel.document1.body.caseManagerUser.empName}}
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>手術醫師：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.surgeonUser.empNo" data-ng-change="getEmpName(viewModel.document1.body.surgeonUser)" style="width: 150px" />{{viewModel.document1.body.surgeonUser.empName}}
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>化療醫師：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.chemotherapyUser.empNo" data-ng-change="getEmpName(viewModel.document1.body.chemotherapyUser)" style="width: 150px" />{{viewModel.document1.body.chemotherapyUser.empName}}
                                </font>
                            </td>
                            <td align="right">
                                <font size="3" color="#337AB7">
                                    <strong>放療醫師：</strong>
                                </font>
                            </td>
                            <td>
                                <font size="3" class="ng-binding">
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiotherapyUser.empNo" data-ng-change="getEmpName(viewModel.document1.body.radiotherapyUser)" style="width: 150px" />{{viewModel.document1.body.radiotherapyUser.empName}}
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <legend class="info-title" style="margin-top:-15px;margin-bottom:0px">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <span>病患治療登錄</span>
                                </legend>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <font size="3" color="#337AB7">
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.radiationTherapy.value" data-ng-true-value="true" data-ng-false-value="false" />放射線治療
                                </font>
                            </td>
                            <td colspan="5">
                                <div data-ng-if="viewModel.document1.body.radiationTherapy.value == 'true'">
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.radiationTherapy.preoperative" data-ng-true-value="true" data-ng-false-value="false" />術前<br />
                                    <div data-ng-if="viewModel.document1.body.radiationTherapy.preoperative == 'true'">
                                        &emsp;&emsp;Primary tumor Dose：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.prePTD" style="width: 100px" maxlength="5" />&emsp;
                                        Fractions：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.prePTDF" style="width: 100px" maxlength="3" /><br />
                                        &emsp;&emsp;Regional lymphatics：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.preRL" style="width: 100px" maxlength="5" />&emsp;
                                        Fractions：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.preRLF" style="width: 100px" maxlength="3" /><br />
                                        &emsp;&emsp;<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.preOther" style="width: 128px" />
                                        ：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.preOther2" style="width: 100px" maxlength="5" />&emsp;
                                        Fractions：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.preOtherF" style="width: 100px" maxlength="3" /><br />
                                    </div>
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.radiationTherapy.postoperative" data-ng-true-value="true" data-ng-false-value="false" />術後<br />
                                    <div data-ng-if="viewModel.document1.body.radiationTherapy.postoperative == 'true'">
                                        &emsp;&emsp;Primary tumor Dose：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.postPTD" style="width: 100px" maxlength="5" />&emsp;
                                        Fractions：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.postPTDF" style="width: 100px" maxlength="3" /><br />
                                        &emsp;&emsp;Regional lymphatics：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.postRL" style="width: 100px" maxlength="5" />&emsp;
                                        Fractions：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.postRLF" style="width: 100px" maxlength="3" /><br />
                                        &emsp;&emsp;<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.postOther" style="width: 128px" />
                                        ：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.postOther2" style="width: 100px" maxlength="5" />&emsp;
                                        Fractions：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.radiationTherapy.postOtherF" style="width: 100px" maxlength="3" /><br />
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <font size="3" color="#337AB7">
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.chemoTherapy.value" data-ng-true-value="true" data-ng-false-value="false" />化學藥物治療
                                </font>
                            </td>
                            <td colspan="5">
                                <div data-ng-if="viewModel.document1.body.chemoTherapy.value == 'true'">
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.chemoTherapy.preoperative" data-ng-true-value="true" data-ng-false-value="false" />術前<br />
                                    <div data-ng-if="viewModel.document1.body.chemoTherapy.preoperative == 'true'">
                                        &emsp;&emsp;Regimen：
                                        <select data-kendo-drop-down-list data-ng-model="viewModel.document1.body.chemoTherapy.preR" style="width:170px">
                                            <option value="Cisplatin">Cisplatin</option>
                                            <option value="5-FU">5-FU</option>
                                            <option value="Carboplatin">Carboplatin</option>
                                            <option value="Cisplatin + 5-FU">Cisplatin + 5-FU</option>
                                            <option value="Carboplatin + 5-FU">Carboplatin + 5-FU</option>
                                            <option value="TPF">TPF</option>
                                            <option value="other">other</option>
                                        </select>
                                        &emsp;Other：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.chemoTherapy.preO" style="width: 100px" />
                                    </div>
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.chemoTherapy.postoperative" data-ng-true-value="true" data-ng-false-value="false" />術後<br />
                                    <div data-ng-if="viewModel.document1.body.chemoTherapy.postoperative == 'true'">
                                        &emsp;&emsp;Regimen：
                                        <select data-kendo-drop-down-list data-ng-model="viewModel.document1.body.chemoTherapy.postR" style="width:170px">
                                            <option value="Cisplatin">Cisplatin</option>
                                            <option value="5-FU">5-FU</option>
                                            <option value="Carboplatin">Carboplatin</option>
                                            <option value="Cisplatin + 5-FU">Cisplatin + 5-FU</option>
                                            <option value="Carboplatin + 5-FU">Carboplatin + 5-FU</option>
                                            <option value="TPF">TPF</option>
                                            <option value="other">other</option>
                                        </select>
                                        &emsp;Other：<input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.chemoTherapy.postO" style="width: 100px" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <font size="3" color="#337AB7">
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.targetDrugTherapy.value" data-ng-true-value="true" data-ng-false-value="false" />標靶藥物治療
                                </font>
                            </td>
                            <td colspan="5">
                                <div data-ng-if="viewModel.document1.body.targetDrugTherapy.value == 'true'">
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.targetDrugTherapy.erbitux" data-ng-true-value="true" data-ng-false-value="false" />Erbitux&emsp;
                                    <input type="checkbox" data-ng-model="viewModel.document1.body.targetDrugTherapy.other" data-ng-true-value="true" data-ng-false-value="false" />Other：
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.document1.body.targetDrugTherapy.other2" style="width: 100px" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 治療表單 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                <div class="contentClass2" style="width:30%;float:left;overflow-x:hidden;overflow-y:auto">
                    <table class="table">
                        <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                            <tr>
                                <td>治療期</td>
                            </tr>
                        </tbody>
                        <tr data-ng-repeat="item in viewModel.caseViewList"
                            data-ng-click="viewModel.caseViewList2 = item.children;changeBgColor(viewModel.caseViewList,$index)"
                            style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                            <td>{{item.title}}</td>
                        </tr>
                    </table>
                </div>
                <div class="contentClass2" style="width:30%;float:left;overflow-x:hidden;overflow-y:auto">
                    <table class="table">
                        <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                            <tr>
                                <td>科別</td>
                            </tr>
                        </tbody>
                        <tr data-ng-repeat="item in viewModel.caseViewList2"
                            data-ng-click="viewModel.caseViewList3 = item.caseViews;changeBgColor(viewModel.caseViewList2,$index)"
                            style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                            <td>{{item.title}}</td>
                        </tr>
                    </table>
                </div>
                <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                    <table class="table">
                        <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                            <tr>
                                <td>表單</td>
                            </tr>
                        </tbody>
                        <tr data-ng-repeat="item in viewModel.caseViewList3"
                            data-ng-click="changeBgColor(viewModel.caseViewList3,$index);changePage(item);viewModel.formContent.center().open()"
                            style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                            <td>{{getFormName(item.documentType)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- 治療紀錄 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                <!-- 查詢條件 -->
                <table class="table" style="margin-bottom:0px;">
                    <tr>
                        <td>
                            <img src="Content/Images/search_24.png" alt="Search" class="template-button-img">
                            請選擇查詢區間：
                            <select data-kendo-drop-down-list data-ng-model="viewModel.period" data-ng-change="getPeriod()" style="width:110px">
                                <option value=1>六個月內</option>
                                <option value=2>一年內</option>
                                <option value=3>二年內</option>
                                <option value=4>三年內</option>
                                <option value=5>三年以上</option>
                            </select>
                            <!--<input kendo-date-picker data-k-ng-model="viewModel.cureDate1" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                            至
                            <input kendo-date-picker data-k-ng-model="viewModel.cureDate2" data-k-format="'yyyy-MM-dd'" style="width:150px" />-->
                            <button type="button" class="btn btn-default" data-ng-click="viewModel.records = [];getVisitRecords();getMedOrders();">
                                <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
                <!-- 治療清單Grid -->
                <div id="cureListGrid"
                     data-ng-init="setCureListGridHeight()"
                     data-kendo-grid="viewModel.cureListGrid"
                     data-k-options="viewModel.cureListGridOptions"
                     data-k-ng-delay="viewModel.cureListGridOptions.dataSource"
                     style="width: 100%;overflow-x:hidden;overflow-y:auto">
                </div>
            </div>
            <!-- 治療診斷 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                <table width="100%">
                    <tr>
                        <td width="260px" valign="top">
                            <table class="table table-striped table-bordered">
                                <tr align="center" style="background-color:#58A4EF;color:white">
                                    <td width="30px">序號</td>
                                    <td width="60px">原發部位</td>
                                    <td>診斷名稱</td>
                                </tr>
                                <tbody data-ng-repeat="item in viewModel.cancerBasicInfo">
                                    <tr align="center" data-ng-click="selectBasic(item,$index);" style="background-color:{{item.backgroundColor}};cursor:pointer">
                                        <td>{{item.seqNo}}</td>
                                        <td>{{item.diagCode}}</td>
                                        <td>{{item.diagName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td valign="top">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <td align="center" style="background-color:#5F75FF;color:white" width="130px">項目</td>
                                    <td style="background-color:#5F75FF;color:white">內容</td>
                                </tr>
                                <tr>
                                    <td align="center" style="background-color:#c4caf3">組織型態</td>
                                    <td style="background-color:#c4caf3">
                                        <table width="100%">
                                            <tr align="center">
                                                <td width="50%">組織／細胞病理診斷</td>
                                                <td>外院診斷</td>
                                            </tr>
                                            <tr align="center" style="background-color:#dde0f3">
                                                <td>{{viewModel.cancerBasicDetail.pathologicalDiag}}</td>
                                                <td>{{viewModel.cancerBasicDetail.outerHospDiag}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="background-color:#c4caf3">臨床期別</td>
                                    <td style="background-color:#c4caf3">
                                        <table width="100%">
                                            <tr align="center">
                                                <td>特殊註記</td>
                                                <td>T</td>
                                                <td>N</td>
                                                <td>M</td>
                                                <td>Stage</td>
                                                <td>Other Stage1</td>
                                                <td>Other Stage2</td>
                                            </tr>
                                            <tr align="center" style="background-color:#dde0f3">
                                                <td>{{viewModel.cancerBasicDetail.clinicalStage.remark}}</td>
                                                <td>{{viewModel.cancerBasicDetail.clinicalStage.tumor}}</td>
                                                <td>{{viewModel.cancerBasicDetail.clinicalStage.node}}</td>
                                                <td>{{viewModel.cancerBasicDetail.clinicalStage.metastasis}}</td>
                                                <td>{{viewModel.cancerBasicDetail.clinicalStage.stage}}</td>
                                                <td>{{viewModel.cancerBasicDetail.clinicalStage.otherStage1}}</td>
                                                <td>{{viewModel.cancerBasicDetail.clinicalStage.otherStage2}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="background-color:#c4caf3">病理期別</td>
                                    <td style="background-color:#c4caf3">
                                        <table width="100%">
                                            <tr align="center">
                                                <td>特殊註記</td>
                                                <td>T</td>
                                                <td>N</td>
                                                <td>M</td>
                                                <td>Stage</td>
                                                <td>Other Stage1</td>
                                                <td>Other Stage2</td>
                                            </tr>
                                            <tr align="center" style="background-color:#dde0f3">
                                                <td>{{viewModel.cancerBasicDetail.pathologyStage.remark}}</td>
                                                <td>{{viewModel.cancerBasicDetail.pathologyStage.tumor}}</td>
                                                <td>{{viewModel.cancerBasicDetail.pathologyStage.node}}</td>
                                                <td>{{viewModel.cancerBasicDetail.pathologyStage.metastasis}}</td>
                                                <td>{{viewModel.cancerBasicDetail.pathologyStage.stage}}</td>
                                                <td>{{viewModel.cancerBasicDetail.pathologyStage.otherStage1}}</td>
                                                <td>{{viewModel.cancerBasicDetail.pathologyStage.otherStage2}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="background-color:#c4caf3">整併期別</td>
                                    <td style="background-color:#c4caf3">
                                        <table width="100%">
                                            <tr align="center">
                                                <td>特殊註記</td>
                                                <td>T</td>
                                                <td>N</td>
                                                <td>M</td>
                                                <td>Stage</td>
                                                <td>Other Stage1</td>
                                                <td>Other Stage2</td>
                                            </tr>
                                            <tr align="center" style="background-color:#dde0f3">
                                                <td>{{viewModel.cancerBasicDetail.combineStage.remark}}</td>
                                                <td>{{viewModel.cancerBasicDetail.combineStage.tumor}}</td>
                                                <td>{{viewModel.cancerBasicDetail.combineStage.node}}</td>
                                                <td>{{viewModel.cancerBasicDetail.combineStage.metastasis}}</td>
                                                <td>{{viewModel.cancerBasicDetail.combineStage.stage}}</td>
                                                <td>{{viewModel.cancerBasicDetail.combineStage.otherStage1}}</td>
                                                <td>{{viewModel.cancerBasicDetail.combineStage.otherStage2}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="background-color:#c4caf3">復發</td>
                                    <td style="background-color:#c4caf3">
                                        <table width="100%">
                                            <tr align="center">
                                                <td width="50%">局部</td>
                                                <td>遠端</td>
                                            </tr>
                                            <tr align="center" style="background-color:#dde0f3">
                                                <td>{{viewModel.cancerBasicDetail.localRecurrence}}</td>
                                                <td>{{viewModel.cancerBasicDetail.distantMetastases}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="background-color:#c4caf3">癌症既往史</td>
                                    <td style="background-color:#c4caf3">{{viewModel.cancerBasicDetail.cancerHistory}}</td>
                                </tr>
                                <tr>
                                    <td align="center" style="background-color:#c4caf3">共病預後因子及其他</td>
                                    <td style="background-color:#c4caf3">{{viewModel.cancerBasicDetail.prognosticFactors}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 追蹤紀錄 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                <!-- 上排按鈕 -->
                <div class="top-toolbar">
                    <button type="button" class="btn btn-default" data-ng-click="save(viewModel.document2)">
                        <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
                    </button>
                </div>
                <ul data-kendo-panel-bar>
                    <li>
                        基礎評估
                        <div>
                            <table class="table table-striped" style="width:100%">
                                <tr>
                                    <td align="right" width="150px">
                                        <font size="3" color="#337AB7">
                                            <strong>評估日期：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[0].date" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案來源：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="caseResure0" value="門診" data-ng-model="viewModel.document2.body.data[0].caseResure" />門診
                                            <input type="radio" name="caseResure0" value="住院" data-ng-model="viewModel.document2.body.data[0].caseResure" />住院
                                            <input type="radio" name="caseResure0" value="再開案" data-ng-model="viewModel.document2.body.data[0].caseResure" />再開案
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>檢查評估完成：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[0].evaluation[0]" data-ng-true-value="true" data-ng-false-value="false" />內試鏡檢查
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[0].evaluation[1]" data-ng-true-value="true" data-ng-false-value="false" />語言評估
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[0].evaluation[2]" data-ng-true-value="true" data-ng-false-value="false" />吞嚥攝影檢查
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[0].evaluation[3]" data-ng-true-value="true" data-ng-false-value="false" />吞嚥評估
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>疾病治療前主訴：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[0].complained[0]" data-ng-true-value="true" data-ng-false-value="false" />speech complaints
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[0].complained[1]" data-ng-true-value="true" data-ng-false-value="false" />swallowing complaints
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="ifShowIncompleteCause(viewModel.document2.body.data[0])">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>未完成原因：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="incompleteCause0" value="病患拒絕" data-ng-model="viewModel.document2.body.data[0].incompleteCause" />病患拒絕
                                            <input type="radio" name="incompleteCause0" value="疾病" data-ng-model="viewModel.document2.body.data[0].incompleteCause" />疾病
                                            <input type="radio" name="incompleteCause0" value="機械故障" data-ng-model="viewModel.document2.body.data[0].incompleteCause" />機械故障
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案手術日期：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[0].surgeryDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>化學治療結束日：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[0].chemoEndDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>放射線治療結束日：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[0].radiationEndDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案備註摘要：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="text" class="k-textbox" data-ng-model="viewModel.document2.body.data[0].summary" style="width: 600px" />
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    <li>
                        治療後 1~2 個月
                        <div>
                            <table class="table table-striped" style="width:100%">
                                <tr>
                                    <td align="right" width="150px">
                                        <font size="3" color="#337AB7">
                                            <strong>評估日期：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[1].date" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案現況：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="caseStatus1" value="治療中" data-ng-model="viewModel.document2.body.data[1].caseStatus" />治療中
                                            <input type="radio" name="caseStatus1" value="復發" data-ng-model="viewModel.document2.body.data[1].caseStatus" />復發
                                            <input type="radio" name="caseStatus1" value="他院治療" data-ng-model="viewModel.document2.body.data[1].caseStatus" />他院治療
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>檢查評估完成：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[1].evaluation[0]" data-ng-true-value="true" data-ng-false-value="false" />內試鏡檢查
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[1].evaluation[1]" data-ng-true-value="true" data-ng-false-value="false" />語言評估
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[1].evaluation[2]" data-ng-true-value="true" data-ng-false-value="false" />吞嚥攝影檢查
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[1].evaluation[3]" data-ng-true-value="true" data-ng-false-value="false" />吞嚥評估
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="ifShowIncompleteCause(viewModel.document2.body.data[1])">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>未完成原因：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="incompleteCause1" value="病患拒絕" data-ng-model="viewModel.document2.body.data[1].incompleteCause" />病患拒絕
                                            <input type="radio" name="incompleteCause1" value="疾病" data-ng-model="viewModel.document2.body.data[1].incompleteCause" />疾病
                                            <input type="radio" name="incompleteCause1" value="機械故障" data-ng-model="viewModel.document2.body.data[1].incompleteCause" />機械故障
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>是否結案：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="ifClosedCase1" value="是" data-ng-model="viewModel.document2.body.data[1].ifClosedCase" />是
                                            <input type="radio" name="ifClosedCase1" value="否" data-ng-model="viewModel.document2.body.data[1].ifClosedCase" />否
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="viewModel.document2.body.data[1].ifClosedCase == '是'">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>結案日期：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[1].closeCaseDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案備註摘要：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="text" class="k-textbox" data-ng-model="viewModel.document2.body.data[1].summary" style="width: 600px" />
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    <li>
                        治療後 4 個月
                        <div>
                            <table class="table table-striped" style="width:100%">
                                <tr>
                                    <td align="right" width="150px">
                                        <font size="3" color="#337AB7">
                                            <strong>評估日期：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[2].date" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案現況：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="caseStatus2" value="治療中" data-ng-model="viewModel.document2.body.data[2].caseStatus" />治療中
                                            <input type="radio" name="caseStatus2" value="復發" data-ng-model="viewModel.document2.body.data[2].caseStatus" />復發
                                            <input type="radio" name="caseStatus2" value="他院治療" data-ng-model="viewModel.document2.body.data[2].caseStatus" />他院治療
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>檢查評估完成：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[2].evaluation[0]" data-ng-true-value="true" data-ng-false-value="false" />內試鏡檢查
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[2].evaluation[1]" data-ng-true-value="true" data-ng-false-value="false" />語言評估
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[2].evaluation[2]" data-ng-true-value="true" data-ng-false-value="false" />吞嚥攝影檢查
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[2].evaluation[3]" data-ng-true-value="true" data-ng-false-value="false" />吞嚥評估
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="ifShowIncompleteCause(viewModel.document2.body.data[2])">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>未完成原因：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="incompleteCause2" value="病患拒絕" data-ng-model="viewModel.document2.body.data[2].incompleteCause" />病患拒絕
                                            <input type="radio" name="incompleteCause2" value="疾病" data-ng-model="viewModel.document2.body.data[2].incompleteCause" />疾病
                                            <input type="radio" name="incompleteCause2" value="機械故障" data-ng-model="viewModel.document2.body.data[2].incompleteCause" />機械故障
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>是否結案：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="ifClosedCase2" value="是" data-ng-model="viewModel.document2.body.data[2].ifClosedCase" />是
                                            <input type="radio" name="ifClosedCase2" value="否" data-ng-model="viewModel.document2.body.data[2].ifClosedCase" />否
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="viewModel.document2.body.data[2].ifClosedCase == '是'">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>結案原因：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="closedReason2" value="問題改善" data-ng-model="viewModel.document2.body.data[2].closedReason" />問題改善
                                            <input type="radio" name="closedReason2" value="病人拒絕" data-ng-model="viewModel.document2.body.data[2].closedReason" />病人拒絕
                                            <input type="radio" name="closedReason2" value="失聯" data-ng-model="viewModel.document2.body.data[2].closedReason" />失聯
                                            <input type="radio" name="closedReason2" value="死亡" data-ng-model="viewModel.document2.body.data[2].closedReason" />死亡
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="viewModel.document2.body.data[2].ifClosedCase == '是'">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>結案日期：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[2].closeCaseDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案備註摘要：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="text" class="k-textbox" data-ng-model="viewModel.document2.body.data[2].summary" style="width: 600px" />
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    <li>
                        治療後 1 年
                        <div>
                            <table class="table table-striped" style="width:100%">
                                <tr>
                                    <td align="right" width="150px">
                                        <font size="3" color="#337AB7">
                                            <strong>評估日期：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[3].date" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案現況：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="caseStatus3" value="治療中" data-ng-model="viewModel.document2.body.data[3].caseStatus" />治療中
                                            <input type="radio" name="caseStatus3" value="復發" data-ng-model="viewModel.document2.body.data[3].caseStatus" />復發
                                            <input type="radio" name="caseStatus3" value="他院治療" data-ng-model="viewModel.document2.body.data[3].caseStatus" />他院治療
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>檢查評估完成：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[3].evaluation[0]" data-ng-true-value="true" data-ng-false-value="false" />內試鏡檢查
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[3].evaluation[1]" data-ng-true-value="true" data-ng-false-value="false" />語言評估
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[3].evaluation[2]" data-ng-true-value="true" data-ng-false-value="false" />吞嚥攝影檢查
                                            <input type="checkbox" data-ng-model="viewModel.document2.body.data[3].evaluation[3]" data-ng-true-value="true" data-ng-false-value="false" />吞嚥評估
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="ifShowIncompleteCause(viewModel.document2.body.data[3])">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>未完成原因：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="incompleteCause3" value="病患拒絕" data-ng-model="viewModel.document2.body.data[3].incompleteCause" />病患拒絕
                                            <input type="radio" name="incompleteCause3" value="疾病" data-ng-model="viewModel.document2.body.data[3].incompleteCause" />疾病
                                            <input type="radio" name="incompleteCause3" value="機械故障" data-ng-model="viewModel.document2.body.data[3].incompleteCause" />機械故障
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>是否結案：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="ifClosedCase3" value="是" data-ng-model="viewModel.document2.body.data[3].ifClosedCase" />是
                                            <input type="radio" name="ifClosedCase3" value="否" data-ng-model="viewModel.document2.body.data[3].ifClosedCase" />否
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="viewModel.document2.body.data[3].ifClosedCase == '是'">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>結案原因：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="radio" name="closedReason3" value="問題改善" data-ng-model="viewModel.document2.body.data[3].closedReason" />問題改善
                                            <input type="radio" name="closedReason3" value="病人拒絕" data-ng-model="viewModel.document2.body.data[3].closedReason" />病人拒絕
                                            <input type="radio" name="closedReason3" value="失聯" data-ng-model="viewModel.document2.body.data[3].closedReason" />失聯
                                            <input type="radio" name="closedReason3" value="死亡" data-ng-model="viewModel.document2.body.data[3].closedReason" />死亡
                                        </font>
                                    </td>
                                </tr>
                                <tr data-ng-if="viewModel.document2.body.data[3].ifClosedCase == '是'">
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>結案日期：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input kendo-date-picker data-k-ng-model="viewModel.document2.body.data[3].closeCaseDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <font size="3" color="#337AB7">
                                            <strong>個案備註摘要：</strong>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="3" class="ng-binding">
                                            <input type="text" class="k-textbox" data-ng-model="viewModel.document2.body.data[3].summary" style="width: 600px" />
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    <li>
                        備註
                        <div>
                            <textarea class="k-textbox" data-ng-model="viewModel.document2.body.data[4].summary" style="width: 100%; height: 70px;resize: none;overflow:auto"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 團隊會議 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto" data-ng-init="initTeamMeeting()">
                <!-- 上排按鈕 -->
                <div class="top-toolbar">
                    <button type="button" class="btn btn-default" onclick="document.getElementById('attachment').click()">
                        <span><i class="glyphicon glyphicon-plus icon-padding"></i>上傳</span>
                    </button>
                    <button type="button" class="btn btn-default" data-ng-click="setCaseAttaches()">
                        <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
                    </button>
                </div>
                <div id="teamMeetingGrid"
                     data-ng-init="setTeamMeetingGridHeight()"
                     data-kendo-grid="viewModel.teamMeetingGrid"
                     data-k-options="viewModel.teamMeetingGridOptions"
                     data-k-ng-delay="viewModel.teamMeetingGridOptions.dataSource"
                     style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <!-- 下方內容 -->
    <div class="contentClass" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 0.4em 0em;overflow-x:hidden;overflow-y:hidden" data-ng-if="executingAppStore.appId != 75" data-ng-init="setHeight()">
        <div class="contentClass" style="width:30%;float:left;overflow-x:hidden;overflow-y:auto">
            <table class="table">
                <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                    <tr>
                        <td>治療期</td>
                    </tr>
                </tbody>
                <tr data-ng-repeat="item in viewModel.caseViewList"
                    data-ng-click="viewModel.caseViewList2 = item.children;changeBgColor(viewModel.caseViewList,$index)"
                    style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                    <td>{{item.title}}</td>
                </tr>
            </table>
        </div>
        <div class="contentClass" style="width:30%;float:left;overflow-x:hidden;overflow-y:auto">
            <table class="table">
                <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                    <tr>
                        <td>科別</td>
                    </tr>
                </tbody>
                <tr data-ng-repeat="item in viewModel.caseViewList2"
                    data-ng-click="viewModel.caseViewList3 = item.caseViews;changeBgColor(viewModel.caseViewList2,$index)"
                    style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                    <td>{{item.title}}</td>
                </tr>
            </table>
        </div>
        <div class="contentClass" style="overflow-x:hidden;overflow-y:auto">
            <table class="table">
                <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                    <tr>
                        <td>表單</td>
                    </tr>
                </tbody>
                <tr data-ng-repeat="item in viewModel.caseViewList3"
                    data-ng-click="changeBgColor(viewModel.caseViewList3,$index);changePage(item);viewModel.formContent.center().open()"
                    style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                    <td>{{getFormName(item.documentType)}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 表單內容 -->
    <div data-kendo-window="viewModel.formContent" data-k-title="'表單內容'"
         data-k-visible="false" data-k-resizable="true"
         data-k-modal="true" data-k-height="600" data-k-width="1000">
        <fieldset ng-disabled="true">
            <div data-ng-include="viewModel.templateUrl"></div>
        </fieldset>
    </div>
    <!--teamMeetingGridRowTemplate-->
    <script id="teamMeetingGridRowTemplate" type="text/x-kendo-tmpl">
        <tr data-uid="#: uid #"
            ng-if="dataItem.entityState != 'Detached' && dataItem.entityState != 'Deleted'">
            <td><center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteAttachment(dataItem)" /></center></td>
            <td><center><img data-ng-src="http://i.imgur.com/wtRl5iU.jpg" style="width:20px;height:20px;" data-ng-click="downloadAttachment(dataItem)" /></center></td>
            <td>{{dataItem.attachName}}</td>
        </tr>
    </script>
</div>