﻿<div ng-controller="speechImpairmentBodyController" class="contentClass2">
    <form class="formsDocument">
        <!--表單內容-->
        <div class="formsDocumentBody" id="printSection1">
            <table class="table table-condensed" style="width:100%">
                <!--I、Basic Data-->
                <tr>
                    <td colspan="2">
                        <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.basicData.title}}</span>
                        </div>
                    </td>
                </tr>
                <!--Speech-->
                <tr>
                    <td width="100px" align="right" class="warning">{{viewModel.document.body.speech.title}}</td>
                    <td><input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.speech.value" /></td>
                </tr>
                <!--Occupation-->
                <tr>
                    <td align="right" class="warning">{{viewModel.document.body.occupation.title}}</td>
                    <td><input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.occupation.value" /></td>
                </tr>
                <!--Education-->
                <tr>
                    <td align="right" class="warning">{{viewModel.document.body.education.title}}</td>
                    <td><input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.education.value" /></td>
                </tr>
                <!--Onset-->
                <tr>
                    <td align="right" class="warning">{{viewModel.document.body.onset.title}}</td>
                    <td><input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.onset.value" /></td>
                </tr>
                <!--Diagnosis-->
                <tr>
                    <td align="right" class="warning">{{viewModel.document.body.diagnosis.title}}</td>
                    <td><textarea class="k-textbox" data-ng-model="viewModel.document.body.diagnosis.value" style="width: 100%; height: 50px;resize: none;overflow:auto"></textarea></td>
                </tr>
            </table>
            <table class="table table-condensed" style="width:100%;margin-bottom:0">
                <!--II、Evaluation-->
                <tr>
                    <td colspan="2">
                        <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.evaluation.title}}</span>
                        </div>
                    </td>
                </tr>
                <!--1.Test for voluntary movement-->
                <tr>
                    <td colspan="2" class="warning"><strong>{{viewModel.document.body.evaluation1.title}}</strong></td>
                </tr>
                <tr data-ng-repeat="item in viewModel.document.body.evaluation1.value">
                    <td width="250px" align="right" class="warning">{{item.title}}</td>
                    <td>
                        <span data-ng-repeat="detail in viewModel.score">
                            <input type="radio" value="{{$index}}" data-ng-model="item.value" />{{detail.code}}
                        </span>
                    </td>
                </tr>
            </table>
            <table class="table table-condensed" style="width:100%;margin-bottom:0">
                <!--2、Phonatory-Respiratory System-->
                <tr>
                    <td colspan="2" class="warning"><strong>{{viewModel.document.body.evaluation2.title}}</strong></td>
                </tr>
                <!--a. prolonged/ㄚ/-->
                <tr>
                    <td width="150px" class="warning" align="right">{{viewModel.document.body.evaluation2a.title}}</td>
                    <td>
                        <span data-ng-repeat="item in viewModel.document.body.evaluation2a.value" style="display:inline">
                            {{item.title}}<input class="k-textbox" type="text" style="width: 300px" style="width:80px" data-ng-model="item.value" />
                        </span>(adult mean：15”)
                    </td>
                </tr>
                <!--b. voice quality-->
                <tr>
                    <td class="warning" align="right">{{viewModel.document.body.evaluation2b.title}}</td>
                    <td>
                        <div data-ng-repeat="item in viewModel.document.body.evaluation2b.value" style="display:inline">
                            <input type="checkbox" value="true"
                                   data-ng-checked="item.value == 'true'"
                                   data-ng-model="item.value" />{{item.title}}
                            <div data-ng-if="$index == 3 || $index == 6" style="display:inline"><br /></div>
                        </div>
                    </td>
                </tr>
                <!--c. pitch-->
                <tr>
                    <td class="warning" align="right">{{viewModel.document.body.evaluation2c.title}}</td>
                    <td>
                        <div data-ng-repeat="item in viewModel.document.body.evaluation2c.value" style="display:inline">
                            <input type="checkbox" value="true"
                                   data-ng-checked="item.value == 'true'"
                                   data-ng-model="item.value" />{{item.title}}
                            <div data-ng-if="$index == 2" style="display:inline"><br /></div>
                        </div>
                    </td>
                </tr>
                <!--d. loudness-->
                <tr>
                    <td class="warning" align="right">{{viewModel.document.body.evaluation2d.title}}</td>
                    <td>
                        <div data-ng-repeat="item in viewModel.document.body.evaluation2d.value" style="display:inline">
                            <input type="checkbox" value="true"
                                   data-ng-checked="item.value == 'true'"
                                   data-ng-model="item.value" />{{item.title}}
                            <div data-ng-if="$index == 2" style="display:inline"><br /></div>
                        </div>
                    </td>
                </tr>
                <!--3、Resonation System-->
                <tr>
                    <td colspan="2" class="warning"><strong>{{viewModel.document.body.evaluation3.title}}</strong></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span data-ng-repeat="item in viewModel.document.body.evaluation3.value" style="display:inline">
                            <input type="checkbox" value="true"
                                   data-ng-checked="item.value == 'true'"
                                   data-ng-model="item.value" />{{item.title}}
                        </span>
                    </td>
                </tr>
            </table>
            <table class="table table-condensed" style="width:100%;margin-bottom:0">
                <!--4、Combined System-->
                <tr>
                    <td colspan="2" class="warning"><strong>{{viewModel.document.body.evaluation4.title}}</strong></td>
                </tr>
                <!--AMR-->
                <tr>
                    <td width="50px" class="warning">{{viewModel.document.body.amr.title}}</td>
                    <td>
                        <div data-ng-repeat="item in viewModel.document.body.amr.value" style="display:inline">
                            {{item.title}}
                            <input class="k-textbox" type="text" style="width: 300px" data-ng-model="item.value" />
                            {{item.unit}}<br />
                        </div>
                    </td>
                </tr>
                <!--SMR-->
                <tr>
                    <td class="warning">{{viewModel.document.body.smr.title}}</td>
                    <td>
                        <span data-ng-repeat="item in viewModel.document.body.smr.value" style="display:inline">
                            {{item.title}}
                            <input class="k-textbox" type="text" style="width: 300px" data-ng-model="item.value" />
                            {{item.unit}}&emsp;
                        </span>
                    </td>
                </tr>
                <!--5、Articulation System-->
                <tr>
                    <td colspan="2" class="warning"><strong>{{viewModel.document.body.evaluation5.title}}</strong></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span data-ng-repeat="item in viewModel.document.body.evaluation5.value" style="display:inline">
                            <input type="checkbox" value="true"
                                   data-ng-checked="item.value == 'true'"
                                   data-ng-model="item.value" />{{item.title}}
                        </span>
                        <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.evaluation5.value[3].other" />
                    </td>
                </tr>
                <!--III、Imprssion-->
                <tr>
                    <td colspan="2">
                        <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.imprssion.title}}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span data-ng-repeat="item in viewModel.document.body.imprssion.value" style="display:inline">
                            <input type="checkbox" value="true"
                                   data-ng-checked="item.value == 'true'"
                                   data-ng-model="item.value" />{{item.title}}
                        </span>
                    </td>
                </tr>

                <!--IV、Suggestion-->
                <tr>
                    <td colspan="2">
                        <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.suggestion.title}}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span data-ng-repeat="item in viewModel.document.body.suggestion.value" style="display:inline">
                            <input type="checkbox" value="true"
                                   data-ng-checked="item.value == 'true'"
                                   data-ng-model="item.value" />{{item.title}}
                            <span data-ng-if="$index == 12">
                                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.suggestion.value[12].other" />
                            </span>
                            <br />
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>



