﻿<div ng-controller="voiceEvaluationBodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <!--過去病史-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.pastHistory.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea class="k-textbox" data-ng-model="viewModel.document.body.pastHistory.value" style="width:100%;height:50px;resize:none"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="checkbox" data-ng-model="viewModel.document.body.pastHistory1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pastHistory1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pastHistory2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pastHistory2.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pastHistory3.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pastHistory3.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pastHistory4.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pastHistory4.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pastHistory5.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pastHistory5.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pastHistory6.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pastHistory6.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pastHistory7.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pastHistory7.title}}
            </td>
        </tr>
        <!--插管病史-->
        <tr>
            <td style="width:100px" align="right" class="warning">{{viewModel.document.body.intubation.title}}</td>
            <td>
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.intubation.value" style="width:300px" />
            </td>
        </tr>
        <!--聲音病史-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.voiceHistory.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea class="k-textbox" data-ng-model="viewModel.document.body.voiceHistory.value" style="width:100%;height:50px;resize:none"></textarea>
            </td>
        </tr>
        <!--發作特徵-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.episodes.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.episodes.options" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.episodes)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--初始時間-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.initDate.title}}</td>
            <td>
                <input data-kendo-date-time-picker
                       data-k-ng-model="viewModel.document.body.initDate.value"
                       data-k-format="'yyyy-MM-dd HH:mm'" />
            </td>
        </tr>
        <!--誘發因子-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.inducingFactor.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.inducingFactor.options" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.inducingFactor)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--發聲相關之生活習慣-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.habit.title}}</span>
                </div>
            </td>
        </tr>
        <!--飲水-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.water.title}}</td>
            <td>
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.water.value" />
            </td>
        </tr>
        <!--咖啡因-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.coffee.title}}</td>
            <td>
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.coffee.value" />
            </td>
        </tr>
        <!--酒類-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.alcohol.title}}</td>
            <td>
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.alcohol.value" />
            </td>
        </tr>
        <!--抽菸-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.smokes.title}}</td>
            <td>
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.smokes.value1" style="width:50px"/>PPD For
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.smokes.value2" style="width:50px" />years;
                <input type="radio" name="smokesradio" value="quit" data-ng-model="viewModel.document.body.smokes.value3" />quit
                <input type="radio" name="smokesradio" value="not quit" data-ng-model="viewModel.document.body.smokes.value3" />not quit

            </td>
        </tr>
        <!--其他相關-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.related.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.related.options" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.related)" />{{item.title}}
                    <div data-ng-if="$index == 3" style="display:inline"><br/></div>
                </div>
            </td>
        </tr>
    </table>
    <!-- Acoustic analysis -->
    <table class="table table-condensed" style="width:100%;margin-bottom:0px">
        <!--Laryngeal/Phonatory Functional Tests-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.laryngeal.title}}</span>
                </div>
            </td>
        </tr>
        <!--Acoustic analysis-->
        <tr style="padding:0px">
            <td colspan="2" class="warning">{{viewModel.document.body.acoustic.title}}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered" style="width:100%">
        <!--標題-->
        <tr>
            <td width="70px"></td>
            <td width="40px" style="text-align:center" data-ng-repeat="item in viewModel.document.body.Fo">{{item.title}}</td>
        </tr>
        <!--Fo-->
        <tr>
            <td>Fo</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.Fo">
                <input class="k-textbox" type="text" maxlength="10" style="width: 40px" data-ng-model="viewModel.document.body.Fo[$index].value" />
            </td>
        </tr>
        <!--Jitter(rap)-->
        <tr>
            <td>Jitter(rap)</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.jitter">
                <input class="k-textbox" type="text" maxlength="10" style="width: 40px" data-ng-model="viewModel.document.body.jitter[$index].value" />
            </td>
        </tr>
        <!--HNR-->
        <tr>
            <td>HNR</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.hnr">
                <input class="k-textbox" type="text" maxlength="10" style="width: 40px" data-ng-model="viewModel.document.body.hnr[$index].value" />
            </td>
        </tr>
        <!--dB SPL-->
        <tr>
            <td>dB SPL</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.dB">
                <input class="k-textbox" type="text" maxlength="10" style="width: 40px" data-ng-model="viewModel.document.body.dB[$index].value" />
            </td>
        </tr>
        <!--L-DDK-->
        <tr>
            <td>L-DDK</td>
            <td style="text-align:center"><input class="k-textbox" type="text" maxlength="10" style="width: 40px" data-ng-model="viewModel.document.body.lddk.value" /></td>
            <td colspan="4">
                {{viewModel.document.body.rate7sec.title}}
                <input class="k-textbox" type="text" maxlength="10" style="width: 40px" data-ng-model="viewModel.document.body.rate7sec.value" />/7sec=
                <input class="k-textbox" type="text" maxlength="10" style="width: 40px" data-ng-model="viewModel.document.body.ratesec.value" />sec
            </td>
            <td colspan="3">
                <input type="checkbox" data-ng-model="viewModel.document.body.consistency.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.consistency.title}}
            </td>
            <td colspan="2">
                <input type="checkbox" data-ng-model="viewModel.document.body.devoicing.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.devoicing.title}}
            </td>
        </tr>
    </table>
    <table class="table table-condensed" style="width:100%;margin-bottom:0px">
        <!--VRP(voice range profile)-->
        <tr style="padding:0px">
            <td colspan="2" class="warning">{{viewModel.document.body.vrp.title}}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered" style="width:100%">
        <!--標題-->
        <tr>
            <td width="100px"></td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.semitones">{{item.title}}</td>
        </tr>
        <!--Hz/semitones-->
        <tr>
            <td>Hz/semitones</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.semitones">
                <input class="k-textbox" type="text" maxlength="10" style="width: 80px" data-ng-model="viewModel.document.body.semitones[$index].value" />
            </td>
        </tr>
        <!--dB range-->
        <tr>
            <td>dB range</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.dbRange">
                <input class="k-textbox" type="text" maxlength="10" style="width: 80px" data-ng-model="viewModel.document.body.dbRange[$index].value" />
            </td>
        </tr>
        <!--Range difference-->
        <tr>
            <td>Range difference</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.rangeDifference">
                <input class="k-textbox" type="text" maxlength="10" style="width: 80px" data-ng-model="viewModel.document.body.rangeDifference[$index].value" />
            </td>
        </tr>
    </table>
    <table class="table table-condensed" style="width:100%;margin-bottom:0px">
        <!--Aerodynamic-->
        <tr style="padding:0px">
            <td colspan="2" class="warning">{{viewModel.document.body.aerodynamic.title}}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered" style="width:100%">
        <!--標題-->
        <tr>
            <td width="240px"></td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.meanAirFlow">{{item.title}}<br />{{item.title2}}</td>
        </tr>
        <!--Mean air flow(L/sec)-->
        <tr>
            <td>Mean air flow(L/sec)</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.meanAirFlow">
                <input class="k-textbox" type="text" style="width: 100px" data-ng-model="viewModel.document.body.meanAirFlow[$index].value" />
            </td>
        </tr>
        <!--Mean dB SPL-->
        <tr>
            <td>Mean dB SPL</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.meanDbSpl">
                <input class="k-textbox" type="text" style="width: 100px" data-ng-model="viewModel.document.body.meanDbSpl[$index].value" />
            </td>
        </tr>
        <!--Subglottic pressure(cmH2O)-->
        <tr>
            <td>Subglottic pressure(cmH2O)</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.subglottic">
                <input class="k-textbox" type="text" style="width: 100px" data-ng-model="viewModel.document.body.subglottic[$index].value" />
            </td>
        </tr>
        <!--Glottal resistance(cmH2O/ L/sec)-->
        <tr>
            <td>Glottal resistance(cmH2O/ L/sec)</td>
            <td style="text-align:center" data-ng-repeat="item in viewModel.document.body.glottal">
                <input class="k-textbox" type="text" style="width: 100px" data-ng-model="viewModel.document.body.glottal[$index].value" />
            </td>
        </tr>

    </table>
    <table class="table table-condensed" style="width:100%">
        <!--Comments-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.comments.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea class="k-textbox" data-ng-model="viewModel.document.body.comments.value" style="width:100%;height:50px;resize:none"></textarea>
            </td>
        </tr>
    </table>
</div>



