﻿<table class="table" style="margin:0 25px 0 0">
    <tr>
        <td>
            <span style="font-size:18px; color:#008E77"><b>{{viewModel.sheetInfo[viewModel.sheetNo].chtTitle}}</b></span>
        </td>
        <td>
            <button class="pull-right btn btn-primary btn-sm" data-ng-click="apply()">
                <i class="glyphicon glyphicon-ok icon-padding"></i>套用
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr class="hr-0em3" style="border-top: 1px solid #bebebe;margin:0;">
        </td>
    </tr>
</table>
<div style="height:{{ viewModel .halfHeight; }};overflow: auto; ">
    <fieldset class="templae-fieldset ng-scope" data-ng-repeat="section in viewModel.sheetInfo[viewModel.sheetNo].sections">
        <legend class="info-title">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="info-font">{{section.chtTitle}}</span>
        </legend>
        <div data-ng-repeat="field in section.fields">
            <div data-ng-if="$first" class="container-fluid" style="background-color:#008e77;border-color:white;color:white;border:solid;padding:0px">
                <div class="{{field.cols}}">{{field.chtTitle}}</div>
                <div data-ng-repeat="block in field.blocks" class="row-fluid">
                    <div class="{{block.cols}}">{{block.chtTitle}}</div>
                </div>
            </div>
            <div data-ng-if="!$first" class="container-fluid" style="padding:0px">
                <div class="{{field.cols}}">
                    <input data-ng-if="field.type == 'checkbox'" type="checkbox" data-ng-true-value="true" data-ng-false-value="false" data-ng-model="field.value">
                </div>
                <div data-ng-repeat="block in field.blocks" class="row-fluid">
                    <div class="{{block.cols}}">{{block.chtTitle}}</div>
                </div>
            </div>
            <hr class="hr-0em2" style="border-top: 1px solid #bebebe;" data-ng-if="!$first">
        </div>
    </fieldset>
</div>