﻿<div data-ng-if="viewModel.isFormShow" style="height:{{ viewModel .fullHeight; }};overflow: auto; ">
    <table class="table">
        <tr>
            <td>
                <ul data-kendo-panel-bar id="panelBar">
                    <li style="background:#DFFFDF"
                        data-ng-click="chooseForm(item);"
                        data-ng-repeat="item in viewModel.nowTemplate">{{item.chtName}}</li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<div data-ng-if="!viewModel.isFormShow">
    <table class="table" style="margin:0 25px 0 0">
        <tr>
            <td>
                <span style="font-size:18px; color:#008E77"><b>{{viewModel.sheetInfo[viewModel.sheetNo].chtTitle}}</b></span>
            </td>
            <td>
                <button class="pull-right btn btn-primary btn-sm" data-ng-click="apply()">
                    <i class="glyphicon glyphicon-ok icon-padding"></i>套用
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr class="hr-0em3" style="border-top: 1px solid #bebebe; margin: 0;">
            </td>
        </tr>
    </table>

    <div style="height:{{ viewModel .halfHeight; }};overflow: auto; ">
        <fieldset class="templae-fieldset ng-scope" data-ng-repeat="section in viewModel.sheetInfo[viewModel.sheetNo].sections">
            <legend class="info-title">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="info-font">{{section.chtTitle}}</span>
            </legend>
            <span data-ng-repeat="field in section.fields" style="display: block; ">
                <span class="{{field.cols}}" style=" padding-left:0px;margin-bottom:10px">
                    <span data-ng-bind-html="field.chtTitle"></span>
                    <input type="{{field.type}}"
                           data-ng-if="field.type != ''"
                           data-ng-true-value="true"
                           data-ng-false-value="false"
                           data-ng-model="field.value">
                    
                    <span data-ng-bind-html="field.chtRemark"></span>
                </span>
                <span data-ng-repeat="block in field.blocks" style="display:inline">
                    <span class="{{block.cols}}" style=" padding-left:0px;margin-bottom:10px">
                        <span data-ng-bind-html="block.chtTitle"></span>
                        <input type="{{block.type}}"
                               class="k-textbox"
                               style="width:{{block.width}}px"
                               data-ng-if="block.type != '' && block.type != 'select' && block.type != 'datetime'"
                               data-ng-change="formatLimited(block.textType,block)"
                               data-ng-model="block.value">
                        <select data-kendo-drop-down-list
                                style="width:{{block.width}}px;margin-top:2px;margin-bottom:2px;"
                                data-ng-if="block.type == 'select'"
                                data-k-data-text-field="'chtTitle'"
                                data-k-data-value-field="'chtTitle'"
                                data-k-data-source="block.options"
                                data-k-ng-delay="block.options"
                                data-ng-model="block.value"></select>
                        <input data-ng-if="block.type == 'datetime'"
                               kendo-date-time-picker
                               data-ng-model="block.value"
                               data-k-culture="'zh-TW'"
                               data-k-format="'yyyy-MM-dd HH:mm'">
                        <span data-ng-bind-html="block.chtRemark"></span>
                    </span>
                </span>
            </span>
        </fieldset>
    </div>
</div>
