﻿<div style="height:{{ viewModel .fullHeight; }};width: 100%">
    <div style="text-align:center">
        <span style="font-size: 16px; font-weight: bold">{{viewModel.chtPrintTitle}}</span>
        <br />
        <span style="font-size: 18px; font-weight: bold">出院照護摘要</span>
    </div>
    <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
        <tr style="border:3">
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.ptName}}</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.chartNo}}</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">床號</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.bed.stationNo}}-{{appModel.patientInfos.bed.roomBed}}</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.sex}}</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">生日</td>
            <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.patientBirthday}}</td>
        </tr>
        <tr>
            <td width="200px" colspan="2" align="center">出院用藥</td>
            <td width="800px" colspan="8" data-ng-if="viewModel.dischargeDrug.length == 0">目前尚無此病患出院用藥！</td>
            <td width="800px" colspan="8" data-ng-if="viewModel.dischargeDrug.length != 0">
                <div data-ng-repeat="item in viewModel.dischargeDrug">
                    {{$index+1}}.{{item.drugName}}　{{item.usageName}}　{{item.usage}}　{{item.wayName}}<br />
                </div>
                <br />
                用法用量請依藥袋指示使用！
                <br />
                請勿任意更改藥物的劑量或自行停止服用！
                <br />
                您若服藥後有任何不適，請撥藥物諮詢電話：04-22052121 分機 2266，3145
            </td>
        </tr>
        <tr data-ng-repeat="item in viewModel.chtFormContents">
            <td width="200px" colspan="2" align="center" data-ng-bind-html="item.formName" data-ng-if="!!item.formContent"></td>
            <td width="800px" colspan="8" data-ng-bind-html="item.formContent" data-ng-if="!!item.formContent"></td>
        </tr>
        <tr>
            <td width="1000px" colspan="10" data-ng-if="viewModel.appointmentRecord[0] == undefined">
                您目前的狀況已較穩定，安排於 <input type="text" style="border:0px;width:150px" data-ng-model="viewModel.recordInfo.recordTime" /> 出院，
                <br />
                出院前下列事項須要提醒您，下次回門診時間：
                <br />
                暫無預約掛號！
                <br />
                <br />
                <div data-ng-if="viewModel.getBabyBack == true">
                    嬰兒室領回
                    <input type="checkbox" />男
                    <input type="checkbox" />女 嬰_____名，特此證明，領回人身分證字號：___________________
                </div>
                <br />
                <br />
                &emsp;&emsp;主護護理師：{{viewModel.recordInfo.empName}}
                <br />
                病人或家屬簽名：__________________　　簽名日期：___年___月___日
                <br />
                若您對上述注意事項有任何疑問，請撥：04-22052121 轉
                <input type="text" size="3" style="border:0px" data-ng-model="viewModel.ext" />
                <br />
                <br />
                <div style="width:100%;text-align:center">我們很樂意為您服務！</div>
            </td>
            <td width="1000px" colspan="10" data-ng-if="viewModel.appointmentRecord[0] != undefined">
                您目前的狀況已較穩定，安排於<input type="text" style="border:0px;width:150px" data-ng-model="viewModel.recordInfo.recordTime" /> 出院，
                <br />
                出院前下列事項須要提醒您，下次回門診時間：
                <br />
                <div data-ng-repeat="item in viewModel.appointmentRecord">
                    {{item.visitDateText}}&emsp;{{item.roomLocation}}　{{item.roomNo}}診　{{item.seqNo}}號　{{item.divNo}}（{{item.divName}}）　{{item.doctorName}}（{{item.doctorCode}}）<br />
                </div>
                <br />
                <div data-ng-if="viewModel.getBabyBack == true">
                    嬰兒室領回
                    <input type="checkbox" />男
                    <input type="checkbox" />女 嬰_____名，特此證明，領回人身分證字號：___________________
                </div>
                <br />
                <br />
                &emsp;&emsp;主護護理師：{{viewModel.recordInfo.empName}}
                <br />
                病人或家屬簽名：__________________　　簽名日期：___年___月___日
                <br />
                若您對上述注意事項有任何疑問，請撥：04-22052121 轉
                <input type="text" size="3" style="border:0px" data-ng-model="viewModel.ext" />
                <br />
                <br />
                <div style="width:100%;text-align:center">我們很樂意為您服務！</div>
            </td>
        </tr>
    </table>
</div>


<div style="display:none;">
    <div id="chtPrintDiv" style="margin-left:8mm;font-family:標楷體;margin-right:8mm;">
        <div style="height:{{ viewModel .fullHeight; }};width: 100%">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">{{viewModel.chtPrintTitle}}</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">出院照護摘要</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr style="border:3">
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.ptName}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.chartNo}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">床號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.bed.stationNo}}-{{appModel.patientInfos.bed.roomBed}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.sex}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">生日</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.patientBirthday}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2" align="center">出院用藥</td>
                    <td width="800px" colspan="8" data-ng-if="viewModel.dischargeDrug.length == 0">目前尚無此病患出院用藥！</td>
                    <td width="800px" colspan="8" data-ng-if="viewModel.dischargeDrug.length != 0">
                        <div data-ng-repeat="item in viewModel.dischargeDrug">
                            {{$index+1}}.{{item.drugName}}　{{item.usageName}}　{{item.usage}}　{{item.wayName}}<br />
                        </div>
                        <br />
                        用法用量請依藥袋指示使用！
                        <br />
                        請勿任意更改藥物的劑量或自行停止服用！
                        <br />
                        您若服藥後有任何不適，請撥藥物諮詢電話：04-22052121 分機 2266，3145
                    </td>
                </tr>
                <tr data-ng-repeat="item in viewModel.chtFormContents">
                    <td width="200px" colspan="2" align="center" data-ng-bind-html="item.formName" data-ng-if="!!item.formContent"></td>
                    <td width="800px" colspan="8" data-ng-bind-html="item.formContent" data-ng-if="!!item.formContent"></td>
                </tr>
                <tr>
                    <td width="1000px" colspan="10" data-ng-if="viewModel.appointmentRecord[0] == undefined">
                        您目前的狀況已較穩定，安排於 {{viewModel.recordInfo.recordTime}} 出院，<br />
                        出院前下列事項須要提醒您，下次回門診時間：<br />
                        暫無預約掛號！<br /><br />
                        <div data-ng-if="viewModel.getBabyBack == true">
                            嬰兒室領回
                            <input type="checkbox" />男
                            <input type="checkbox" />女 嬰_____名，特此證明，領回人身分證字號：___________________
                        </div>
                        <br />
                        <br />
                        &emsp;&emsp;主護護理師：{{viewModel.recordInfo.empName}}
                        <br />
                        病人或家屬簽名：__________________　　簽名日期：___年___月___日
                        <br />
                        若您對上述注意事項有任何疑問，請撥：04-22052121 轉
                        <input type="text" size="3" style="border:0px" data-ng-model="viewModel.ext" />
                        <table align="right" style="margin-right:5px;margin-bottom:5px">
                            <tr>
                                <td width="50%" align="center">
                                    Android<br /><img src="\Web\App\CareDischarge\Android 中國醫點通_1040810.png" height="70" width="70" />
                                </td>
                                <td align="center">
                                    IOS<br /><img src="\Web\App\CareDischarge\iOS中國醫點通1040810.png" height="70" width="70" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    歡迎加入中國醫點通，請用手機掃瞄QR Code
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div style="width:100%;text-align:center">我們很樂意為您服務！</div>
                    </td>
                    <td width="1000px" colspan="10" data-ng-if="viewModel.appointmentRecord[0] != undefined">
                        您目前的狀況已較穩定，安排於 {{viewModel.recordInfo.recordTime}} 出院，
                        <br />
                        出院前下列事項須要提醒您，下次回門診時間：
                        <br />
                        <div data-ng-repeat="item in viewModel.appointmentRecord">
                            {{item.visitDateText}}　{{item.roomNo}}診　{{item.seqNo}}號　{{item.divNo}}（{{item.divName}}）　{{item.doctorName}}（{{item.doctorCode}}）<br />
                        </div>
                        <br />
                        <div data-ng-if="viewModel.getBabyBack == true">
                            嬰兒室領回
                            <input type="checkbox" />男
                            <input type="checkbox" />女 嬰_____名，特此證明，領回人身分證字號：___________________
                        </div>
                        <br />
                        <br />
                        &emsp;&emsp;主護護理師：{{viewModel.recordInfo.empName}}
                        <br />
                        病人或家屬簽名：__________________　　簽名日期：___年___月___日
                        <br />
                        若您對上述注意事項有任何疑問，請撥：04-22052121 轉
                        <input type="text" size="3" style="border:0px" data-ng-model="viewModel.ext" />
                        <table align="right" style="margin-right:5px;margin-bottom:5px">
                            <tr>
                                <td width="50%" align="center">
                                    Android<br /><img src="\Web\App\CareDischarge\Android 中國醫點通_1040810.png" height="70" width="70" />
                                </td>
                                <td align="center">
                                    IOS<br /><img src="\Web\App\CareDischarge\iOS中國醫點通1040810.png" height="70" width="70" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    歡迎加入中國醫點通，請用手機掃瞄QR Code
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div style="width:100%;text-align:center">我們很樂意為您服務！</div>
                    </td>
                </tr>
            </table>
            <br/>
            <table width="100%">
                <tr>
                    <td>民國94年07月22日病歷管理委員會審核通過</td>
                    <td align="center">A55-66</td>
                    <td align="right">一式兩聯(一聯存病歷,一聯病人存查)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="engPrintDiv" style="margin-left:8mm;font-family:標楷體;margin-right:8mm;">
        <div style="height:{{ viewModel .fullHeight; }};width: 100%">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">{{viewModel.engPrintTitle}}</span>
                <br />
                <span style="font-size: 18px; font-weight: bold"><strong>Discharge Care Summary</strong></span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr style="border:3">
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">Name</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.ptName}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">ChartNo</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.chartNo}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">BedNo</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{appModel.patientInfos.bed.stationNo}}-{{appModel.patientInfos.bed.roomBed}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">Sex</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.patientSex}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">Birthday</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.patientBirthday}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2" align="center">Discharged Medicines</td>
                    <td width="800px" colspan="8" data-ng-if="viewModel.dischargeDrug.length == 0">No medication for this discharged patient！</td>
                    <td width="800px" colspan="8" data-ng-if="viewModel.dischargeDrug.length != 0">
                        <div data-ng-repeat="item in viewModel.dischargeDrug">
                            {{$index+1}}.{{item.drugName}}　{{item.usageName}}　{{item.usage}}　{{item.wayName}}<br />
                        </div>
                        <br />
                        Please follow the instructions at the medicine bag to use the dosage！
                        <br />
                        Do not arbitrarily change the dose or stop taking！
                        <br />
                        If you have any discomfort after taking medicine, please call drugs advisory Tel : 04-22052121 Ext 2266, 3145
                    </td>
                </tr>
                <tr data-ng-repeat="item in viewModel.engFormContents">
                    <td width="200px" colspan="2" align="center" data-ng-bind-html="item.formName" data-ng-if="!!item.formContent"></td>
                    <td width="800px" colspan="8" data-ng-bind-html="item.formContent" data-ng-if="!!item.formContent"></td>
                </tr>
                <tr>
                    <td width="1000px" colspan="10" data-ng-if="viewModel.appointmentRecord[0] == undefined">
                        Your current  situation has been stable,
                        <br />
                        And you are arranged to discharged on {{viewModel.recordInfo.recordTime}},
                        <br />
                        Before discharge, we would like to remind you :
                        <br />
                        Next appointment :
                        <br />
                        No appointment！
                        <br />
                        <br />
                        <div data-ng-if="viewModel.getBabyBack == true">
                            Baby room get back
                            <input type="checkbox" />male
                            <input type="checkbox" />female baby_____, hereby certify, get back people ID number：___________________
                        </div>
                        <br />
                        <br />
                        &emsp;Primary care nurse：{{viewModel.recordInfo.empName}}
                        <br />
                        Patients or families：__________________　　Signature Date：___/___/___
                        <br />
                        If you have any questions about the reminders listed above,
                        <br />
                        Please call : 04-22052121 Ext
                        <input type="text" size="3" style="border:0px" data-ng-model="viewModel.ext" />
                        <table align="right" style="margin-right:5px;margin-bottom:5px">
                            <tr>
                                <td width="50%" align="center">
                                    Android<br /><img src="\Web\App\CareDischarge\Android 中國醫點通_1040810.png" height="70" width="70" />
                                </td>
                                <td align="center">
                                    IOS<br /><img src="\Web\App\CareDischarge\iOS中國醫點通1040810.png" height="70" width="70" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    歡迎加入中國醫點通，請用手機掃瞄QR Code
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div style="width:100%;text-align:center">We will be happy to serve you！</div>
                    </td>
                    <td width="1000px" colspan="10" data-ng-if="viewModel.appointmentRecord[0] != undefined">
                        Your current  situation has been stable,
                        <br />
                        And you are arranged to discharged on {{viewModel.recordInfo.recordTime}},
                        <br />
                        Before discharge, we would like to remind you :
                        <br />
                        Next appointment :
                        <br />
                        <div data-ng-repeat="item in viewModel.appointmentRecord">
                            {{item.visitDateText}}　consultation room:{{item.roomNo}}, No:{{item.seqNo}}　{{item.divNo}}（{{item.divName}}）　{{item.doctorName}}（{{item.doctorCode}}）<br />
                        </div>
                        <br />
                        <div data-ng-if="viewModel.getBabyBack == true">
                            Baby room get back
                            <input type="checkbox" />male
                            <input type="checkbox" />female baby_____, hereby certify, get back people ID number：___________________
                        </div>
                        <br />
                        <br />
                        &emsp;Primary care nurse：{{viewModel.recordInfo.empName}}
                        <br />
                        Patients or families：__________________　　Signature Date：___/___/___
                        <br />
                        If you have any questions about the precautions listed above,
                        <br />
                        Please call : 04-22052121 Ext
                        <input type="text" size="3" style="border:0px" data-ng-model="viewModel.ext" />
                        <table align="right" style="margin-right:5px;margin-bottom:5px">
                            <tr>
                                <td width="50%" align="center">
                                    Android<br /><img src="\Web\App\CareDischarge\Android 中國醫點通_1040810.png" height="70" width="70" />
                                </td>
                                <td align="center">
                                    IOS<br /><img src="\Web\App\CareDischarge\iOS中國醫點通1040810.png" height="70" width="70" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    歡迎加入中國醫點通，請用手機掃瞄QR Code
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div style="width:100%;text-align:center">We will be happy to serve you！</div>
                    </td>
                </tr>
            </table>
            <br />
            <table width="100%">
                <tr>
                    <td>民國94年07月22日病歷管理委員會審核通過</td>
                    <td align="center">A55-66</td>
                    <td align="right">一式兩聯(一聯存病歷,一聯病人存查)</td>
                </tr>
            </table>
        </div>
    </div>
</div>