﻿<div data-ng-controller="faciltiesCheckDayListController" class="row" style="margin:1px">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="save()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
        </button>
        若您的單位分布於許多地點，則請選擇檢查地點；若無，則無需理會檢查地點。
    </div>
    <!-- 下方內容 -->
    <div id="contentDiv" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto">
        <!-- 查詢條件 -->
        <table class="table" style="margin-bottom: 0px;">
            <tr>
                <td>
                    <img src="http://i.imgur.com/6WHsWom.png" class="template-button-img">
                    檢查日期：
                    <input data-kendo-date-picker data-k-ng-model="viewModel.checkDay" data-k-options="viewModel.checkDayOption" data-on-change="getCheckList()" style="width:150px" />
                    &emsp;檢查單位：
                    <select data-kendo-drop-down-list required
                            data-k-filter="'contains'"
                            data-k-data-text-field="'departName'"
                            data-k-data-value-field="'departNo'"
                            data-k-data-source="viewModel.deptList"
                            data-on-change="getCheckList()"
                            data-ng-model="viewModel.checkDepart"
                            style="width: 250px"></select>
                    &emsp;檢查地點：
                    <select id="locationInfos0"
                            data-kendo-drop-down-list
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos[0]"
                            data-ng-model="viewModel.locationInfos0"
                            data-on-change="locationChange(0)"
                            style="width: 140px"></select>
                    <select id="locationInfos1"
                            data-kendo-drop-down-list
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos[1]"
                            data-ng-model="viewModel.locationInfos1"
                            data-on-change="locationChange(1)"
                            style="width: 60px"></select>
                    <select id="locationInfos2"
                            data-kendo-drop-down-list
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos[2]"
                            data-ng-model="viewModel.locationInfos2"
                            data-on-change="locationChange(2)"
                            style="width: 170px"></select>
                    <select id="locationInfos3"
                            data-kendo-drop-down-list
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos[3]"
                            data-ng-model="viewModel.locationInfos3"
                            data-on-change="locationChange(3)"
                            style="width: 170px"></select>
                </td>
            </tr>
            <tr>
                <td>
                    &emsp;&emsp;檢查人員：
                    {{shareModel.userInfos.userName}}
                    &emsp;上次填寫時間：
                    {{viewModel.check.checkTime == "2999-12-31T00:00:00+08:00" ? "" : viewModel.check.checkTime | date:'yyyy-MM-dd HH:mm:ss'}}
                    &emsp;上次填寫人員：
                    {{viewModel.check.checkUserName}}
                </td>
            </tr>
        </table>
        <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1;">
        <!-- 檢查表Table -->
        <table class="table-bordered" width="100%" style="font-size:16px;line-height:30px">
            <tbody data-ng-repeat="item in viewModel.check.facilitiesDts">
                <tr data-ng-if="item.itemNo % 100 == 0" style="background-color: #ABD0E0">
                    <td colspan="4" style="font-weight: bold;font-size:18px">{{item.itemName}}</td>
                </tr>
                <tr data-ng-if="item.itemNo % 100 == 0" style="background-color: #DDE8EC">
                    <td width="50px" align="center"><a data-ng-click="viewModel.select = 1;selectAll(item.itemNo)">是</a></td>
                    <td width="50px" align="center"><a data-ng-click="viewModel.select = 0;selectAll(item.itemNo)">否</a></td>
                    <td width="50px" align="center"><a data-ng-click="viewModel.select = 99;selectAll(item.itemNo)">N/A</a></td>
                    <td><a>檢查項目</a></td>
                </tr>
                <tr data-ng-if="item.itemNo % 100 != 0">
                    <td align="center"><input type="radio" data-ng-model="item.checkStatus" value="1" style="margin-left: 4px;" /></td>
                    <td align="center"><input type="radio" data-ng-model="item.checkStatus" value="0" style="margin-left: 4px; " /></td>
                    <td align="center"><input type="radio" data-ng-model="item.checkStatus" value="99" style="margin-left: 4px; " /></td>
                    <td>{{item.itemName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>