﻿<div data-ng-controller="cancerStatisticsReportController">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="export()">
            <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div class="contentClass" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 0.4em 0em;overflow-x:hidden;overflow-y:hidden">
        <!-- 查詢條件 -->
        <table class="table" style="margin-bottom:0px;">
            <tr>
                <td>
                    <img src="Content/Images/search_24.png" alt="Search" class="template-button-img">
                    個案類別：
                    <select data-kendo-drop-down-list data-ng-model="appModel.caseType" style="width:75px">
                        <option value="0"></option>
                        <option value=69>癌症</option>
                        <option value=76>中風</option>
                        <option value=77>失智</option>
                    </select>
                    查詢時間：
                    <input kendo-date-picker data-k-ng-model="viewModel.startDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                    至
                    <input kendo-date-picker data-k-ng-model="viewModel.endDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                    <button type="button" class="btn btn-default" data-ng-click="getStatistics()" data-ng-disabled="appModel.caseType == 0">
                        <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                    </button>
                </td>
            </tr>
        </table>
        <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
        <!-- 月報表Grid -->
        <font size="3" color="#337AB7">
            <strong>月報表</strong>
        </font><br />
        <div id="monthRepartGrid"
             data-kendo-grid="viewModel.monthRepartGrid"
             data-k-options="viewModel.monthRepartGridOptions"
             data-k-ng-delay="viewModel.monthRepartGridOptions.dataSource"
             style="width: 100%;">
        </div>
        <br />
        <!-- 個案追蹤報表Grid -->
        <font size="3" color="#337AB7">
            <strong>個案追蹤報表</strong>
        </font><br />
        <div id="caseRepartGrid"
             data-ng-init="setHeight()"
             data-kendo-grid="viewModel.caseRepartGrid"
             data-k-options="viewModel.caseRepartGridOptions"
             data-k-ng-delay="viewModel.caseRepartGridOptions.dataSource"
             style="width: 100%;">
        </div>
    </div>
</div>