﻿<div ng-controller="singingHandicapBodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <!--歌唱問題-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.song.title}}</span>
                </div>
            </td>
        </tr>
        <!--平常演唱歌曲類型-->
        <tr>
            <td width="130px" class="warning" align="right">{{viewModel.document.body.songType.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.songType.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.songType)" />{{item.title}}
                    <div data-ng-if="$index == 4" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--歌曲收入為-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.songIncome.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.songIncome.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.songIncome.title}}Radio" 
                           data-ng-model="viewModel.document.body.songIncome.value"/>{{item.title}}
                </div>
            </td>
        </tr>
        <!--歌唱水準等級-->
        <tr>
            <td class="warning" align="right">{{viewModel.document.body.songLevel.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.songLevel.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.songLevel.title}}Radio"
                           data-ng-model="viewModel.document.body.songLevel.value" />{{item.title}}
                    <div data-ng-if="$index == 2" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--歌唱障礙-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.question.title}}</span>
                </div>
            </td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.questionOption">
            <tr>
                <td width="280px" class="warning">{{item.title}}</td>
                <td style="vertical-align:baseline">
                    <div data-ng-repeat="item2 in item.option" style="display:inline">
                        <input type="radio" name="{{item.title}}" value="{{item2.title}}" data-ng-model="item.value" data-ng-change="statisticsScore()" />{{item2.title}}
                    </div>
                </td>
            </tr>
        </tbody>
        <tr>
            <td width="200px" class="warning">{{viewModel.document.body.statisticsScore.title}}</td>
            <td style="vertical-align:baseline">{{viewModel.document.body.statisticsScore.value}}</td>
        </tr>
    </table>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3" align="center">{{viewModel.document.body.songType.title}}</td>
                    <td width="300px" colspan="3">
                        <div data-ng-repeat="item in viewModel.document.body.songTypeOption" style="display:inline">
                            <div data-ng-if="item.value == 'true'" style="display:inline">{{item.title}}&emsp;</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="300px" colspan="3" align="center">{{viewModel.document.body.songIncome.title}}</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.songIncome.value}}</td>
                </tr>
                <tr>
                    <td width="300px" colspan="3" align="center">{{viewModel.document.body.songLevel.title}}</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.songLevel.value}}</td>
                </tr>
                <tbody data-ng-repeat="item in viewModel.document.body.questionOption">
                    <tr>
                        <td width="300px" colspan="3" align="center">{{item.title}}</td>
                        <td width="300px" colspan="3">{{item.value2}}</td>
                    </tr>

                </tbody>
                <tr>
                    <td width="300px" colspan="3" align="center">統計分數</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.statisticsScore.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



