﻿<div data-ng-controller="maintenanceStatisticsController" class="row" style="margin:1px">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="export()">
            <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div data-kendo-tab-strip id="tabstrip">
        <ul>
            <li class="k-state-active">設備維修率直條圖</li>
            <li>設備完成率</li>
            <li>維修明細直條圖</li>
            <li>維修明細折線圖</li>
            <li>設備完成率</li>
            <li>設備維修率直條圖</li>
            <li>人員完成率</li>
        </ul>
        <!-- 設備維修率直條圖 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        申請日期：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.startDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />
                        至
                        <input data-kendo-date-picker data-k-ng-model="viewModel.endDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />
                        <button type="button" class="k-button" data-ng-click="getDayReport(2)">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 統計報表Grid -->
            <div id="reportGrid1"
                 data-kendo-grid="viewModel.reportGrid1"
                 data-k-options="viewModel.reportGrid1Options"
                 data-k-ng-delay="viewModel.reportGrid1Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
            <!-- 直條圖 -->
            <div id="reportChart1"
                 data-kendo-chart="viewModel.reportChart1"
                 data-k-options="viewModel.reportChart1Options"
                 data-k-ng-delay="viewModel.reportChart1Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:hidden">
            </div>
        </div>
        <!-- 設備完成率 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        檢查月份：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkStartMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        至
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkEndMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        <button type="button" class="k-button" data-ng-click="getDayReport(1)">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 統計報表Grid -->
            <div id="reportGrid2"
                 data-kendo-grid="viewModel.reportGrid2"
                 data-k-options="viewModel.reportGrid2Options"
                 data-k-ng-delay="viewModel.reportGrid2Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
        </div>
        <!-- 維修明細直條圖 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        檢查月份：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkStartMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        至
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkEndMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        <button type="button" class="k-button" data-ng-click="getDayReport(1)">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 統計報表Grid -->
            <div id="reportGrid3"
                 data-kendo-grid="viewModel.reportGrid3"
                 data-k-options="viewModel.reportGrid3Options"
                 data-k-ng-delay="viewModel.reportGrid3Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
            <!-- 直條圖 -->
            <div id="reportChart3"
                 data-kendo-chart="viewModel.reportChart3"
                 data-k-options="viewModel.reportChart3Options"
                 data-k-ng-delay="viewModel.reportChart3Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:hidden">
            </div>
        </div>
        <!-- 維修明細折線圖 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        檢查月份：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkStartMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        至
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkEndMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        <button type="button" class="k-button" data-ng-click="getDayReport(1)">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 統計報表Grid -->
            <div id="reportGrid4"
                 data-kendo-grid="viewModel.reportGrid4"
                 data-k-options="viewModel.reportGrid4Options"
                 data-k-ng-delay="viewModel.reportGrid4Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
            <!-- 折線圖 -->
            <div id="reportChart4"
                 data-kendo-chart="viewModel.reportChart4"
                 data-k-options="viewModel.reportChart4Options"
                 data-k-ng-delay="viewModel.reportChart4Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:hidden">
            </div>
        </div>
        <!-- 設備完成率 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        檢查月份：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkStartMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        至
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkEndMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        <button type="button" class="k-button" data-ng-click="getDayReport(1)">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 統計報表Grid -->
            <div id="reportGrid5"
                 data-kendo-grid="viewModel.reportGrid5"
                 data-k-options="viewModel.reportGrid5Options"
                 data-k-ng-delay="viewModel.reportGrid5Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
        </div>
        <!-- 設備維修率直條圖 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        檢查月份：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkStartMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        至
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkEndMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        <button type="button" class="k-button" data-ng-click="getDayReport(1)">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 統計報表Grid -->
            <div id="reportGrid6"
                 data-kendo-grid="viewModel.reportGrid6"
                 data-k-options="viewModel.reportGrid6Options"
                 data-k-ng-delay="viewModel.reportGrid6Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
            <!-- 直條圖 -->
            <div id="reportChart6"
                 data-kendo-chart="viewModel.reportChart6"
                 data-k-options="viewModel.reportChart6Options"
                 data-k-ng-delay="viewModel.reportChart6Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:hidden">
            </div>
        </div>
        <!-- 人員完成率 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        檢查月份：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkStartMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        至
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkEndMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        <button type="button" class="k-button" data-ng-click="getDayReport(1)">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 統計報表Grid -->
            <div id="reportGrid7"
                 data-kendo-grid="viewModel.reportGrid7"
                 data-k-options="viewModel.reportGrid7Options"
                 data-k-ng-delay="viewModel.reportGrid7Options.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
        </div>
    </div>
</div>
