﻿<div ng-controller="strobosEvaluationBodyController" class="contentClass2">
    <div data-ng-repeat="item in viewModel.videoPaths" data-ng-if="viewModel.document.documentNo != 0 && viewModel.videoPaths.length != 0" style="display:inline">
        <video width="640" height="360" controls="controls" data-ng-src="{{item}}" poster="../Upload/noVedio.png" style="border:1px solid"></video>
    </div>
    <table class="table table-condensed" style="width:100%">
        <!--Glottic closure-->
        <tr>
            <td width="190px" align="right" class="warning">{{viewModel.document.body.glottic.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.glottic.option">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.glottic.title}}Radio" 
                           data-ng-model="viewModel.document.body.glottic.value" />{{item.title}}
                    <img style="width: 50px;height:50px" data-ng-src="\Component\Content\Images\ENT\{{item.src}}" />
                </div>
            </td>
        </tr>
        <!--Vocal fold edge L-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.vocalL.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.vocalL.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.vocalL.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.vocalL.value" />{{item.title}}
                </div>（0 Smooth～5 Rough）
            </td>
        </tr>
        <!--Vocal fold edge R-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.vocalR.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.vocalR.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.vocalR.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.vocalR.value" />{{item.title}}
                </div>（0 Straight～5 Irregular）
            </td>
        </tr>
        <!--Phase closure-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.phaseClosure.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.phaseClosure.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.phaseClosure.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.phaseClosure.value" />{{item.title}}
                </div><br />（-3 whisper～0 Normal～3 hyperadducation）
            </td>
        </tr>
        <!--Amplitude L-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.amplitudeL.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.amplitudeL.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.amplitudeL.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.amplitudeL.value" />{{item.title}}
                    <div data-ng-if="$index == 1 || $index == 3" style="display:inline"><br/></div>
                </div>
            </td>
        </tr>
        <!--Amplitude R-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.amplitudeR.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.amplitudeR.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.amplitudeR.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.amplitudeR.value" />{{item.title}}
                    <div data-ng-if="$index == 1 || $index == 3" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Stiffness-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.stiffness.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.stiffness.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.stiffness.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.stiffness.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Flaccidity-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.flaccidity.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.flaccidity.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.flaccidity.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.flaccidity.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Mass-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.mass.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.mass.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.mass.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.mass.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Mucosal wave L-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.mucosalL.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.mucosalL.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.mucosalL.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.mucosalL.value" />{{item.title}}
                    <div data-ng-if="$index == 1 || $index == 3" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Mucosal wave R-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.mucosalR.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.mucosalR.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.mucosalR.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.mucosalR.value" />{{item.title}}
                    <div data-ng-if="$index == 1 || $index == 3" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Non-vibrating portion L-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.portionL.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.portionL.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.portionL.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.portionL.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Non-vibrating portion R-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.portionR.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.portionR.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.portionR.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.portionR.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Phase symmetry-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.phaseSymmetry.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.phaseSymmetry.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.phaseSymmetry.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.phaseSymmetry.value" />{{item.title}}
                </div>（0 Regular～5 Irregular）
            </td>
        </tr>
        <!--Symmetry-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.symmetry.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.symmetry.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.symmetry.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.symmetry.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Movement-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.movement.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.movement.option" style="display:inline">
                    <input type="radio" name="{{viewModel.document.body.movement.title}}Radio" value="{{item.title}}" data-ng-model="viewModel.document.body.movement.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Clinical impressions-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.clinical.title}}</td>
            <td>
                <textarea class="k-textbox" data-ng-model="viewModel.document.body.clinical.value" style="width: 100%; height: 50px;resize: none;overflow:auto"></textarea>
            </td>
        </tr>
        <!--Recommendations-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.recommendations.title}}</td>
            <td>
                <textarea class="k-textbox" data-ng-model="viewModel.document.body.recommendations.value" style="width: 100%; height: 50px;resize: none;overflow:auto"></textarea>
            </td>
        </tr>
    </table>
</div>



