﻿<div ng-controller="voiceCapeBodyController" class="contentClass2">
    <button class="btn btn-default" onclick="document.getElementById('mp3File').click()">
        <i class="glyphicon glyphicon-music icon-padding" alt="上傳音訊檔"></i>上傳音訊檔
    </button>
    <input id="mp3File" style="display:none" type="file" value="上傳音訊檔" accept=".mp3" onchange="angular.element(this).scope().uploadFiles(this.files)" />
    <audio controls="controls" data-ng-src="{{viewModel.document.body.audio.value}}" data-ng-if="viewModel.document.body.audio.value != ''" style="vertical-align:middle"></audio> 
    <table class="table table-condensed" style="width:100%">
        <!--請病人依序完成以下三項測驗-->
        <tr>
            <td colspan="3">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.test.title}}</span>
                </div>
            </td>
        </tr>
        <!--q1-->
        <tr>
            <td colspan="3" class="warning">{{viewModel.document.body.q1.title}}</td>
        </tr>
        <!--q2-->
        <tr>
            <td colspan="3" class="warning">{{viewModel.document.body.q2.title}}</td>
        </tr>
        <tr>
            <td colspan="3" style="vertical-align:baseline">
                &emsp;{{viewModel.document.body.q2a.title}}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="vertical-align:baseline">
                &emsp;{{viewModel.document.body.q2b.title}}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="vertical-align:baseline">
                &emsp;{{viewModel.document.body.q2c.title}}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="vertical-align:baseline">
                &emsp;{{viewModel.document.body.q2d.title}}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="vertical-align:baseline">
                &emsp;{{viewModel.document.body.q2e.title}}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="vertical-align:baseline">
                &emsp;{{viewModel.document.body.q2f.title}}
            </td>
        </tr>
        <!--q3-->
        <tr>
            <td colspan="3" class="warning">{{viewModel.document.body.q3.title}}</td>
        </tr>
        <!--q3a-->
        <tr style="vertical-align:baseline">
            <td width="150px">
                {{viewModel.document.body.q3a.title}}
            </td>
            <td width="200px">
                <div data-ng-repeat="item in viewModel.sounder" style="display:inline">{{item.name}}&emsp;&emsp;&emsp;</div>
            </td>
            <td>
                <b><input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.q3a.value" />／100</b>
            </td>
        </tr>
        <!--q3b-->
        <tr style="vertical-align:baseline">
            <td>
                {{viewModel.document.body.q3b.title}}
            </td>
            <td>
                <div data-ng-repeat="item in viewModel.sounder" style="display:inline">{{item.name}}&emsp;&emsp;&emsp;</div>
            </td>
            <td>
                <b><input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.q3b.value" />／100</b>
            </td>
        </tr>
        <!--q3c-->
        <tr style="vertical-align:baseline">
            <td>
                {{viewModel.document.body.q3c.title}}
            </td>
            <td>
                <div data-ng-repeat="item in viewModel.sounder" style="display:inline">{{item.name}}&emsp;&emsp;&emsp;</div>
            </td>
            <td>
                <b><input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.q3c.value" />／100</b>
            </td>
        </tr>
        <!--q3d-->
        <tr style="vertical-align:baseline">
            <td>
                {{viewModel.document.body.q3d.title}}
            </td>
            <td>
                <div data-ng-repeat="item in viewModel.sounder" style="display:inline">{{item.name}}&emsp;&emsp;&emsp;</div>
            </td>
            <td>
                <b><input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.q3d.value" />／100</b>
            </td>
        </tr>
        <!--q3e-->
        <tr style="vertical-align:baseline">
            <td>
                {{viewModel.document.body.q3e.title}}
            </td>
            <td>
                <div data-ng-repeat="item in viewModel.sounder" style="display:inline">{{item.name}}&emsp;&emsp;&emsp;</div>
            </td>
            <td>
                <b><input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.q3e.value" />／100</b>
            </td>
        </tr>
        <!--q3f-->
        <tr style="vertical-align:baseline">
            <td>
                {{viewModel.document.body.q3f.title}}
            </td>
            <td>
                <div data-ng-repeat="item in viewModel.sounder" style="display:inline">{{item.name}}&emsp;&emsp;&emsp;</div>
            </td>
            <td>
                <b><input class="k-textbox" type="text" style="width: 80px" data-ng-model="viewModel.document.body.q3f.value" />／100</b>
            </td>
        </tr>
        <!--q3g-->
        <tr style="vertical-align:baseline">
            <td colspan="3">
                {{viewModel.document.body.q3g.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q3g.value" ng-true-value="true" ng-false-value="false" />normal&emsp;
                other：<input class="k-textbox" type="text" data-ng-model="viewModel.document.body.q3g.other" />
            </td>
        </tr>
        <!--q3h-->
        <tr style="vertical-align:baseline">
            <td colspan="3">
                {{viewModel.document.body.q3h.title}}
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.q3h.other" />
            </td>
        </tr>
        <!--註解-->
        <tr style="vertical-align:baseline">
            <td colspan="3">
                <span style="color:blue">
                    *{{viewModel.document.body.C.title}}&emsp;
                    *{{viewModel.document.body.I.title}}&emsp;
                    *{{viewModel.document.body.MI.title}}<br/>
                    *{{viewModel.document.body.MO.title}}&emsp;
                    *{{viewModel.document.body.SE.title}}&emsp;
                </span>
            </td>
        </tr>
    </table>
</div>



