﻿<div data-ng-controller="genealogyManagerController">
    <div class="top-toolbar">
        <input type="file" id="noShowUploadImage" style="display:none" data-ng-click="uploadImage()" />
        <button type="button" class="btn btn-default" onclick="document.getElementById('noShowUploadImage').click();">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>瀏覽</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="saveImage()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>儲存</span>
        </button>
    </div>
    <!-- 上方列表 -->
    <div style="width: 100%; height: 350px; text-align: center;">
        <data-tabset class="nav-tabs-justified-active-link-border-color" style="margin:0px;">
            <data-tab heading="自己" active="viewModel.tabs[0]" data-ng-click="tabChange(0)"></data-tab>
            <data-tab heading="配偶" active="viewModel.tabs[1]" data-ng-click="tabChange(1)"></data-tab>
            <data-tab heading="子女" active="viewModel.tabs[2]" data-ng-click="tabChange(2)"></data-tab>
            <data-tab heading="其他" active="viewModel.tabs[3]" data-ng-click="tabChange(3)"></data-tab>
        </data-tabset>
        <section class="template-section" style="height: 317px;">
            <table width="100%">
                <tr><td width="30px">顯示</td><td width="40px">稱謂</td><td width="50px">年齡</td><td width="150px">婚姻</td><td width="100px">存歿</td><td width="100px">同住</td><td>註解</td></tr>
                <tr data-ng-repeat="item in viewModel.family | filter:{display:'Y'}">
                    <td><input type="checkbox" data-ng-model="item.show" data-ng-change="showGearing()" /></td>
                    <td>{{item.name}}</td>
                    <td><input type="text" size="2" data-ng-model="item.age" data-ng-disabled="item.show == false" /></td>
                    <td>
                        <input type="radio" name="{{item.name}}marriage" data-ng-model="item.marriage" value="婚" data-ng-change="marriageGearing(item)" data-ng-disabled="item.show == false" />婚
                        <input type="radio" name="{{item.name}}marriage" data-ng-model="item.marriage" value="離" data-ng-change="marriageGearing(item)" data-ng-disabled="item.show == false" />離
                        <input type="radio" name="{{item.name}}marriage" data-ng-model="item.marriage" value="否" data-ng-change="marriageGearing(item)" data-ng-disabled="item.show == false" />否
                    </td>
                    <td>
                        <input type="radio" name="{{item.name}}life" data-ng-model="item.life" value="存" data-ng-change="lifeGearing(item)" data-ng-disabled="item.show == false" />存
                        <input type="radio" name="{{item.name}}life" data-ng-model="item.life" value="歿" data-ng-change="lifeGearing(item)" data-ng-disabled="item.show == false" />歿
                    </td>
                    <td>
                        <input type="radio" name="{{item.name}}live" data-ng-model="item.live" value="同" data-ng-disabled="item.show == false" />同
                        <input type="radio" name="{{item.name}}live" data-ng-model="item.live" value="否" data-ng-disabled="item.show == false" />否
                    </td>
                    <td><input type="text" style="width:90%" ng-model="item.annotation" data-ng-disabled="item.show == false" /></td>
                </tr>
            </table>
        </section>
    </div>
    <!-- 下方SVG -->
    <div style="width:100%; margin-top:5px;">
        <svg id="svgFamily" width="100%" height="300" style="border:1px solid; background:#fff;" viewBox="0,0,100%,300" preserveAspectRatio="xMinYMin slice">
            <!-- 顯示「我」（男性或女性）-->
            <rect data-ng-if="appModel.patientInfos.sex == '男'" x="220" y="160" width="26" height="25" fill="#0084ff" style="stroke:rgb(0,0,0);stroke-width:3;stroke-opacity:1"></rect>
            <circle data-ng-if="appModel.patientInfos.sex == '女'" cx="233" cy="173" r="13" fill="#ff0084" style="stroke:rgb(0,0,0);stroke-width:3;stroke-opacity:1"></circle>
            <!--<text x="224" y="177" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[0].age}}</text>-->
            <!-- 顯示「配偶」（男性或女性）-->
            <circle data-ng-if="viewModel.family[0].show == true && appModel.patientInfos.sex == '男'" cx="577" cy="172" r="13" fill="#ff0084" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <rect data-ng-if="viewModel.family[0].show == true && appModel.patientInfos.sex == '女'" x="564" y="160" width="26" height="25" fill="#0084ff" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <path data-ng-if="viewModel.family[0].show == true" d="M232 185 v20 h345 v-20" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <text data-ng-if="viewModel.family[0].show == true && viewModel.family[0].life != '歿'" x="569" y="177" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[0].age}}</text>
            <text data-ng-if="viewModel.family[0].show == true && viewModel.family[0].life == '歿'" x="570" y="182" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[0].show == true && viewModel.family[0].live == '同'" x="550" y="165" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[0].show == true && viewModel.family[0].marriage == '婚'" x="398" y="200" fill="rgb(0,0,0)" style="font-size:20px;">♥</text>
            <text data-ng-if="viewModel.family[0].show == true && viewModel.family[0].marriage == '離'" x="398" y="200" fill="rgb(0,0,0)" style="font-size:20px;">♡</text>
            <text data-ng-if="viewModel.family[0].show == true" x="562" y="197" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[0].annotation}}</text>
            <!-- 顯示「爸爸、媽媽」-->
            <rect data-ng-if="viewModel.family[1].show == true" x="120" y="95" width="26" height="25" fill="#43c4fc" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <path data-ng-if="viewModel.family[1].show == true" d="M132 120 v20 h100" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <circle data-ng-if="viewModel.family[2].show == true" cx="333" cy="108" r="13" fill="#fc6fb8" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <path data-ng-if="viewModel.family[2].show == true" d="M332 120 v20 h-100" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <line data-ng-if="viewModel.family[1].show == true || viewModel.family[2].show == true" x1="232" y1="140" x2="232" y2="160" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <text data-ng-if="viewModel.family[1].show == true && viewModel.family[1].life != '歿'" x="125" y="113" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[1].age}}</text>
            <text data-ng-if="viewModel.family[2].show == true && viewModel.family[2].life != '歿'" x="325" y="113" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[2].age}}</text>
            <text data-ng-if="viewModel.family[1].show == true && viewModel.family[1].life == '歿'" x="126" y="117" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[2].show == true && viewModel.family[2].life == '歿'" x="326" y="117" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[1].show == true && viewModel.family[1].live == '同'" x="105" y="100" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[2].show == true && viewModel.family[2].live == '同'" x="310" y="100" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[1].show == true && viewModel.family[2].show == true && viewModel.family[1].marriage == '婚'" x="226" y="135" fill="rgb(0,0,0)" style="font-size:20px;">♥</text>
            <text data-ng-if="viewModel.family[1].show == true && viewModel.family[2].show == true && viewModel.family[1].marriage == '離'" x="226" y="135" fill="rgb(0,0,0)" style="font-size:20px;">♡</text>
            <text data-ng-if="viewModel.family[1].show == true" x="118" y="133" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[1].annotation}}</text>
            <text data-ng-if="viewModel.family[2].show == true" x="318" y="133" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[2].annotation}}</text>
            <!-- 顯示「爺爺、奶奶」-->
            <rect data-ng-if="viewModel.family[3].show == true" x="52" y="30" width="26" height="25" fill="#c4e9f9" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <path data-ng-if="viewModel.family[3].show == true" d="M64 54 v20 h69" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <circle data-ng-if="viewModel.family[4].show == true" cx="195" cy="42" r="13" fill="#fec1e1" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <path data-ng-if="viewModel.family[4].show == true" d="M194 54 v20 h-63" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <line data-ng-if="viewModel.family[3].show == true || viewModel.family[4].show == true" x1="132" y1="75" x2="132" y2="95" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <text data-ng-if="viewModel.family[3].show == true && viewModel.family[3].life != '歿'" x="57" y="48" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[3].age}}</text>
            <text data-ng-if="viewModel.family[4].show == true && viewModel.family[4].life != '歿'" x="187" y="48" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[4].age}}</text>
            <text data-ng-if="viewModel.family[3].show == true && viewModel.family[3].life == '歿'" x="58" y="52" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[4].show == true && viewModel.family[4].life == '歿'" x="188" y="52" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[3].show == true && viewModel.family[3].live == '同'" x="35" y="40" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[4].show == true && viewModel.family[4].live == '同'" x="170" y="40" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[3].show == true && viewModel.family[4].show == true && viewModel.family[3].marriage == '婚'" x="125" y="70" fill="rgb(0,0,0)" style="font-size:20px;">♥</text>
            <text data-ng-if="viewModel.family[3].show == true && viewModel.family[4].show == true && viewModel.family[3].marriage == '離'" x="125" y="70" fill="rgb(0,0,0)" style="font-size:20px;">♡</text>
            <text data-ng-if="viewModel.family[3].show == true" x="50" y="68" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[3].annotation}}</text>
            <text data-ng-if="viewModel.family[4].show == true" x="180" y="68" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[4].annotation}}</text>
            <!-- 顯示「外公、外婆」-->
            <rect data-ng-if="viewModel.family[5].show == true" x="248" y="30" width="26" height="25" fill="#c4e9f9" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <path data-ng-if="viewModel.family[5].show == true" d="M262 54 v20 h72" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <circle data-ng-if="viewModel.family[6].show == true" cx="392" cy="42" r="13" fill="#fec1e1" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <path data-ng-if="viewModel.family[6].show == true" d="M392 54 v20 h-60" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <line data-ng-if="viewModel.family[5].show == true || viewModel.family[6].show == true" x1="333" y1="75" x2="333" y2="95" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <text data-ng-if="viewModel.family[5].show == true && viewModel.family[5].life != '歿'" x="253" y="48" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[5].age}}</text>
            <text data-ng-if="viewModel.family[6].show == true && viewModel.family[6].life != '歿'" x="384" y="48" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[6].age}}</text>
            <text data-ng-if="viewModel.family[5].show == true && viewModel.family[5].life == '歿'" x="254" y="52" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[6].show == true && viewModel.family[6].life == '歿'" x="385" y="52" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[5].show == true && viewModel.family[5].live == '同'" x="230" y="40" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[6].show == true && viewModel.family[6].live == '同'" x="365" y="40" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[5].show == true && viewModel.family[6].show == true && viewModel.family[5].marriage == '婚'" x="327" y="70" fill="rgb(0,0,0)" style="font-size:20px;">♥</text>
            <text data-ng-if="viewModel.family[5].show == true && viewModel.family[6].show == true && viewModel.family[5].marriage == '離'" x="327" y="70" fill="rgb(0,0,0)" style="font-size:20px;">♡</text>
            <text data-ng-if="viewModel.family[5].show == true" x="246" y="68" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[5].annotation}}</text>
            <text data-ng-if="viewModel.family[6].show == true" x="377" y="68" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[6].annotation}}</text>
            <!-- 顯示「岳父、岳母」-->
            <rect data-ng-if="viewModel.family[7].show == true" x="500" y="95" width="26" height="25" fill="#43c4fc" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <path data-ng-if="viewModel.family[7].show == true" d="M512 120 v20 h65" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <circle data-ng-if="viewModel.family[8].show == true" cx="642" cy="107" r="13" fill="#fc6fb8" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <path data-ng-if="viewModel.family[8].show == true" d="M642 120 v20 h-65" style="stroke:rgb(0,0,0);stroke-width:1;fill-opacity:0;stroke-opacity:1"></path>
            <line data-ng-if="viewModel.family[7].show == true || viewModel.family[8].show == true" x1="577" y1="140" x2="577" y2="160" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <text data-ng-if="viewModel.family[7].show == true && viewModel.family[7].life != '歿'" x="505" y="113" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[7].age}}</text>
            <text data-ng-if="viewModel.family[8].show == true && viewModel.family[8].life != '歿'" x="634" y="113" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[8].age}}</text>
            <text data-ng-if="viewModel.family[7].show == true && viewModel.family[7].life == '歿'" x="506" y="117" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[8].show == true && viewModel.family[8].life == '歿'" x="635" y="117" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[7].show == true && viewModel.family[7].live == '同'" x="485" y="100" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[8].show == true && viewModel.family[8].live == '同'" x="620" y="100" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[7].show == true && viewModel.family[8].show == true && viewModel.family[7].marriage == '婚'" x="571" y="135" fill="rgb(0,0,0)" style="font-size:20px;">♥</text>
            <text data-ng-if="viewModel.family[7].show == true && viewModel.family[8].show == true && viewModel.family[7].marriage == '離'" x="571" y="135" fill="rgb(0,0,0)" style="font-size:20px;">♡</text>
            <text data-ng-if="viewModel.family[7].show == true" x="498" y="133" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[7].annotation}}</text>
            <text data-ng-if="viewModel.family[8].show == true" x="627" y="133" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[8].annotation}}</text>
            <!-- 顯示「叔伯、姑姑」-->
            <rect data-ng-if="viewModel.family[9].show == true" x="70" y="95" width="26" height="25" fill="#c4e9f9" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <line data-ng-if="viewModel.family[9].show == true" x1="95" y1="110" x2="120" y2="110" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <circle data-ng-if="viewModel.family[10].show == true" cx="35" cy="107" r="13" fill="#fec1e1" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <line data-ng-if="viewModel.family[10].show == true" x1="48" y1="110" x2="70" y2="110" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <line data-ng-if="viewModel.family[9].show == false && viewModel.family[10].show == true" x1="70" y1="110" x2="120" y2="110" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <text data-ng-if="viewModel.family[9].show == true && viewModel.family[9].life != '歿'" x="75" y="113" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[9].age}}</text>
            <text data-ng-if="viewModel.family[10].show == true && viewModel.family[10].life != '歿'" x="26" y="113" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[10].age}}</text>
            <text data-ng-if="viewModel.family[9].show == true && viewModel.family[9].life == '歿'" x="76" y="117" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[10].show == true && viewModel.family[10].life == '歿'" x="28" y="117" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[9].show == true && viewModel.family[9].live == '同'" x="55" y="100" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[10].show == true && viewModel.family[10].live == '同'" x="10" y="100" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[9].show == true" x="68" y="133" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[9].annotation}}</text>
            <text data-ng-if="viewModel.family[10].show == true" x="19" y="133" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[10].annotation}}</text>
            <!-- 顯示「舅舅、阿姨」-->
            <rect data-ng-if="viewModel.family[11].show == true" x="365" y="95" width="26" height="25" fill="#c4e9f9" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <line data-ng-if="viewModel.family[11].show == true" x1="345" y1="110" x2="365" y2="110" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <circle data-ng-if="viewModel.family[12].show == true" cx="430" cy="107" r="13" fill="#fec1e1" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <line data-ng-if="viewModel.family[12].show == true" x1="390" y1="110" x2="418" y2="110" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <line data-ng-if="viewModel.family[11].show == false && viewModel.family[12].show == true" x1="345" y1="110" x2="390" y2="110" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <text data-ng-if="viewModel.family[11].show == true && viewModel.family[11].life != '歿'" x="370" y="113" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[11].age}}</text>
            <text data-ng-if="viewModel.family[12].show == true && viewModel.family[12].life != '歿'" x="422" y="113" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[12].age}}</text>
            <text data-ng-if="viewModel.family[11].show == true && viewModel.family[11].life == '歿'" x="371" y="117" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[12].show == true && viewModel.family[12].life == '歿'" x="423" y="117" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[11].show == true && viewModel.family[11].live == '同'" x="350" y="100" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[12].show == true && viewModel.family[12].live == '同'" x="405" y="100" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[11].show == true" x="363" y="133" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[11].annotation}}</text>
            <text data-ng-if="viewModel.family[12].show == true" x="415" y="133" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[12].annotation}}</text>
            <!-- 顯示「兄弟、姐妹」-->
            <rect data-ng-if="viewModel.family[13].show == true" x="175" y="160" width="26" height="25" fill="#c4e9f9" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <line data-ng-if="viewModel.family[13].show == true" x1="200" y1="173" x2="220" y2="173" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <rect data-ng-if="viewModel.family[14].show == true" x="130" y="160" width="26" height="25" fill="#c4e9f9" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <line data-ng-if="viewModel.family[14].show == true" x1="155" y1="173" x2="175" y2="173" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <circle data-ng-if="viewModel.family[15].show == true" cx="100" cy="172" r="13" fill="#fec1e1" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <line data-ng-if="viewModel.family[15].show == true" x1="112" y1="173" x2="130" y2="173" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <circle data-ng-if="viewModel.family[16].show == true" cx="60" cy="172" r="13" fill="#fec1e1" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <line data-ng-if="viewModel.family[16].show == true" x1="72" y1="173" x2="87" y2="173" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <line data-ng-if="viewModel.family[15].show == true && viewModel.family[14].show == false && viewModel.family[13].show == true" x1="130" y1="173" x2="175" y2="173" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <line data-ng-if="viewModel.family[15].show == true && viewModel.family[14].show == false && viewModel.family[13].show == false" x1="130" y1="173" x2="220" y2="173" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <text data-ng-if="viewModel.family[13].show == true && viewModel.family[13].life != '歿'" x="180" y="177" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[13].age}}</text>
            <text data-ng-if="viewModel.family[14].show == true && viewModel.family[14].life != '歿'" x="135" y="177" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[14].age}}</text>
            <text data-ng-if="viewModel.family[15].show == true && viewModel.family[15].life != '歿'" x="92" y="177" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[15].age}}</text>
            <text data-ng-if="viewModel.family[16].show == true && viewModel.family[16].life != '歿'" x="52" y="177" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[16].age}}</text>
            <text data-ng-if="viewModel.family[13].show == true && viewModel.family[13].life == '歿'" x="182" y="182" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[14].show == true && viewModel.family[14].life == '歿'" x="136" y="182" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[15].show == true && viewModel.family[15].life == '歿'" x="93" y="182" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[16].show == true && viewModel.family[16].life == '歿'" x="53" y="182" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[13].show == true && viewModel.family[13].live == '同'" x="160" y="165" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[14].show == true && viewModel.family[14].live == '同'" x="115" y="165" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[15].show == true && viewModel.family[15].live == '同'" x="75" y="165" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[16].show == true && viewModel.family[16].live == '同'" x="35" y="165" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[13].show == true" x="173" y="197" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[13].annotation}}</text>
            <text data-ng-if="viewModel.family[14].show == true" x="128" y="197" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[14].annotation}}</text>
            <text data-ng-if="viewModel.family[15].show == true" x="85" y="197" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[15].annotation}}</text>
            <text data-ng-if="viewModel.family[16].show == true" x="45" y="197" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[16].annotation}}</text>
            <!-- 顯示「兒子、女兒」-->
            <line data-ng-if="viewModel.family[17].show == true || viewModel.family[21].show == true" x1="404" y1="205" x2="404" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <rect data-ng-if="viewModel.family[17].show == true" x="345" y="225" width="26" height="25" fill="#43c4fc" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <line data-ng-if="viewModel.family[17].show == true" x1="371" y1="238" x2="404" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <rect data-ng-if="viewModel.family[18].show == true" x="300" y="225" width="26" height="25" fill="#43c4fc" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <line data-ng-if="viewModel.family[18].show == true" x1="326" y1="238" x2="345" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <rect data-ng-if="viewModel.family[19].show == true" x="255" y="225" width="26" height="25" fill="#43c4fc" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <line data-ng-if="viewModel.family[19].show == true" x1="281" y1="238" x2="300" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <rect data-ng-if="viewModel.family[20].show == true" x="210" y="225" width="26" height="25" fill="#43c4fc" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></rect>
            <line data-ng-if="viewModel.family[20].show == true" x1="236" y1="238" x2="255" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <circle data-ng-if="viewModel.family[21].show == true" cx="450" cy="238" r="13" fill="#fc6fb8" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <line data-ng-if="viewModel.family[21].show == true" x1="404" y1="238" x2="438" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <circle data-ng-if="viewModel.family[22].show == true" cx="490" cy="238" r="13" fill="#fc6fb8" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <line data-ng-if="viewModel.family[22].show == true" x1="463" y1="238" x2="478" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <circle data-ng-if="viewModel.family[23].show == true" cx="530" cy="238" r="13" fill="#fc6fb8" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <line data-ng-if="viewModel.family[23].show == true" x1="502" y1="238" x2="518" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <circle data-ng-if="viewModel.family[24].show == true" cx="570" cy="238" r="13" fill="#fc6fb8" style="stroke:rgb(0,0,0);stroke-width:1;stroke-opacity:1"></circle>
            <line data-ng-if="viewModel.family[24].show == true" x1="542" y1="238" x2="558" y2="238" style="stroke:rgb(0,0,0);stroke-width:1"></line>
            <text data-ng-if="viewModel.family[17].show == true && viewModel.family[17].life != '歿'" x="350" y="243" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[17].age}}</text>
            <text data-ng-if="viewModel.family[18].show == true && viewModel.family[18].life != '歿'" x="305" y="243" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[18].age}}</text>
            <text data-ng-if="viewModel.family[19].show == true && viewModel.family[19].life != '歿'" x="260" y="243" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[19].age}}</text>
            <text data-ng-if="viewModel.family[20].show == true && viewModel.family[20].life != '歿'" x="215" y="243" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[20].age}}</text>
            <text data-ng-if="viewModel.family[21].show == true && viewModel.family[21].life != '歿'" x="442" y="243" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[21].age}}</text>
            <text data-ng-if="viewModel.family[22].show == true && viewModel.family[22].life != '歿'" x="482" y="243" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[22].age}}</text>
            <text data-ng-if="viewModel.family[23].show == true && viewModel.family[23].life != '歿'" x="522" y="243" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[23].age}}</text>
            <text data-ng-if="viewModel.family[24].show == true && viewModel.family[24].life != '歿'" x="562" y="243" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[24].age}}</text>
            <text data-ng-if="viewModel.family[17].show == true && viewModel.family[17].life == '歿'" x="351" y="248" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[18].show == true && viewModel.family[18].life == '歿'" x="306" y="248" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[19].show == true && viewModel.family[19].life == '歿'" x="261" y="248" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[20].show == true && viewModel.family[20].life == '歿'" x="216" y="248" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[21].show == true && viewModel.family[21].life == '歿'" x="443" y="248" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[22].show == true && viewModel.family[22].life == '歿'" x="483" y="248" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[23].show == true && viewModel.family[23].life == '歿'" x="523" y="248" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[24].show == true && viewModel.family[24].life == '歿'" x="563" y="248" fill="rgb(0,0,0)" style="font-size:24px;">╳</text>
            <text data-ng-if="viewModel.family[17].show == true && viewModel.family[17].live == '同'" x="333" y="230" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[18].show == true && viewModel.family[18].live == '同'" x="288" y="230" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[19].show == true && viewModel.family[19].live == '同'" x="243" y="230" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[20].show == true && viewModel.family[20].live == '同'" x="198" y="230" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[21].show == true && viewModel.family[21].live == '同'" x="425" y="230" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[22].show == true && viewModel.family[22].live == '同'" x="465" y="230" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[23].show == true && viewModel.family[23].live == '同'" x="505" y="230" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[24].show == true && viewModel.family[24].live == '同'" x="545" y="230" fill="rgb(0,0,0)" style="font-size:20px;">★</text>
            <text data-ng-if="viewModel.family[17].show == true" x="343" y="263" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[17].annotation}}</text>
            <text data-ng-if="viewModel.family[18].show == true" x="298" y="263" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[18].annotation}}</text>
            <text data-ng-if="viewModel.family[19].show == true" x="253" y="263" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[19].annotation}}</text>
            <text data-ng-if="viewModel.family[20].show == true" x="208" y="263" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[20].annotation}}</text>
            <text data-ng-if="viewModel.family[21].show == true" x="435" y="263" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[21].annotation}}</text>
            <text data-ng-if="viewModel.family[22].show == true" x="475" y="263" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[22].annotation}}</text>
            <text data-ng-if="viewModel.family[23].show == true" x="515" y="263" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[23].annotation}}</text>
            <text data-ng-if="viewModel.family[24].show == true" x="555" y="263" fill="rgb(0,0,0)" style="font-size:14px;">{{viewModel.family[24].annotation}}</text>
            <!-- 說明文字 -->
            <text x="750" y="30" fill="rgb(0,0,0)" style="font-size:20px;">
                <tspan x="750" dy="1em">□</tspan>
                <tspan x="750" dy="1em">○</tspan>
                <tspan x="750" dy="1em">★</tspan>
                <tspan x="750" dy="1em">☒</tspan>
                <tspan x="750" dy="1em">♥</tspan>
                <tspan x="750" dy="1em">♡</tspan>
            </text>
            <text x="770" y="30" fill="rgb(0,0,0)" style="font-size:20px;">
                <tspan x="770" dy="1em">男性</tspan>
                <tspan x="770" dy="1em">女性</tspan>
                <tspan x="770" dy="1em">同住</tspan>
                <tspan x="770" dy="1em">歿</tspan>
                <tspan x="770" dy="1em">婚</tspan>
                <tspan x="770" dy="1em">離</tspan>
            </text>
        </svg>
    </div>    
</div>
