﻿<div ng-controller="voiceHandicapBodyController" class="contentClass2">
    <div id="tab2" style="page-break-after:always">
        <table class="table table-condensed" style="width:100%">
            <!--功能性-->
            <tr ng-click="getList(viewModel.document.body.functionalOption)">
                <td colspan="2">
                    <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.functional.title}}</span>
                    </div>
                </td>
            </tr>
            <tbody data-ng-repeat="item in viewModel.document.body.functionalOption ">
                <tr>
                    <td width="300px" class="warning">{{item.title}} </td>
                    <td style="vertical-align:baseline">
                        <div data-ng-repeat="item2 in viewModel.score" style="display:inline">
                            <input type="radio" name="{{item.title}}" value="{{item2.code}}" data-ng-model="item.value" data-ng-change="statisticsScore1()" />{{item2.code}}
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr>
                <td width="200px" class="warning">{{viewModel.document.body.statisticsScore1.title}}</td>
                <td style="vertical-align:baseline">{{viewModel.document.body.statisticsScore1.value}}</td>
            </tr>
            <!--生理性-->
            <tr>
                <td colspan="2">
                    <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.physical.title}}</span>
                    </div>
                </td>
            </tr>
            <tbody data-ng-repeat="item in viewModel.document.body.physicalOption">
                <tr>
                    <td width="300px" class="warning">{{item.title}}</td>
                    <td style="vertical-align:baseline">
                        <div data-ng-repeat="item2 in viewModel.score" style="display:inline">
                            <input type="radio" name="{{item.title}}" value="{{item2.code}}" data-ng-model="item.value" data-ng-change="statisticsScore2()" />{{item2.code}}
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr>
                <td width="200px" class="warning">{{viewModel.document.body.statisticsScore2.title}}</td>
                <td style="vertical-align:baseline">{{viewModel.document.body.statisticsScore2.value}}</td>
            </tr>
            <!--情緒性-->
            <tr>
                <td colspan="2">
                    <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.emotional.title}}</span>
                    </div>
                </td>
            </tr>
            <tbody data-ng-repeat="item in viewModel.document.body.emotionalOption">
                <tr>
                    <td width="300px" class="warning">{{item.title}}</td>
                    <td style="vertical-align:baseline">
                        <div data-ng-repeat="item2 in viewModel.score" style="display:inline">
                            <input type="radio" name="{{item.title}}" value="{{item2.code}}" data-ng-model="item.value" data-ng-change="statisticsScore3()" />{{item2.code}}
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr>
                <td width="200px" class="warning">{{viewModel.document.body.statisticsScore3.title}}</td>
                <td style="vertical-align:baseline">{{viewModel.document.body.statisticsScore3.value}}</td>
            </tr>
            <!--總分-->
            <tr>
                <td colspan="2">
                    <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.statisticsScore.title}}：{{viewModel.document.body.statisticsScore.value}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">{{viewModel.document.body.functional.title}}</td>
                </tr>
                <tbody data-ng-repeat="item in viewModel.document.body.functionalOption">
                    <tr>
                        <td width="400px" colspan="4">{{item.title}}</td>
                        <td width="200px" colspan="2">{{item.value}}</td>
                    </tr>
                </tbody>
                <tr>
                    <td width="400px" colspan="4">功能性分數</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.statisticsScore1.value}}</td>
                </tr>
                <tr>
                    <td colspan="6">{{viewModel.document.body.physical.title}}</td>
                </tr>
                <tbody data-ng-repeat="item in viewModel.document.body.physicalOption">
                    <tr>
                        <td width="400px" colspan="4">{{item.title}}</td>
                        <td width="200px" colspan="2">{{item.value}}</td>
                    </tr>
                </tbody>
                <tr>
                    <td width="400px" colspan="4">生理性分數</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.statisticsScore2.value}}</td>
                </tr>
                <tr>
                    <td colspan="6">{{viewModel.document.body.emotional.title}}</td>
                </tr>
                <tbody data-ng-repeat="item in viewModel.document.body.emotionalOption">
                    <tr>
                        <td width="400px" colspan="4">{{item.title}}</td>
                        <td width="200px" colspan="2">{{item.value}}</td>
                    </tr>
                </tbody>
                <tr>
                    <td width="400px" colspan="4">情緒性分數</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.statisticsScore3.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">統計分數</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.statisticsScore.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



