﻿<div data-ng-controller="maintenancePartsManagementController" class="row" style="margin:1px">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="add(1)">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增大類別</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="add(2)" data-ng-disabled="viewModel.selectd != 1;">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增中類別</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="add(3)" data-ng-disabled="viewModel.selectd != 2;">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增小類別</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="add(4)" data-ng-disabled="viewModel.selectd == 0;">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增零件</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="save()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div style="font-size:16px;width:100%;overflow-x:hidden;overflow-y:hidden">
        <div class="contentClass" style="width:25%;float:left;overflow-x:hidden;overflow-y:auto">
            <table class="table">
                <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                    <tr>
                        <td>大類別</td>
                    </tr>
                </tbody>
                <tr data-ng-repeat="item in viewModel.maintenanceStaff[0]"
                    data-ng-click="changeBgColor(viewModel.maintenanceStaff[0],$index);getPartsType(item,0);getPartsBasics();viewModel.selectd = 1;"
                    style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                    <td>{{item.typeName}}</td>
                </tr>
            </table>
        </div>
        <div class="contentClass" style="width:25%;float:left;overflow-x:hidden;overflow-y:auto">
            <table class="table">
                <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                    <tr>
                        <td>中類別</td>
                    </tr>
                </tbody>
                <tr data-ng-repeat="item in viewModel.maintenanceStaff[1]"
                    data-ng-click="changeBgColor(viewModel.maintenanceStaff[1],$index);getPartsType(item,1);getPartsBasics();viewModel.selectd = 2;"
                    style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                    <td>{{item.typeName}}</td>
                </tr>
            </table>
        </div>
        <div class="contentClass" style="width:25%;float:left;overflow-x:hidden;overflow-y:auto">
            <table class="table">
                <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                    <tr>
                        <td>小類別</td>
                    </tr>
                </tbody>
                <tr data-ng-repeat="item in viewModel.maintenanceStaff[2]"
                    data-ng-click="changeBgColor(viewModel.maintenanceStaff[2],$index);getPartsType(item,2);getPartsBasics();viewModel.selectd = 3;"
                    style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                    <td>{{item.typeName}}</td>
                </tr>
            </table>
        </div>
        <div class="contentClass" style="overflow-x:hidden;overflow-y:auto">
            <table class="table">
                <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                    <tr>
                        <td>零件</td>
                    </tr>
                </tbody>
                <tr data-ng-repeat="item in viewModel.partsBasics"
                    data-ng-click="changeBgColor(viewModel.partsBasics,$index);addComponents(item)"
                    style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                    <td>{{item.partsName}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 新增類別視窗 -->
    <div data-kendo-window="viewModel.addClassWindow" data-k-title="'新增類別視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="margin:5px;height:530px;overflow:hidden">
            類別名稱：<input type="text" class="k-textbox" data-ng-model="viewModel.className" style="width: 300px" />
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="addClass();" data-ng-disabled="!!viewModel.className == false">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.addClassWindow.close();">取消</button>
        </div>
    </div>
</div>
