﻿<div data-ng-controller="careDischargeController" class="row">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="save()" data-ng-disabled="saveDisable()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>儲存</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="chtPrint()">
            <span><i class="glyphicon glyphicon-print icon-padding"></i>列印</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="engPrint()">
            <span><i class="glyphicon glyphicon-print icon-padding"></i>Print</span>
        </button>
        <a data-ng-show="false" id="openWeb" href="#" onclick="window.open('http://10.50.1.3/web/guest/health_and_medical_information')">衛教網頁</a>
        <button type="button" class="btn btn-default" data-ng-click="openWeb()">
            <span><i class="glyphicon glyphicon-globe icon-padding"></i>衛教網頁</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="opd()" data-ng-if="!!viewModel.opdInjection">
            <span><i class="glyphicon glyphicon-pushpin icon-padding"></i>門診注射單</span>
        </button>
        <span style="color:red;font-size:18px">※『活動限制』、『營養指導』、『即時返院』的內容一定要勾選套用後才可存檔，造成不便請見諒。</span>
    </div>
    <!-- 下方內容 -->
    <div style="background-color: #043e6d;">
        <div style="width:100%; background-color:#043e6d;height:10px;"></div>
        <!-- 左頁籤項目 -->
        <div style="width: 40px; ">
            <ul class="left-nav left-nav-tabs" style="margin: 0px; padding: 0px; background-color: #043e6d;">
                <li data-ng-repeat="item in viewModel.leftTabs"
                    data-ng-class="item.active">
                    <a data-ng-click="showLeftContent(item);">{{item.tabName}}</a>
                </li>
            </ul>
        </div>
        <!-- 右頁籤項目 -->
        <div style="width: 40px; float: right;">
            <ul class="right-nav right-nav-tabs" style="margin:0px;padding:0px;">
                <li data-ng-repeat="item in viewModel.rightTabs"
                    data-ng-class="item.active">
                    <a data-ng-click="showRightContent(item);">{{item.tabName}}</a>
                </li>
            </ul>
        </div>
        <table style="margin-left:40px" data-ng-style="tableStyle" id="table">
            <tr>
                <!-- 左頁籤展開 -->
                <td valign="top" style="background-color:white" data-ng-show="viewModel.leftTabContent!=null">
                    <div id="leftDiv" style="border-right: 1px solid #ddd">
                        <div class="btn-border" style="color: #0000E3; background-color: #FFFFCE;">
                            &emsp;
                            <i class="glyphicon glyphicon-pencil"></i>
                            {{viewModel.selectedTabTitle}}
                            <button class="btn btn-xs btn-danger no-radius"
                                    style="float:right;height: 20px;"
                                    data-ng-if="viewModel.leftTabContent!=null"
                                    data-ng-click="closeLeft()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button class="btn btn-xs btn-success no-radius"
                                    style="float:right;height: 20px;"
                                    data-ng-if="viewModel.leftTabContent!=null"
                                    data-ng-click="expandLeftContent(viewModel.isExpand)">
                                <i data-ng-class="{true: 'glyphicon glyphicon-menu-left', false:'glyphicon glyphicon-menu-right'}[viewModel.isExpand]"></i>
                            </button>
                        </div>
                        <div class="left-content">
                            <div data-ng-include="viewModel.leftTabContent" style="width: 100%;"></div>
                        </div>
                    </div>
                </td>
                <!-- 中間部分 -->
                <td valign="top" style="background-color:white">
                    <div data-ng-style="middleStyle" id="middleDiv">
                        <div style="margin: 5px; margin-bottom: 0px;overflow:auto" data-ng-include="viewModel.middleContent"></div>
                    </div>
                </td>
                <!-- 右頁籤展開 -->
                <td valign="top" style="background-color:white" data-ng-show="viewModel.rightTabContent!=null">
                    <div id="rightDiv" style="border-left: 1px solid #ddd" data-ng-style="rightStyle">
                        <div class="btn-border" style="color: #0000E3; background-color: #FFFFCE;">
                            &emsp;
                            <i class="glyphicon glyphicon-pencil"></i>
                            {{viewModel.selectedTabTitle}}
                            <button class="btn btn-xs btn-danger no-radius"
                                    style="float:right;height: 20px;"
                                    data-ng-if="viewModel.rightTabContent!=null"
                                    data-ng-click="closeRight()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button class="btn btn-xs btn-success no-radius"
                                    style="float:right;height: 20px;"
                                    data-ng-if="viewModel.rightTabContent!=null"
                                    data-ng-click="expandRightContent(viewModel.isExpand)">
                                <i data-ng-class="{true: 'glyphicon glyphicon-menu-right', false:'glyphicon glyphicon-menu-left'}[viewModel.isExpand]"></i>
                            </button>

                        </div>
                        <div class="left-content">
                            <div data-ng-include="viewModel.rightTabContent" style="width: 100%;height:{{ viewModel .fullHeight; }};overflow:auto"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div style="width:100%; background-color:#043e6d;height:20px;"></div>
    </div>
</div>
