﻿<div data-ng-controller="resignManagerController" class="row" style="margin:1px" data-ng-init="initResignApply()">
    <input type="file" data-ng-show="false" id="attachment" multiple="multiple" onchange="angular.element(this).scope().handleFiles()" accept="*">
    <form id="myform">
        <table data-ng-if="!!viewModel.hideData == false">
            <tr>
                <td width="50%" valign="top">
                    <!-- 基本資料、離職原因、建議項目、注意事項 -->
                    <div class="panel panel-default" style="margin-right:5px">
                        <div class="panel-heading">
                            <span style="font-size:20px">基本資料</span>
                        </div>
                        <div class="panel-body" style="padding:10px">
                            <table class="table table-striped" style="font-size:16px;line-height:30px;margin-bottom:0px">
                                <tr data-ng-if="shareModel.userInfos.userNo == 21784|| shareModel.userInfos.userNo == 28034 || shareModel.userInfos.userNo == 28958">
                                    <td style="width:110px;text-align:right">申請人員：</td>
                                    <td>
                                        <input type="text" class="k-textbox" style="width:100%" required
                                               data-ng-blur="getEmpInfo(viewModel.recordMt.applyUser.empNo)"
                                               placeholder="請輸入員工編號"
                                               data-ng-model="viewModel.recordMt.applyUser.empNo"
                                               data-ng-disabled="executingAppStore.appId != 400"/>
                                    </td>
                                </tr>
                                <tr data-ng-if="shareModel.userInfos.userNo == 21784|| shareModel.userInfos.userNo == 28034 || shareModel.userInfos.userNo == 28958">
                                    <td style="width:110px;text-align:right">申請日期：</td>
                                    <td>
                                        <input id="applyTime"
                                               kendo-date-picker style="width:100%" required
                                               data-k-ng-model="viewModel.recordMt.applyTime"
                                               data-k-on-change="changeMinDate()"
                                               data-k-format="'yyyy-MM-dd'"
                                               data-ng-readonly="executingAppStore.appId != 400"
                                               data-ng-disabled="executingAppStore.appId != 400"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:110px;text-align:right">預離日期：</td>
                                    <td>
                                        <input kendo-date-picker required
                                               id="resignDate"
                                               data-k-on-change="viewModel.content.applyInfo.modifiedDate = viewModel.content.applyInfo.resignDate;getViolationMsg(viewModel.content.applyInfo.resignDate)" style="width:100%"
                                               data-k-ng-model="viewModel.content.applyInfo.resignDate"
                                               data-k-format="'yyyy-MM-dd'"
                                               data-ng-keyup="resignDateKeyup()"
                                               placeholder="為預計最後一天上班日"
                                               data-k-min="viewModel.minDate"
                                               data-k-max="viewModel.recordMt.applyUser.endDate"
                                               data-ng-readonly="executingAppStore.appId != 400" 
                                               data-ng-disabled="executingAppStore.appId != 400"/>
                                    </td>
                                </tr>
                                <tr data-ng-if="executingAppStore.appId != 400">
                                    <td style="width:110px;text-align:right">調整日期：</td>
                                    <td>
                                        <input kendo-date-picker required
                                               id="modifiedDate"
                                               style="width:100%"
                                               data-k-on-change="getViolationMsg(viewModel.content.applyInfo.modifiedDate)"
                                               data-k-ng-model="viewModel.content.applyInfo.modifiedDate"
                                               data-k-format="'yyyy-MM-dd'"
                                               data-ng-disabled="modifiedDateDisabled()"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:110px;text-align:right">聯絡信箱：</td>
                                    <td>
                                        <input type="email" class="k-textbox" style="width:100%" required
                                               placeholder="院外聯絡信箱（必填）" data-ng-model="viewModel.content.applyInfo.email"
                                               data-ng-blur="emailIfOk()"
                                               data-ng-disabled="executingAppStore.appId != 400"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:110px;text-align:right">聯絡電話：</td>
                                    <td>
                                        <input type="tel" class="k-textbox" style="width:100%" required
                                               placeholder="院外聯絡手機（必填）" data-ng-model="viewModel.content.applyInfo.tel"
                                               data-ng-blur="telIfOk()" data-ng-change="telChange()"
                                               maxlength="10"
                                               data-ng-disabled="executingAppStore.appId != 400"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-danger" style="margin-right:5px">
                        <div class="panel-heading">
                            <span style="font-size:20px">注意事項：</span>
                            <input type="checkbox" data-ng-model="viewModel.content.applyInfo.isAgree" data-ng-disabled="executingAppStore.appId != 400"/>
                            <span style="font-size:16px">我同意</span>
                            <span data-ng-if="viewModel.content.applyInfo.isAgree == false"
                                  style="color:red;font-size:16px">
                                （必須勾選）
                            </span>
                        </div>
                        <div class="panel-body">
                            <span style="font-size:16px;color:blue">
                                1.離職單送簽並經各層級主管核准後，均會自動傳送訊息至您的院外信箱，請收悉追蹤，以利瞭解簽核進度；並儘早準備辦理相關工作交接與財產移轉，俾離院手續順利完成。<br />
                                2.本人不論在職期間或是離職後，對院方相關文件與機密資料，均嚴守保密之義務，並遵循本人所簽署之『個人資料及智慧財產保密切結書』。<br />
                            </span>
                            <span style="font-size:16px;color:red" data-ng-bind-html="viewModel.content.applyInfo.violationMsg"></span>
                        </div>
                    </div>
                    <div class="panel panel-default" style="margin-right:5px">
                        <div class="panel-heading">
                            <span style="font-size:20px">離職原因</span>
                            <span data-ng-if="viewModel.content.applyInfo.resignReason == ''"
                                  style="color:red;font-size:16px">
                                （至少選擇一項，可複選）
                            </span>
                        </div>
                        <div class="panel-body container-fluid">
                            <div data-ng-repeat="item in viewModel.resignReasons" style="display:inline;line-height:30px">
                                <div data-ng-if="$last == false" class="col-xs-4">
                                    <input type="checkbox" data-ng-model="item.value" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="combinationText()" data-ng-disabled="executingAppStore.appId != 400"/>
                                    <span style="font-size:16px">{{item.title}}</span>
                                </div>
                                <div data-ng-if="$last == true" class="col-xs-12">
                                    <input type="checkbox" data-ng-model="item.value" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="combinationText()" data-ng-disabled="executingAppStore.appId != 400"/>
                                    <span style="font-size:16px">{{item.title}}</span>
                                    <input type="text" class="k-textbox" data-ng-model="viewModel.resignReasons[14].other" data-ng-change="combinationText()" style="width: 300px;color:red" data-ng-disabled="executingAppStore.appId != 400"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="margin-right:5px">
                        <div class="panel-heading">
                            <span style="font-size:20px">建議項目</span>
                        </div>
                        <div class="panel-body container-fluid">
                            <span style="font-size:16px">
                                有關您在工作中的經驗或感受，是否還有其他的建議？不要客氣，請盡量告訴我們。<br />
                                全部的意見都將被妥善整理，並列入院方管理階層未來改進之重要參考依據。
                            </span>
                            <textarea class="k-textbox" data-ng-model="viewModel.content.questionnaire.suggest" style="width: 100%; height: 75px;resize: none;overflow:auto;color:red" data-ng-disabled="executingAppStore.appId != 400"></textarea>
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <!-- 問卷調查 -->
                    <div class="panel panel-default" style="margin-left:5px">
                        <div class="panel-heading">
                            <span style="font-size:20px">問卷調查</span>
                            <span data-ng-if="questionIfOk()" style="color:red;font-size:16px">
                                （必填）
                            </span>
                        </div>
                        <div class="panel-body" style="padding:10px">
                            <span style="font-size:16px">5：非常滿意　4：滿意　3：普通　2：不滿意　1：非常不滿意</span><br />
                            <hr style="margin:10px" />
                            <table class="table table-striped" style="font-size:16px;line-height:30px;margin-bottom:0px;border-collapse:initial;">
                                <tbody data-ng-repeat="item in viewModel.content.questionnaire.question">
                                    <tr>
                                        <td width="260px" style="text-align:right">{{item.title}}</td>
                                        <td>
                                            <input type="radio" name="{{item.no}}radio" value="5" data-ng-model="item.value" data-ng-disabled="executingAppStore.appId != 400"/>5
                                            <input type="radio" name="{{item.no}}radio" value="4" data-ng-model="item.value" data-ng-disabled="executingAppStore.appId != 400"/>4
                                            <input type="radio" name="{{item.no}}radio" value="3" data-ng-model="item.value" data-ng-disabled="executingAppStore.appId != 400"/>3
                                            <input type="radio" name="{{item.no}}radio" value="2" data-ng-model="item.value" data-ng-disabled="executingAppStore.appId != 400"/>2
                                            <input type="radio" name="{{item.no}}radio" value="1" data-ng-model="item.value" data-ng-disabled="executingAppStore.appId != 400"/>1
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 列印畫面-->
                    <div style="display:none;">
                        <div id="printDiv">
                            <div style="text-align:center">
                                <span style="font-size: 18px; font-weight: bold">離職紀錄</span>
                            </div>
                            <table border="3" width="100%" style="font-size: 16px">
                                <tr>
                                    <td width="80px" align="center">申請人員</td>
                                    <td width="120px">{{viewModel.recordMt.applyUser.empName}}({{viewModel.recordMt.applyUser.empCode}})</td>
                                    <td width="80px" align="center">部門名稱</td>
                                    <td width="100px">{{viewModel.recordMt.applyUser.departName}}</td>
                                    <td width="80px" align="center">職位稱號</td>
                                    <td>{{viewModel.recordMt.applyUser.titleName}}</td>
                                </tr>
                                <tr>
                                    <td width="80px" align="center">到職日期</td>
                                    <td width="120px">{{viewModel.recordMt.applyUser.hireDate | date:'yyyy-MM-dd'}}</td>
                                    <td width="80px" align="center">聯絡電話</td>
                                    <td width="100px">{{viewModel.content.applyInfo.tel}}</td>
                                    <td width="80px" align="center">聯絡信箱</td>
                                    <td>{{viewModel.content.applyInfo.email}}</td>
                                </tr>
                                <tr>
                                    <td align="center">申請日期</td>
                                    <td>{{viewModel.recordMt.applyTime | date:'yyyy-MM-dd'}}</td>
                                    <td align="center">預離日期</td>
                                    <td>{{viewModel.content.applyInfo.resignDate}}</td>
                                    <td align="center">調整日期</td>
                                    <td>{{viewModel.content.applyInfo.modifiedDate}}</td>
                                </tr>
                                <tr>
                                    <td align="center">注意事項</td>
                                    <td colspan="5">
                                        1.離職單送簽並經各層級主管核准後，均會自動傳送訊息至您的院外信箱，請收悉追蹤，以利瞭解簽核進度；並儘早準備辦理相關工作交接與財產移轉，俾離院手續順利完成。<br />
                                        2.本人不論在職期間或是離職後，對院方相關文件與機密資料，均嚴守保密之義務，並遵循本人所簽署之『個人資料及智慧財產保密切結書』。<br />
                                        <span style="font-size:16px;" data-ng-bind-html="viewModel.content.applyInfo.violationMsg"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">離職原因</td>
                                    <td colspan="5">{{viewModel.content.applyInfo.resignReason}}</td>
                                </tr>
                                <tr>
                                    <td align="center">建議項目</td>
                                    <td colspan="5">{{viewModel.content.questionnaire.suggest}}</td>
                                </tr>
                                <tr>
                                    <td align="center">問卷調查</td>
                                    <td colspan="5">
                                        <div style="text-align:center">5：非常滿意　4：滿意　3：普通　2：不滿意　1：非常不滿意</div>
                                        <table border="0" width="100%" style="font-size: 16px">
                                            <tr>
                                                <td width="50%" valign="top">
                                                    <table border="0" width="100%" style="font-size: 16px">
                                                        <tbody data-ng-repeat="item in viewModel.content.questionnaire.question">
                                                            <tr data-ng-if="$even">
                                                                <td width="260px" style="text-align:right">{{item.title}}</td>
                                                                <td>{{item.value}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td valign="top">
                                                    <table border="0" width="100%" style="font-size: 16px">
                                                        <tbody data-ng-repeat="item in viewModel.content.questionnaire.question">
                                                            <tr data-ng-if="$odd">
                                                                <td width="260px" style="text-align:right">{{item.title}}</td>
                                                                <td>{{item.value}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <div style="page-break-after:always">
                                <table border="3" width="100%" style="font-size: 16px">
                                    <tr style="background-color:#008E77;color:white">
                                        <td width="80px">簽核員代</td>
                                        <td width="80px">簽核姓名</td>
                                        <td width="100px">簽核狀態</td>
                                        <td width="280px">簽核意見</td>
                                        <td width="100px">加簽狀態</td>
                                        <td>加簽原因</td>
                                    </tr>
                                    <tbody data-ng-repeat="item in viewModel.recordMt.recordDts">
                                        <tr data-uid="#: uid #"
                                            ng-if="item.entityState != 'Deleted' && item.entityState != 'Detached' && item.signStatus.optionNo != 1">
                                            <td>{{item.signUser.empCode}}</td>
                                            <td>{{item.signUser.empName}}</td>
                                            <td>{{item.signStatus.optionName}}</td>
                                            <td>{{item.suggestion}}</td>
                                            <td>{{item.addedType.optionName}}</td>
                                            <td>{{item.addReason}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div data-ng-if="!!viewModel.recordMt.content.signSrc == true">
        <span style="vertical-align:bottom;font-size:16px">本人已於 {{viewModel.recordMt.content.signDate}} 離院並領取※中文離職證明※勞健保轉出單 領取人簽名：</span>
        <img data-ng-src="{{viewModel.recordMt.content.signSrc}}" width="150" height="70" />
    </div>
    
    <!--訊息Window-->
    <div id="msgWindow"
         data-kendo-window="viewModel.msgWindow"
         data-k-title="'錯誤資訊'"
         data-k-modal="true"
         data-k-width="400"
         data-k-resizable="false"
         data-k-visible="false">
        <div class="template-div">{{viewModel.message}}</div>
        <span style="margin-top: 0.5em;float:right">
            <button type="button" class="btn btn-warning" data-ng-click="viewModel.msgWindow.close()">
                <span><i class="glyphicon glyphicon-remove icon-padding"></i>關閉</span>
            </button>
        </span>
    </div>
</div>