﻿<div data-ng-controller="resignManagerController" class="row" style="margin:1px">
    <input type="file" data-ng-show="false" id="attachment" multiple="multiple" onchange="angular.element(this).scope().handleFiles()" accept="*">
    <div data-kendo-tab-strip id="tabstrip" data-ng-init="initResignManager()">
        <ul>
            <li class="k-state-active">離職管理</li>
            <li>離職資料</li>
        </ul>
        <!-- 離職管理 -->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="export()" data-ng-disabled="viewModel.resignListGrid.dataSource.data().length == 0">
                    <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出</span>
                </button>
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto" data-ng-init="setResignManagerHeight()">
                <!-- 查詢條件 -->
                <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                    <tr>
                        <td width="30px" rowspan="2">
                            <img src="Content/Images/search_24.png" class="template-button-img">
                            查詢條件：
                            <input type="radio" name="searchType" value="ResignDate" data-ng-model="viewModel.searchRequest.searchType" />預離日期
                            <input type="radio" name="searchType" value="ApplyTime" data-ng-model="viewModel.searchRequest.searchType" />申請時間
                            <input type="radio" name="searchType" value="ApplyUser" data-ng-model="viewModel.searchRequest.searchType" />申請人
                            <div data-ng-if="viewModel.searchRequest.searchType == 'ApplyTime'" style="display:inline">
                                <input data-kendo-date-picker data-k-ng-model="viewModel.searchRequest.startDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />
                                至<input data-kendo-date-picker data-k-ng-model="viewModel.searchRequest.endDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />
                            </div>
                            <div data-ng-if="viewModel.searchRequest.searchType == 'ResignDate'" style="display:inline">
                                <input data-kendo-date-picker data-k-ng-model="viewModel.searchRequest.startDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />
                                至<input data-kendo-date-picker data-k-ng-model="viewModel.searchRequest.endDate" data-k-format="'yyyy-MM-dd'" style="width:130px" />
                            </div>
                            <div data-ng-if="viewModel.searchRequest.searchType == 'ApplyUser'" style="display:inline">
                                <input type="text" class="k-textbox" data-ng-model="viewModel.searchRequest.empNo" style="width: 85px" />
                            </div>
                            <button type="button" class="k-button" data-ng-click="search()">
                                <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
                <div style="line-height:30px;text-align:right">
                    <input type="checkbox" data-ng-model="viewModel.finishedSign" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="filterGrid()" />完簽
                    <input type="checkbox" data-ng-model="viewModel.unfinishedSign" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="filterGrid()" />未完簽
                </div>
                <!-- 離職清單Grid -->
                <div id="resignListGrid"
                     data-kendo-grid="viewModel.resignListGrid"
                     data-k-options="viewModel.resignListGridOptions"
                     data-k-ng-delay="viewModel.resignListGridOptions.dataSource"
                     style="width: 100%;overflow-x:hidden;overflow-y:auto">
                </div>
            </div>
            <!--resignListGridRowTemplate-->
            <script id="resignListGridRowTemplate" type="text/x-kendo-tmpl">
                <tr data-uid="#: uid #">
                    <td>
                        <center data-ng-if="shareModel.userInfos.userNo == '21784'"><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteResign(dataItem)" /></center>
                    </td>
                    <td>{{dataItem.applyUser.empName}}</td>
                    <td>{{dataItem.applyTime | date:'yyyy-MM-dd'}}</td>
                    <td>{{dataItem.resignDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{dataItem.applyStatus.optionName}}</td>
                    <td><div data-ng-bind-html="trustAsHtml(dataItem.signoffState)"></div></td>
                    <td><div data-ng-bind-html="trustAsHtml(dataItem.resignState)"></div></td>
                </tr>
            </script>
        </div>
        <!-- 離職資料-->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="viewModel.attachWindow.center().open();">
                    <span><i class="glyphicon glyphicon-paperclip icon-padding"></i>附件</span>
                </button>
                <!--<button type="button" class="btn btn-default" data-ng-click="viewModel.resignProveWindow.center().open();">
                    <span><i class="glyphicon glyphicon-pencil icon-padding"></i>領取簽收</span>
                </button>-->
                <button type="button" class="btn btn-default" data-ng-click="print()">
                    <span><i class="glyphicon glyphicon-print icon-padding"></i>列印</span>
                </button>
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y: auto;">
                <div data-ng-include="viewModel.templateUrl"></div>
                <!--<fieldset data-ng-disabled="true">
                    <div data-ng-include="viewModel.templateUrl"></div>
                </fieldset>-->
                <table class="table table-striped table-bordered" data-ng-if="executingAppStore.appId != 400">
                    <tr style="background-color:#008E77;color:white">
                        <td width="100px">簽核人員代</td>
                        <td width="100px">簽核人姓名</td>
                        <td width="100px">簽核狀態</td>
                        <td width="150px">簽核時間</td>
                        <td width="300px">簽核意見</td>
                        <td width="100px">加簽狀態</td>
                        <td>加簽原因</td>
                    </tr>
                    <tbody data-ng-repeat="item in viewModel.recordMt.recordDts">
                        <tr data-uid="#: uid #"
                            ng-if="item.entityState != 'Deleted' && item.entityState != 'Detached' && item.signStatus.optionNo != 1">
                            <td>{{item.signUser.empCode}}</td>
                            <td>{{item.signUser.empName}}</td>
                            <td>{{item.signStatus.optionName}}</td>
                            <td>
                                <div data-ng-if="item.signStatus.optionNo >= 20">
                                    {{item.endTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" data-ng-click="item.show = true;" data-ng-if="!item.show">
                                    <span><i class="glyphicon glyphicon-eye-open icon-padding"></i></span>
                                </button>
                                <button type="button" class="btn btn-default" data-ng-click="item.show = false;" data-ng-if="item.show">
                                    <span><i class="glyphicon glyphicon-eye-close icon-padding"></i></span>
                                </button>
                                <span data-ng-if="!!item.show">{{item.suggestion}}</span>
                            </td>
                            <td>{{item.addedType.optionName}}</td>
                            <td style="color:red">{{item.addReason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 列印畫面-->
            <div style="display:none;">
                <div id="printDiv">
                    <div style="text-align:center">
                        <span style="font-size: 18px; font-weight: bold">離職紀錄</span>
                    </div>
                    <table border="3" width="100%" style="font-size: 16px">
                        <tr>
                            <td width="80px" align="center">申請人員</td>
                            <td width="120px">{{viewModel.recordMt.applyUser.empName}}({{viewModel.recordMt.applyUser.empCode}})</td>
                            <td width="80px" align="center">部門名稱</td>
                            <td width="100px">{{viewModel.recordMt.applyUser.departName}}</td>
                            <td width="80px" align="center">職位稱號</td>
                            <td>{{viewModel.recordMt.applyUser.titleName}}</td>
                        </tr>
                        <tr>
                            <td width="80px" align="center">到職日期</td>
                            <td width="120px">{{viewModel.recordMt.applyUser.hireDate | date:'yyyy-MM-dd'}}</td>
                            <td width="80px" align="center">聯絡電話</td>
                            <td width="100px">{{viewModel.content.applyInfo.tel}}</td>
                            <td width="80px" align="center">聯絡信箱</td>
                            <td>{{viewModel.content.applyInfo.email}}</td>
                        </tr>
                        <tr>
                            <td align="center">申請日期</td>
                            <td>{{viewModel.recordMt.applyTime | date:'yyyy-MM-dd'}}</td>
                            <td align="center">預離日期</td>
                            <td>{{viewModel.content.applyInfo.resignDate}}</td>
                            <td align="center">調整日期</td>
                            <td>{{viewModel.content.applyInfo.modifiedDate}}</td>
                        </tr>
                        <tr>
                            <td align="center">注意事項</td>
                            <td colspan="5">
                                1.離職單送簽並經各層級主管核准後，均會自動傳送訊息至您的院外信箱，請收悉追蹤，以利瞭解簽核進度；並儘早準備辦理相關工作交接與財產移轉，俾離院手續順利完成。<br />
                                2.本人不論在職期間或是離職後，對院方相關文件與機密資料，均嚴守保密之義務，並遵循本人所簽署之『個人資料及智慧財產保密切結書』。<br />
                                <span style="font-size:16px;" data-ng-bind-html="viewModel.content.applyInfo.violationMsg"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">離職原因</td>
                            <td colspan="5">{{viewModel.content.applyInfo.resignReason}}</td>
                        </tr>
                        <tr>
                            <td align="center">建議項目</td>
                            <td colspan="5">{{viewModel.content.questionnaire.suggest}}</td>
                        </tr>
                        <tr>
                            <td align="center">問卷調查</td>
                            <td colspan="5">
                                <div style="text-align:center">5：非常滿意　4：滿意　3：普通　2：不滿意　1：非常不滿意</div>
                                <table border="0" width="100%" style="font-size: 16px">
                                    <tr>
                                        <td width="50%" valign="top">
                                            <table border="0" width="100%" style="font-size: 16px">
                                                <tbody data-ng-repeat="item in viewModel.content.questionnaire.question">
                                                    <tr data-ng-if="$even">
                                                        <td width="260px" style="text-align:right">{{item.title}}</td>
                                                        <td>{{item.value}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td valign="top">
                                            <table border="0" width="100%" style="font-size: 16px">
                                                <tbody data-ng-repeat="item in viewModel.content.questionnaire.question">
                                                    <tr data-ng-if="$odd">
                                                        <td width="260px" style="text-align:right">{{item.title}}</td>
                                                        <td>{{item.value}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div style="page-break-after:always">
                        <table border="3" width="100%" style="font-size: 16px">
                            <tr style="background-color:#008E77;color:white">
                                <td width="80px">簽核員代</td>
                                <td width="80px">簽核姓名</td>
                                <td width="100px">簽核狀態</td>
                                <td width="280px">簽核意見</td>
                                <td width="100px">加簽狀態</td>
                                <td>加簽原因</td>
                            </tr>
                            <tbody data-ng-repeat="item in viewModel.recordMt.recordDts">
                                <tr data-uid="#: uid #"
                                    ng-if="item.entityState != 'Deleted' && item.entityState != 'Detached' && item.signStatus.optionNo != 1">
                                    <td>{{item.signUser.empCode}}</td>
                                    <td>{{item.signUser.empName}}</td>
                                    <td>{{item.signStatus.optionName}}</td>
                                    <td>{{item.suggestion}}</td>
                                    <td>{{item.addedType.optionName}}</td>
                                    <td>{{item.addReason}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 領取簽收視窗 -->
    <div data-kendo-window="viewModel.resignProveWindow" data-k-title="'領取簽收視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="280" data-k-width="630">
        <div class="svg-wrap" style="margin:5px;width:100%;overflow:hidden">
            <svg id="svg" width="600" height="200" style="border:1px solid; background:#fff;" viewbox="0,0,600,200" preserveAspectRatio="xMinYMin slice"></svg>
            <canvas data-ng-show="false" id="canvas" width="600" height="200"></canvas>
        </div>
        <div class="pull-right" style="margin:5px;">
            <button type="button" class="btn btn-default" data-ng-click="clearSVG()">
                <span><i class="glyphicon glyphicon-trash icon-padding"></i>刪除</span>
            </button>
            <button class="btn btn-md btn-success" data-ng-click="saveSVG();viewModel.resignProveWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.resignProveWindow.close();">取消</button>
        </div>
    </div>
</div>