﻿<style type="text/css">
    a {
        text-decoration: underline;
    }

    .oddTd1 {
        color: #337AB7;
        background-color: #D4EEFD;
        border-bottom: 1px solid #99BAE2;
        border-right: 1px solid #99BAE2;
    }

    .oddTd2 {
        background-color: #D4EEFD;
        padding-left: 5px;
        border-bottom: 1px solid #99BAE2;
        border-right: 1px solid #99BAE2;
    }

    .evenTd1 {
        color: #337AB7;
        border-bottom: 1px solid #99BAE2;
        border-right: 1px solid #99BAE2;
    }

    .evenTd2 {
        padding-left: 5px;
        border-bottom: 1px solid #99BAE2;
        border-right: 1px solid #99BAE2;
    }
</style>
<div data-ng-controller="maintenanceApplicationController" class="row" style="margin:1px">
    <div data-kendo-tab-strip id="tabstrip">
        <ul>
            <li class="k-state-active">申請管理</li>
            <li>維修申請</li>
        </ul>
        <!-- 申請管理 -->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="delete()">
                    <span><i class="glyphicon glyphicon-trash icon-padding"></i>刪除</span>
                </button>
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto">
                <!-- 查詢條件 -->
                <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                    <tr>
                        <td width="30px" rowspan="2">
                            <img src="http://i.imgur.com/6WHsWom.png" class="template-button-img">
                            申請期間：
                            <select data-kendo-drop-down-list data-ng-model="viewModel.period" data-ng-change="getPeriod()" style="width:90px">
                                <option value="1">三日內</option>
                                <option value="2">一周內</option>
                                <option value="3">一月內</option>
                                <option value="4">三月內</option>
                                <option value="5">全部</option>
                            </select>
                            <button type="button" class="k-button" data-ng-click="search()">
                                <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
                <!-- 申請清單Grid -->
                <div id="applyListGrid"
                     data-kendo-grid="viewModel.applyListGrid"
                     data-k-options="viewModel.applyListGridOptions"
                     data-k-ng-delay="viewModel.applyListGridOptions.dataSource"
                     style="width: 100%;overflow-x:hidden;overflow-y:auto">
                </div>
            </div>
        </div>
        <!-- 維修申請 -->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="new()">
                    <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="save(5)" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>5">
                    <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>暫存</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="save(10)" data-ng-disabled="sendDisabled() || viewModel.repairMtInfo.repairStatus.optionNo>5">
                    <span><i class="glyphicon glyphicon-check icon-padding"></i>送出</span>
                </button>
                <input type="file" data-ng-show="false" id="attachment" multiple="multiple" onchange="angular.element(this).scope().handleFiles()" accept="*">
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y: auto;">
                <fieldset data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>5">
                    <table style="font-size:16px;line-height:40px;width:100%;border:1px solid #99BAE2; padding: 5px; margin: 0.4em 0em 0em 0em;">
                        <tr>
                            <td width="150px" align="center" class="oddTd1">申請日期&ensp;</td>
                            <td valign="middle" class="oddTd2">{{viewModel.repairMtInfo.applyTime | date:'yyyy-MM-dd'}}</td>
                        </tr>
                        <tr>
                            <td align="center" class="evenTd1"><a data-ng-click="getDeptList()">申請部門</a>&ensp;</td>
                            <td valign="middle" class="evenTd2">
                                {{viewModel.repairMtInfo.applyDepartNo}}　{{viewModel.repairMtInfo.applyDepartName}}
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="oddTd1">連絡電話<span style="color:red">*</span></td>
                            <td valign="middle" class="oddTd2">
                                <input type="text" class="k-textbox" style="width:120px" maxlength="10" data-ng-model="viewModel.repairMtInfo.telNo" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="evenTd1">附件資料&ensp;</td>
                            <td valign="middle" class="evenTd2">
                                <button type="button" class="btn btn-default" data-ng-click="viewModel.attachWindow.center().open();">
                                    <span><i class="glyphicon glyphicon-arrow-up icon-padding"></i>上傳</span>
                                </button>
                                <div data-ng-if="viewModel.repairMtInfo.repairAttaches.length>0" style="display:inline">已上傳 {{viewModel.repairMtInfo.repairAttaches.length}} 個附件</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="oddTd1"><a data-ng-click="viewModel.repairMtInfo.repairStatus.optionNo>5 ? '' : viewModel.faultLocationWindow.center().open();">單位地點</a><span style="color:red">*</span></td>
                            <td valign="middle" class="oddTd2">
                                <div style="display:inline" data-ng-repeat="item in viewModel.repairMtInfo.locationNames">
                                    {{item}}&emsp;
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="evenTd1">故障位置&ensp;</td>
                            <td valign="middle" class="evenTd2">
                                <input type="text" class="k-textbox" style="width:500px" data-ng-model="viewModel.repairMtInfo.locationRemark" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="oddTd1">維修類別<span style="color:red">*</span></td>
                            <td valign="middle" class="oddTd2">
                                <input type="radio" name="repairDepartNo" value="1AD0" data-ng-model="viewModel.repairMtInfo.repairDepartNo" />工務
                                <input type="radio" name="repairDepartNo" value="1A91" data-ng-model="viewModel.repairMtInfo.repairDepartNo" />醫工
                                <input type="radio" name="repairDepartNo" value="1A82" data-ng-model="viewModel.repairMtInfo.repairDepartNo" />資訊
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="evenTd1"><a data-ng-click="getEquipmentCategoryList()">設備類別</a><span style="color:red">*</span></td>
                            <td valign="middle" class="evenTd2">
                                <div style="display:inline" data-ng-repeat="item in viewModel.repairMtInfo.propertyNames">
                                    {{item}}&emsp;
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="oddTd1"><a data-ng-click="getPropertyList();">財產編號</a><span style="color:red">*</span></td>
                            <td valign="middle" class="oddTd2">
                                <input type="text" class="k-textbox" data-ng-model="viewModel.repairMtInfo.propertyCode.optionNo" style="width: 220px" data-ng-keyup="getPropertyBasicInfo()" />
                                {{viewModel.repairMtInfo.propertyCode.optionName}}
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="evenTd1"><a data-ng-click="getPropertyFailureInfo()">故障情形</a><span style="color:red">*</span></td>
                            <td valign="middle" class="evenTd2">
                                {{viewModel.repairMtInfo.failureNo.optionName}}
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="color:#337AB7;background-color:#D4EEFD;border-right:1px solid #99BAE2">補充說明&ensp;</td>
                            <td valign="middle" style="background-color:#D4EEFD;padding-left:5px">
                                <textarea name="textarea" class="k-textbox" data-ng-model="viewModel.repairMtInfo.failureRemark" style="width: 99%; height: 100px; resize: none;overflow:auto"></textarea>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
    <!-- 部門視窗 -->
    <div data-kendo-window="viewModel.departWindow" data-k-title="'部門視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="610" data-k-width="800">
        <div style="margin:5px;width:100%;height:530px;overflow:hidden">
            <img src="Content/Images/search_24.png" alt="Search" class="template-button-img">
            <input type="text" class="k-textbox" data-ng-model="viewModel.filterDepart" style="width:95%" />
            <hr style="margin: 5px 0px 5px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
            <div style="height:480px;overflow-y:auto">
                <div class="col-xs-4" style="padding:0px 0px 5px 0px;" data-ng-repeat="item in viewModel.deptList | filter:viewModel.filterDepart">
                    <button type="button" class="btn btn-default col-xs-11" style="padding:7px"
                            data-ng-click="viewModel.applyDepartNo = item.departNo;viewModel.applyDepartName = item.departName">
                        {{item.departName}}
                    </button>
                </div>
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="viewModel.keepDept = viewModel.applyDepartNo;viewModel.repairMtInfo.applyDepartNo = viewModel.applyDepartNo;viewModel.repairMtInfo.applyDepartName = viewModel.applyDepartName;viewModel.departWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.departWindow.close();">取消</button>
        </div>
    </div>
    <!-- 附件視窗 -->
    <div data-kendo-window="viewModel.attachWindow" data-k-title="'附件視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="280" data-k-width="1000">
        <div style="margin:5px;width:100%">
            <button type="button" class="btn btn-default" onclick="document.getElementById('attachment').click()">
                <span><i class="glyphicon glyphicon-plus icon-padding"></i>上傳檔案</span>
            </button>
            <!-- 附件Grid -->
            <div id="attachmentGrid"
                 data-kendo-grid="viewModel.attachmentGrid"
                 data-k-options="viewModel.attachmentGridOptions"
                 data-k-ng-delay="viewModel.attachmentGridOptions.dataSource"
                 style="width: 100%;height:150px;overflow-x:hidden;overflow-y:auto">
            </div>
        </div>
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="viewModel.repairMtInfo.repairAttaches = viewModel.attachmentGrid.dataSource.data();viewModel.attachWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.attachWindow.close();">取消</button>
        </div>
    </div>
    <!-- 單位地點視窗 -->
    <div data-kendo-window="viewModel.faultLocationWindow" data-k-title="'單位地點視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="font-size:16px;margin:5px;width:99%;height:520px;width:99%;overflow-x:hidden;overflow-y:hidden">
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>地點</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.locationInfos[0]"
                        data-ng-click="changeBgColor(viewModel.locationInfos[0],$index);getLocation(item,0);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.locationName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>樓層</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.locationInfos[1]"
                        data-ng-click="changeBgColor(viewModel.locationInfos[1],$index);getLocation(item,1);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.locationName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>單位</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.locationInfos[2]"
                        data-ng-click="changeBgColor(viewModel.locationInfos[2],$index);getLocation(item,2);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.locationName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>部門</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.locationInfos[3]"
                        data-ng-click="changeBgColor(viewModel.locationInfos[3],$index);getLocation(item,3);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.locationName}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="getLocation([],4);">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.faultLocationWindow.close();">取消</button>
        </div>
    </div>
    <!-- 設備類別視窗 -->
    <div data-kendo-window="viewModel.devicesTypeWindow" data-k-title="'設備類別視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="font-size:16px;margin:5px;width:99%;height:530px;width:99%;overflow-x:hidden;overflow-y:hidden">
            <div style="height:530px;width:30%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>大類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.equipmentInfos[0]"
                        data-ng-click="changeBgColor(viewModel.equipmentInfos[0],$index);getEquipment(item,0);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;width:30%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>中類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.equipmentInfos[1]"
                        data-ng-click="changeBgColor(viewModel.equipmentInfos[1],$index);getEquipment(item,1);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>小類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.equipmentInfos[2]"
                        data-ng-click="changeBgColor(viewModel.equipmentInfos[2],$index);getEquipment(item,2);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="getEquipment([],3);">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.devicesTypeWindow.close();">取消</button>
        </div>
    </div>
    <!-- 財產視窗 -->
    <div data-kendo-window="viewModel.propertyWindow" data-k-title="'財產視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="1000">
        <div style="margin:5px;width:100%">
            財產部門：<input type="text" class="k-textbox" data-ng-model="viewModel.keepDept" style="width: 80px" data-ng-change="getPropertyList()" />
            保管人：<input type="text" class="k-textbox" data-ng-model="viewModel.keepUser" style="width: 80px" data-ng-change="filterGrid()" /><br />
            <!-- 財產Grid -->
            <div id="propertyGrid"
                 data-kendo-grid="viewModel.propertyGrid"
                 data-k-options="viewModel.propertyGridOptions"
                 data-k-ng-delay="viewModel.propertyGridOptions.dataSource"
                 style="width: 100%;height:490px;overflow-x:hidden;overflow-y:auto">
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="getProperty();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.propertyWindow.close();">取消</button>
        </div>
    </div>
    <!-- 故障情形視窗 -->
    <div data-kendo-window="viewModel.failureScenarioWindow" data-k-title="'故障情形視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="margin:5px;height:530px;overflow:hidden">
            <img src="Content/Images/search_24.png" alt="Search" class="template-button-img">
            <input type="text" class="k-textbox" data-ng-model="viewModel.filterFailure" style="width:95%" />
            <hr style="margin: 5px 0px 5px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
            <div style="height:480px;overflow-y:auto">
                <div class="col-xs-4" style="padding:0px 0px 5px 0px;" data-ng-repeat="item in viewModel.propertyFailureInfo | filter:viewModel.filterFailure">
                    <button type="button" class="btn btn-default col-xs-11" style="padding:7px" data-ng-click="viewModel.failureNo = item.failureNo;viewModel.failureName = item.failureName">
                        {{item.failureName}}
                    </button>
                </div>
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="viewModel.repairMtInfo.failureNo.optionNo = viewModel.failureNo;viewModel.repairMtInfo.failureNo.optionName = viewModel.failureName;viewModel.failureScenarioWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.failureScenarioWindow.close();">取消</button>
        </div>
    </div>
</div>