﻿<input type="text" id="addCommonTextInput" data-ng-model="viewModel.sectionsText" size="19" style="margin-bottom:20px;" data-ng-click="changeShape('commonText')" data-ng-keyup="$event.keyCode == 13 ? addCommonText() : null" />
<div style="width: 100%; height: 420px; border: 1px solid #CCCCCC; overflow-y: hidden; overflow-x: hidden;">
    <div data-ng-repeat="item in viewModel.sectionsTextSource | filter:viewModel.sectionsText">
        <button style="width: 100%; background-color: white; border: 0px; text-align: left;" data-ng-click="changeShape('commonText');viewModel.sectionsText=item.value">{{item.value}}</button>
    </div>
</div>