﻿<div data-ng-repeat="item in viewModel.imageurl" style="overflow-y: auto; overflow-x: hidden; ">
    <button type="button" class="btn btn-default" data-ng-click="addImage(item)" style="width:170px;">
        <img data-ng-src={{item.url}} width="150px" height="150px" />
        <img data-ng-src="http://i.imgur.com/nRPnjxu.png" width="20px" height="20px" style="z-index:99; position:relative; top:-60px; right:30px;" data-ng-click="deleteImage(item)" />
    </button>
</div>
