﻿<div data-ng-controller="medDrawingController">
    <div class="top-toolbar">
        <input type="file" id="noShowUploadImage" style="display:none" data-ng-click="uploadImage()" />
        <button type="button" class="btn btn-default" onclick="document.getElementById('noShowUploadImage').click();">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>瀏覽</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.ifShowPacs = true">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>PACS圖</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="saveImage()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>儲存</span>
        </button>
    </div>
    <div style="width: 100%; border: 1px solid #CCCCCC;">
        <table style="margin-top:10px; width:100%">
            <tr style="vertical-align:top;">
                <td width="160px" height="420px" style="text-align:center">
                    <div style="width: 150px; height: 420px;">
                        <!-- 選擇科室（下拉式選單） -->
                        <select data-kendo-drop-down-list="viewModel.dropList"
                                data-k-data-text-field="'divName'"
                                data-k-data-value-field="'divNo'"
                                data-k-data-source="viewModel.sectionsDataSource"
                                data-k-ng-delay="viewModel.sectionsDataSource"
                                data-k-on-change="changeSections()"
                                data-ng-model="viewModel.section"
                                style="width: 130px; margin-bottom: 20px; "></select>
                        <!-- 上一頁（按鈕） -->
                        <button type="button"
                                class="btn btn-default"
                                style="width: 130px; height:25px; margin-bottom: 5px; padding:0px;"
                                data-ng-disabled="viewModel.showImageurlNo == 0"
                                data-ng-click="viewModel.showImageurlNo = viewModel.showImageurlNo - 3;"
                                data-ng-show="viewModel.sectionsimage.length>0">
                            <img data-ng-src="http://i.imgur.com/N4RUbh1.png" style="width:15px;height:15px" />
                        </button>
                        <!-- 顯示三張科室底圖 -->
                        <div data-ng-repeat="item in viewModel.sectionsimage.slice(viewModel.showImageurlNo,viewModel.sectionsimage.length) | limitTo:3" style="margin-bottom:5px;">
                            <button type="button" class="btn btn-default" data-ng-click="addsectionsImage(item.url)">
                                <img data-ng-src={{item.url}} style="width:100px;height:100px" />
                            </button>
                        </div>
                        <!-- 下一頁（按鈕） -->
                        <button type="button"
                                class="btn btn-default"
                                style="width: 130px; height: 25px; padding: 0px; "
                                data-ng-disabled="(viewModel.sectionsimage.length - viewModel.showImageurlNo) <= 3;"
                                data-ng-click="viewModel.showImageurlNo = viewModel.showImageurlNo + 3;"
                                data-ng-show="viewModel.sectionsimage.length>0">
                            <img data-ng-src="http://i.imgur.com/ForK24E.png" style="width:15px;height:15px" />
                        </button>
                    </div>
                </td>
                <td height="420px">
                    <div id="buttonDiv" class="template-div" style="margin-right:10px;">
                        <!-- 上排按鈕 -->
                        <button type="button" style="border:0px;background-color:white;" data-ng-click="changeShape('brushes')"><img data-ng-src="http://i.imgur.com/bCkB6wD.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="changeShape('rect')"><img data-ng-src="http://i.imgur.com/BpqEjpp.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="changeShape('circle')"><img data-ng-src="http://i.imgur.com/SwILOEO.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="changeShape('line')"><img data-ng-src="http://i.imgur.com/wM8GsWb.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="changeShape('arrow')"><img data-ng-src="http://i.imgur.com/Fu711pn.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="changeShape('text')"><img data-ng-src="http://i.imgur.com/dpzFDX8.png" style="width:30px;height:30px" /></button>
                        <div class="btn-group">
                            <button type="button" style="border: 0px; background-color: white; " class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img data-ng-src="http://i.imgur.com/Nk6Z77D.png" style="width:30px;height:30px" />
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-ng-click="viewModel.lineSize='1';viewModel.ifChangeLineSize='false';">1pt <img data-ng-src="http://i.imgur.com/YOH6nKD.png" style="width:50px;height:20px" /></a>
                                </li>
                                <li>
                                    <a data-ng-click="viewModel.lineSize='3';viewModel.ifChangeLineSize='false';">3pt <img data-ng-src="http://i.imgur.com/4fYDvQZ.png" style="width:50px;height:20px" /></a>
                                </li>
                                <li>
                                    <a data-ng-click="viewModel.lineSize='5';viewModel.ifChangeLineSize='false';">5pt <img data-ng-src="http://i.imgur.com/NZP581F.png" style="width:50px;height:20px" /></a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" style="border: 0px; background-color: white; " class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img data-ng-src="http://i.imgur.com/dmaKzma.png" style="width:30px;height:30px" />
                            </button>
                            <ul class="dropdown-menu">
                                <li><a style="font-size:12px;" data-ng-click="viewModel.textSize='12';viewModel.ifChangeTextSize='false';">12pt</a></li>
                                <li><a style="font-size:18px;" data-ng-click="viewModel.textSize='18';viewModel.ifChangeTextSize='false';">18pt</a></li>
                                <li><a style="font-size:24px;" data-ng-click="viewModel.textSize='24';viewModel.ifChangeTextSize='false';">24pt</a></li>
                                <li><a style="font-size:30px;" data-ng-click="viewModel.textSize='30';viewModel.ifChangeTextSize='false';">30pt</a></li>
                                <li><a style="font-size:36px;" data-ng-click="viewModel.textSize='36';viewModel.ifChangeTextSize='false';">36pt</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" style="border: 0px; background-color: white; " class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img data-ng-src="http://i.imgur.com/Sq5uVfX.png" style="width:30px;height:30px" />
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div style="width: 150px; height: 20px; background-color: black;" data-ng-click="viewModel.color = 'rgb(0,0,0)';viewModel.ifChangeColor='false';"></div>
                                </li>
                                <li>
                                    <div style="width: 150px; height: 20px; background-color: red; " data-ng-click="viewModel.color = 'rgb(255,0,0)';viewModel.ifChangeColor='false';"></div>
                                </li>
                                <li>
                                    <div style="width: 150px; height: 20px; background-color: purple; " data-ng-click="viewModel.color = 'rgb(255,0,255)';viewModel.ifChangeColor='false';"></div>
                                </li>
                                <li>
                                    <div style="width: 150px; height: 20px; background-color: green; " data-ng-click="viewModel.color = 'rgb(0,255,0)';viewModel.ifChangeColor='false';"></div>
                                </li>
                                <li>
                                    <div style="width: 150px; height: 20px; background-color: yellow; " data-ng-click="viewModel.color = 'rgb(255,255,0)';viewModel.ifChangeColor='false';"></div>
                                </li>
                                <li>
                                    <div style="width: 150px; height: 20px; background-color: blue; " data-ng-click="viewModel.color = 'rgb(0,0,255)';viewModel.ifChangeColor='false';"></div>
                                </li>
                            </ul>
                        </div>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="clear()"><img data-ng-src="http://i.imgur.com/RmS8ojs.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="last()"><img data-ng-src="http://i.imgur.com/WZF98B7.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="next()"><img data-ng-src="http://i.imgur.com/O0xyp8z.png" style="width:30px;height:30px" /></button>
                        <hr style="width:90%;height:10px;margin:0px;" />
                        <!-- 中間SVG部分 -->
                        <svg id="svg" width="100%" height="420" style="border:1px solid; background:#fff;" viewbox="0,0,100%,420" preserveAspectRatio="xMinYMin slice">
                        </svg>
                        <textarea id="insertText" rows="5" cols="60"
                                  style="z-index:100; position:fixed; top:{{ viewModel.tt }}px; left:{{ viewModel.ll }}px; "
                                  data-ng-show="viewModel.ifInsertText"
                                  data-ng-keyup="$event.keyCode == 13 ? insertTextOk() : null"></textarea>
                        <!-- 下排按鈕 -->
                        <hr style="width: 90%; height: 10px; margin: 0px; " />
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/2zRUtZi.png';changeShape('specificImage')"><img data-ng-src="http://i.imgur.com/2zRUtZi.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/eXUSpGd.png';changeShape('specificImage')"><img data-ng-src="http://i.imgur.com/eXUSpGd.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/VMdUIVy.png';changeShape('specificImage')"><img data-ng-src="http://i.imgur.com/VMdUIVy.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/O58U5Y9.png';changeShape('specificImage')"><img data-ng-src="http://i.imgur.com/O58U5Y9.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/dzdK85X.png';changeShape('specificImage')"><img data-ng-src="http://i.imgur.com/dzdK85X.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/Ch4pJ3S.png';changeShape('specificImage')"><img data-ng-src="http://i.imgur.com/Ch4pJ3S.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/45x6PpW.png';changeShape('specificImage')"><img data-ng-src="http://i.imgur.com/45x6PpW.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/27wP46e.png';changeShape('specificImage')"><img data-ng-src="http://i.imgur.com/27wP46e.png" style="width:30px;height:30px" /></button>
                        <button type="button" style="border: 0px; background-color: white; " data-ng-click="viewModel.specificImageurl = 'http://i.imgur.com/rAZcZvI.png';changeShape('sutures')"><img data-ng-src="http://i.imgur.com/rAZcZvI.png" style="width:30px;height:30px" /></button>
                    </div>
                </td>
                <td width="200px" height="500px">
                    <data-tabset class="nav-tabs-justified-active-link-border-color" style="margin:0px;">
                        <data-tab heading="字詞" active="viewModel.tabs[0]" ng-click="viewModel.tabUrl = viewModel.tabUrls[0]"></data-tab>
                        <data-tab heading="圖檔" active="viewModel.tabs[1]" ng-click="viewModel.tabUrl = viewModel.tabUrls[1]"></data-tab>
                    </data-tabset>
                    <section style="height: 500px;">
                        <div class="template-section" data-ng-include="viewModel.tabUrl" style="width: 200px; height: 500px; overflow-y: auto; overflow-x: hidden;"></div>
                    </section>
                </td>
            </tr>
        </table>
    </div>

    <!-- PACS底圖-->
    <div data-ng-if="viewModel.ifShowPacs" style="position: fixed; top: 85px; left: 0px; z-index: 100; background-color: white; width: 100%; height: 90%; overflow: auto;text-align:center;">
        <div style="position: fixed; top: 95px; width:100%">
            <button type="button" class="btn btn-danger btn-padding pull-right" data-ng-click="viewModel.ifShowPacs = false">
                <span><i class="glyphicon glyphicon-remove icon-padding"></i>關閉</span>
            </button>
            <button type="button" class="btn btn-success btn-padding pull-right" data-ng-click="addsectionsImage(viewModel.pacsImage)">
                <span><i class="glyphicon glyphicon-plus icon-padding"></i>加入</span>
            </button>
        </div>
        <div id="PACSGrid"
             data-kendo-grid="viewModel.PACSGrid"
             data-k-options="viewModel.PACSGridOptions"
             data-k-ng-delay="viewModel.PACSGridOptions.dataSource"
             style="margin-top:45px">
        </div>
        <img src="{{viewModel.pacsImage}}" style="height:200px;width:200px;" />
    </div>
</div>