﻿<div ng-controller="swallowingEvaluationBodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <!--評估內容-->
        <!--q1-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.q1.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    <textarea rows="3" style="width:100%;" data-ng-model="viewModel.document.body.q1.value"></textarea>
                </div>
            </td>
        </tr>
        <!--q2-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.q2.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="vertical-align:baseline">
                <input type="checkbox" data-ng-model="viewModel.document.body.q21.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q21.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q22.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q22.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q23.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q23.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q24.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q24.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q25.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q25.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q26.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q26.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q27.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q27.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q28.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q28.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q29.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q29.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q210.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q210.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q211.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q211.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.q212.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.q212.title}}
            </td>
        </tr>
        <!--q3-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.q3.title}}</span>
                </div>
            </td>
        </tr>
        <!--q3a-->
        <tr>
            <td width="200px" class="warning">{{viewModel.document.body.q3a.title}}</td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.note.title}}
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.note.value" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr class="hr-0em3" />
            </td>
        </tr>
        <!--q3b-->
        <tr>
            <td class="warning">{{viewModel.document.body.q3b.title}}</td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.lips.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.lips1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.lips1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.lips2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.lips2.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.teeth.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.teeth1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.teeth1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.teeth2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.teeth2.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.tongue.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.tongue1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.tongue1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.tongue2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.tongue2.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.tongue3.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.tongue3.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.tongue4.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.tongue4.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.tongue5.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.tongue5.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.jaw.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.jaw1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.jaw1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.jaw2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.jaw2.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.jaw3.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.jaw3.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.velar.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.velar1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.velar1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.velar2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.velar2.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.velar3.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.velar3.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.oral.title}}
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.oral.value" />
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.alternating.title}}
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.alternating.value" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr class="hr-0em3" />
            </td>
        </tr>
        <!--q3c-->
        <tr>
            <td class="warning">{{viewModel.document.body.q3c.title}}</td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.cough.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.cough1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.cough1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.cough2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.cough2.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.gag.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.gag1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.gag1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.gag2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.gag2.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.transit.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.transit1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.transit1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.transit2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.transit2.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.choking.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.choking1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.choking1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.choking2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.choking2.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.pocketing.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pocketing1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pocketing1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pocketing2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pocketing2.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.pocketing3.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.pocketing3.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.leaking.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.leaking1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.leaking1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.leaking2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.leaking2.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.specific.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.specific1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.specific1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.specific2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.specific2.title}}&emsp;
                {{viewModel.document.body.specific3.title}}<input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.specific3.value" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr class="hr-0em3" />
            </td>
        </tr>
        <!--q3d-->
        <tr>
            <td class="warning">{{viewModel.document.body.q3d.title}}</td>
            <td>
                {{viewModel.document.body.speaking.title}}
                <input type="radio" value="man" data-ng-model="viewModel.document.body.speaking.value" />Fluent
                <input type="radio" value="woman" data-ng-model="viewModel.document.body.speaking.value" />Non-fluent
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td>
                {{viewModel.document.body.auditory.title}}
                <input type="radio" value="man" data-ng-model="viewModel.document.body.auditory.value" />Good
                <input type="radio" value="woman" data-ng-model="viewModel.document.body.auditory.value" />Fair
                <input type="radio" value="woman" data-ng-model="viewModel.document.body.auditory.value" />Poor
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td>
                {{viewModel.document.body.orthographic.title}}
                <input type="radio" value="man" data-ng-model="viewModel.document.body.orthographic.value" />Good
                <input type="radio" value="woman" data-ng-model="viewModel.document.body.orthographic.value" />Fair
                <input type="radio" value="woman" data-ng-model="viewModel.document.body.orthographic.value" />Poor
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td>
                {{viewModel.document.body.reading.title}}
                <input type="radio" value="man" data-ng-model="viewModel.document.body.reading.value" />Good
                <input type="radio" value="woman" data-ng-model="viewModel.document.body.reading.value" />Fair
                <input type="radio" value="woman" data-ng-model="viewModel.document.body.reading.value" />Poor
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr class="hr-0em3" />
            </td>
        </tr>
        <!--q3e-->
        <tr>
            <td class="warning">{{viewModel.document.body.q3e.title}}</td>
            <td>{{viewModel.document.body.q3e1.title}}</td>
        </tr>
        <tr>
            <td class="warning">{{viewModel.document.body.q3eFunctional.title}}</td>
            <td>{{viewModel.document.body.q3e2.title}}</td>
        </tr>
        <tr>
            <td class="warning">{{viewModel.document.body.q3eNT.title}}</td>
            <td>{{viewModel.document.body.q3e3.title}}</td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td>{{viewModel.document.body.q3e4.title}}</td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td>{{viewModel.document.body.q3e5.title}}</td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td>{{viewModel.document.body.q3e6.title}}</td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td>{{viewModel.document.body.q3e7.title}}</td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.NPO.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.NPO1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.NPO1.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.NPO2.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.NPO2.title}}&emsp;
                {{viewModel.document.body.NPO3.title}}<input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.NPO3.value" />
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.PO.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.PO1.value" ng-true-value="true" ng-false-value="false" />{{viewModel.document.body.PO1.title}}
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.tactile.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.tactile.value" ng-true-value="true" ng-false-value="false" />
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.oro.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.oro.value" ng-true-value="true" ng-false-value="false" />
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.positioning.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.positioning.check" ng-true-value="true" ng-false-value="false" />
                <span data-ng-show="viewModel.document.body.positioning.check">
                    <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.positioning.value" />
                </span>
            </td>
        </tr>
        <tr>
            <td class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.swallowing.title}}
                <input type="checkbox" data-ng-model="viewModel.document.body.swallowing.check" ng-true-value="true" ng-false-value="false" />
                <span data-ng-show="viewModel.document.body.swallowing.check">
                    <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.swallowing.value" />
                </span>
            </td>
        </tr>
    </table>
</div>



