﻿<div data-ng-controller="cancerDocumentController" class="template-background">
    <div data-ng-controller="voiceEvaluationController" data-ng-include="'App/CancerDocument/cancerDocument.html'"></div>
</div>
