﻿<div data-ng-controller="cancerDocumentController">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="new()">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="save()" data-ng-disabled="viewModel.document.body.treatmentPeriod.value == ''">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>儲存</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="delete()">
            <span><i class="glyphicon glyphicon-trash icon-padding"></i>刪除</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="print()" data-ng-if="printShow()">
            <span><i class="glyphicon glyphicon-print icon-padding" alt="print"></i>列印</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.copyWindow.center().open();viewModel.openAllText()" data-ng-if="viewModel.document.documentType >= 3535 && viewModel.document.documentType <= 3540">
            <span><i class="glyphicon glyphicon-edit icon-padding"></i>所有文字</span>
        </button>
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-ng-click="getPacsPath()" data-ng-if="viewModel.document.documentType == 3536" data-ng-disabled="viewModel.document.documentNo == 0">
                <span><i class="glyphicon glyphicon-globe icon-padding"></i>PACS</span>
            </button>
        </div>
    </div>
    <!-- 下方內容 -->
    <div id="contentDiv" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 0.4em 0em; ">
        <!-- 查詢條件 -->
        <img src="http://i.imgur.com/uadaFt7.png" class="template-button-img">
        選擇表單：
        <select data-kendo-drop-down-list data-ng-model="viewModel.selectFormType" style="width:110px" data-ng-if="executingAppStore.appId == 75">
            <option value="復健科">復健科</option>
            <option value="耳鼻喉科">耳鼻喉科</option>
        </select>
        <select data-kendo-drop-down-list data-ng-show="viewModel.selectFormType == '復健科'" data-ng-model="viewModel.selectFormNo" data-ng-change="getFormUrl()" style="width:250px">
            <option value=0>---請選擇---</option>
            <option value=1>吞嚥評估單</option>
            <option value=2>吞嚥攝影紀錄單</option>
            <option value=3>國語構音評量表</option>
            <option value=4>功能性由口進食量表</option>
            <option value=5>UW-QQLV4生活品質問卷</option>
            <option value=6>EAT-10中文評量</option>
            <option value=7>運動性言語障礙評估表</option>
        </select>
        <select data-kendo-drop-down-list data-ng-show="viewModel.selectFormType == '耳鼻喉科'" data-ng-model="viewModel.selectFormNo" data-ng-change="getFormUrl()" style="width:250px">
            <option value=0>---請選擇---</option>
            <option value=15>Stroboscopic_Evaluation</option>
            <option value=8>嗓音聽覺共識評量表</option>
            <option value=9>耳鼻喉部語言檢查表1</option>
            <option value=10>耳鼻喉部語言檢查表2</option>
            <option value=11>Dysphagia_Assessment</option>
            <option value=12>聲帶功能異常評估表</option>
            <option value=13>逆流症狀指數問卷</option>
            <option value=14>歌唱障礙指數量表</option>
            <option value=16>音聲評估量表</option>
            <option value=17>嗓音障礙指數量表</option>
        </select>
        <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
        <!-- 左方填表清單 -->
        <div class="contentClass3" data-ng-show="viewModel.isShowLeftPanel" style="overflow-y:auto;overflow-x:hidden;width:230px;float:left;border:1px solid rgb(214, 203, 203);margin-right:5px">
            <div style="padding:5px">
                <input type="text" class="k-textbox" placeholder="搜尋" data-ng-model="searchRequest" style="width:100%" />
                <div class="template-div-scroll">
                    <table class="template-minh-100 table template-table-striped template-table">
                        <thead class="template-thead">
                            <tr>
                                <th width="130px"><a href="" ng-click="viewModel.mtPredicate = 'visitDate'; viewModel.mtReverse=!viewModel.mtReverse; viewModel.mtSelectedRowIndex = null">記錄時間</a></th>
                                <th><a href="" ng-click="viewModel.mtPredicate = 'createUser'; viewModel.mtReverse=!viewModel.mtReverse; viewModel.mtSelectedRowIndex = null">記錄人員</a></th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="item in viewModel.documentList | orderBy:viewModel.mtPredicate:viewModel.mtReverse | filter: searchRequest track by $index" data-ng-click="getDocumentInfo(item, $index)" ng-class="{selected: $index == viewModel.selectedRowIndex}">
                            <td>{{item.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{item.createUser.empName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- 右方操作區 -->
        <div class="contentClass3" data-ng-class="viewModel.documentBodyCSS" style="overflow-y:auto;overflow-x:hidden;border:1px solid rgb(214, 203, 203)">
            <button type="button" class="btn btn-menu btn-sm" data-ng-click="showLeftPanel()">
                <img data-ng-src="{{viewModel.isShowLeftPanel == true ? '/Component/Content/Images/circle-arrow-left.svg':'/Component/Content/Images/circle-arrow-right.svg'}}" width="25" />
            </button>
            評估日期：<input data-kendo-date-picker data-ng-model="viewModel.document.body.date.value" data-k-format="'yyyy-MM-dd'" />
            治療期：
            <select data-kendo-drop-down-list data-ng-model="viewModel.document.body.treatmentPeriod.code" data-on-change="getTreatmentPeriod()" style="width:150px">
                <option value="">---請選擇---</option>
                <option value="1">基礎評估</option>
                <option value="2">治療期後一個月</option>
                <option value="3">治療期後三個月</option>
                <option value="4">治療期後六個月</option>
                <option value="5">治療期後一年</option>
                <option value="6">其他</option>
            </select>
            <input data-ng-if="viewModel.document.body.treatmentPeriod.code == '6'" type="text" class="k-textbox" data-ng-model="viewModel.document.body.treatmentPeriod.value" style="width: 200px" />
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <form name="{{shareModel.documentBodyName}}">
                <div data-ng-include="viewModel.templateUrl"></div>
                <div style="display:none">
                    <div id="tab1" style="page-break-after: always; font-family: 微軟正黑體; font-size: 16px;padding:5px;line-height:26px">
                        <div style="text-align:center">
                            <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                            <br />
                            <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 編輯文字視窗 -->
        <div data-kendo-window="viewModel.copyWindow" data-k-title="'編輯文字視窗'"
             data-k-visible="false" data-k-resizable="false"
             data-k-modal="true" data-k-height="600" data-k-width="800">
            <div style="margin:5px;height:570px;overflow:hidden">
                <button type="button" class="btn btn-default" data-ng-click="copy()">
                    <span><i class="glyphicon glyphicon-duplicate icon-padding"></i>複製</span>
                </button>
                <textarea id="copyTextarea" data-ng-model="viewModel.text" style="width: 99%; height: 530px;resize: none;overflow:auto"></textarea>
            </div>
        </div>
    </div>
</div>