﻿<div data-ng-controller="closedCaseManagementController" class="row" style="margin:1px">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="assign()">
            <span><i class="glyphicon glyphicon-ok icon-padding"></i>確定</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="multiplayerAssign()">
            <span><i class="glyphicon glyphicon-ok icon-padding"></i>批次指派</span>
        </button>
        <select data-kendo-drop-down-list 
                data-k-data-text-field="'empName'" 
                data-k-data-value-field="'empNo'" 
                data-k-data-source="viewModel.process" 
                data-ng-model="viewModel.empNo" 
                style="width: 90px"></select>
    </div>
    <!-- 下方內容 -->
    <div id="contentDiv" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto">
        <!-- 查詢條件 -->
        <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
            <tr>
                <td width="30px" rowspan="2">
                    <img src="http://i.imgur.com/6WHsWom.png" class="template-button-img">
                    申請期間：
                    <select data-kendo-drop-down-list data-ng-model="viewModel.period" data-ng-change="getPeriod()" style="width:90px">
                        <option value="1">三日內</option>
                        <option value="2">一周內</option>
                        <option value="3">一月內</option>
                        <option value="4">三月內</option>
                        <option value="5">全部</option>
                    </select>
                    維修棟別：
                    <select data-kendo-drop-down-list required
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos"
                            data-ng-model="viewModel.searchRequest.locationNo"
                            style="width: 160px"></select>
                    <button type="button" class="k-button" data-ng-click="search()" data-ng-disabled="viewModel.searchRequest.locationNo == ''">
                        <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                    </button>
                </td>
            </tr>
        </table>
        <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
        <!-- 收案清單Grid -->
        <div id="closedCaseListGrid"
             data-kendo-grid="viewModel.closedCaseListGrid"
             data-k-options="viewModel.closedCaseListGridOptions"
             data-k-ng-delay="viewModel.closedCaseListGridOptions.dataSource"
             style="width: 100%;overflow-x:hidden;overflow-y:auto">
        </div>
    </div>
</div>