﻿<div data-ng-controller="testMuRong2Controller">
    最後結果：<textarea style="width: 100%; height: 150px;">{{viewModel.textBox}}</textarea>
    辨識語言：
    <select data-ng-model="viewModel.langCombo" data-ng-disabled="viewModel.recognizing == true">
        <option value="en-US">英文(美國)</option>
        <option value="cmn-Hant-TW" selected>中文(台灣)</option>
    </select>
    <button type="button" class="btn btn-default" data-ng-click="startButton(event)">
        <span>{{viewModel.startStopButton}}</span>
    </button>
    {{viewModel.infoBox}}
</div>