﻿<div data-ng-controller="empHealthTypeController" >
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        年度：
        <input data-kendo-date-picker data-k-ng-model="viewModel.searchYear" data-k-options="viewModel.searchYearPickerOptions" style="width:80px" />
        <button type="button" class="btn btn-default" data-ng-click="import()">
            <span><i class="glyphicon glyphicon-open-file icon-padding"></i>匯入</span>
        </button>
        <input type="file" data-ng-show="false" id="csvFileInput" onchange="angular.element(this).scope().handleFiles(this.files);this.value = null" accept=".csv">
        <a data-ng-show="false" id="downloadTemplate" href="App/EmpHealthType/健檢匯入範本.csv" target="_blank">下載範本</a>
        <button type="button" class="btn btn-default" data-ng-click="downloadTemplate()">
            <span><i class="glyphicon glyphicon-arrow-down icon-padding"></i>下載匯入範本</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="save()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="export()">
            <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 0.4em 0em; ">
        <!-- 查詢條件 -->
        <table class="table" style=" margin-bottom: 0px;">
            <tr>
                <td width="30px" style="text-align: right; ">
                    <img src="Content/Images/search_24.png" alt="Search" class="template-button-img">
                </td>
                <td width="130px">
                    <font>請輸入查詢條件：</font>
                </td>
                <td width="160px">
                    院所：
                    <select data-kendo-drop-down-list data-ng-model="viewModel.searchHospital" style="width:100px">
                        <option value=0>本院</option>
                        <option value=1>臺北分院</option>
                        <option value=2>陽光分院</option>
                    </select>
                </td>
                <td width="140px" data-ng-if="viewModel.searchHospital == 0">
                    健檢類別：員工健檢
                </td>
                <td width="140px">
                    年度：
                    <input data-kendo-date-picker data-k-ng-model="viewModel.searchYear" data-k-options="viewModel.searchYearPickerOptions" style="width:80px" />
                </td>
                <td width="340px">
                    部門名稱：
                    <select data-kendo-drop-down-list required
                            data-k-filter="'contains'"
                            data-k-data-text-field="'departName'"
                            data-k-data-value-field="'departNo'"
                            data-k-data-source="viewModel.deptList"
                            data-ng-model="viewModel.searchDept"
                            style="width: 250px"></select>
                </td>
                <td width="160px">
                    員工生日：
                    <select data-kendo-drop-down-list data-ng-model="viewModel.searchStartMonth" style="width:75px">
                        <option value=""></option>
                        <option value=1>1月</option>
                        <option value=2>2月</option>
                        <option value=3>3月</option>
                        <option value=4>4月</option>
                        <option value=5>5月</option>
                        <option value=6>6月</option>
                        <option value=7>7月</option>
                        <option value=8>8月</option>
                        <option value=9>9月</option>
                        <option value=10>10月</option>
                        <option value=11>11月</option>
                        <option value=12>12月</option>
                    </select>
                </td>
                <td width="105px">
                    至
                    <select data-kendo-drop-down-list data-ng-model="viewModel.searchEndMonth" style="width:75px">
                        <option value=""></option>
                        <option value=1>1月</option>
                        <option value=2>2月</option>
                        <option value=3>3月</option>
                        <option value=4>4月</option>
                        <option value=5>5月</option>
                        <option value=6>6月</option>
                        <option value=7>7月</option>
                        <option value=8>8月</option>
                        <option value=9>9月</option>
                        <option value=10>10月</option>
                        <option value=11>11月</option>
                        <option value=12>12月</option>
                    </select>
                </td>
                <td width="170px">
                    員工代號：
                    <input type="text" class="k-textbox" data-ng-model="viewModel.searchEmpCode" style="width:80px" />
                </td>
                <td>
                    <button type="button" class="k-button" data-ng-click="search()">
                        <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                    </button>
                </td>
            </tr>
        </table>
        <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
        <!-- 員工清單Grid -->
        <div id="employeeGrid"
             data-kendo-grid="viewModel.employeeGrid"
             data-k-options="viewModel.employeeGridOptions"
             data-k-ng-delay="viewModel.employeeGridOptions.dataSource"
             style="width: 100%;">
        </div>  
    </div>
</div>
