﻿<section>
    <!--基本資料-->
    <table class="table table-condensed" style="width:100%">
        <!--基本資料-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.section1.title}}</span>
                </div>
            </td>
        </tr>
        <!--Time-out time-->
        <tr>
            <td align="right" class="warning" width="200px">{{viewModel.document.body.timeOut.title}}</td>
            <td>
                <input type="text" class="k-textbox" style="width:100px" data-ng-model="viewModel.document.body.timeOut.value" />
            </td>
        </tr>
        <!--Exam Start Time-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.examStartTime.title}}</td>
            <td>
                <input type="text" class="k-textbox" style="width:100px" data-ng-model="viewModel.document.body.examStartTime.value" />
            </td>
        </tr>
        <!--Exam End Time-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.examEndTime.title}}</td>
            <td>
                <input type="text" class="k-textbox" style="width:100px" data-ng-model="viewModel.document.body.examEndTime.value" />
            </td>
        </tr>
        <!--Date of Last Exam-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.lastDate.title}}</td>
            <td>
                {{viewModel.document.body.lastDate.value}}
            </td>
        </tr>
        <!--Time Since Last Exam-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.sinceTime.title}}</td>
            <td>
                {{viewModel.document.body.sinceTime.value}}
            </td>
        </tr>
        <!--Patient Status-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.status.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.status.options" style="display:inline">
                    <span style="white-space:nowrap">
                        <input type="radio" value="{{item.title}}"
                               data-ng-click="clickRadio(viewModel.document.body.status, $index)"
                               data-ng-model="viewModel.document.body.status.value" />{{item.title}}
                    </span>
                </div>
            </td>
        </tr>
        <!--Patient Study Number-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.studyNumber.title}}</td>
            <td>
                <select data-kendo-drop-down-list
                        data-k-data-source="viewModel.studyNumbers"
                        data-ng-model="viewModel.document.body.studyNumber.value"
                        style="width: 70px"></select>
            </td>
        </tr>
        <!--Pain assessment-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.painAssessment.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.painAssessment.options" style="display:inline">
                    <span style="white-space:nowrap">
                        <input type="radio" value="{{item.title}}"
                               data-ng-click="clickRadio(viewModel.document.body.painAssessment, $index)"
                               data-ng-model="viewModel.document.body.painAssessment.value" />{{item.title}}
                    </span>

                </div>
                <br />
                {{viewModel.document.body.painAssessment.location.title}}
                <input class="k-textbox" type="text" maxlength="30" data-ng-model="viewModel.document.body.painAssessment.location.value" style="width:300px" />
                <br />
                {{viewModel.document.body.painAssessment.scale.title}}
                <span data-ng-repeat="item in viewModel.painScales" >
                    <span style="white-space:nowrap">
                        <input type="radio" value="{{item}}"
                               data-ng-click="clickRadio(viewModel.document.body.painAssessment.scale, $index)"
                               data-ng-model="viewModel.document.body.painAssessment.scale.value" />{{item}}
                    </span>
                </span>
            </td>
        </tr>
        <!--Pre-study intake status-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.preStatus.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.preStatus.options" style="display:inline">
                    <span style="white-space:nowrap">
                        <input type="radio" value="{{item.title}}"
                               data-ng-model="viewModel.document.body.preStatus.value"
                               data-ng-click="clickRadio(viewModel.document.body.preStatus,$index)" />{{item.title}}
                    </span>
                </div>
                <div data-ng-if="viewModel.document.body.preStatus.code === 1 || viewModel.document.body.preStatus.code === 2">
                    <span data-ng-repeat="item in viewModel.document.body.preStatus.subOptions" style="display:inline">
                        <span style="white-space:nowrap">
                            <input type="radio" value="{{item.title}}"
                                   data-ng-click="clickRadio(viewModel.document.body.preStatus.options[viewModel.document.body.preStatus.code], $index)"
                                   data-ng-model="viewModel.document.body.preStatus.options[viewModel.document.body.preStatus.code].value" />{{item.title}}
                        </span>
                    </span>
                </div>
            </td>
        </tr>
        <!--Pre Study Diet Grade-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.preDietGrade.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.preDietGrade.options" style="display:inline">
                    <span style="white-space:nowrap">
                        <input type="radio" value="{{item.title}}"
                               data-ng-click="clickRadio(viewModel.document.body.preDietGrade, $index)"
                               data-ng-model="viewModel.document.body.preDietGrade.value" />{{item.title}}
                    </span>
                </div>
            </td>
        </tr>
        <!--Pre Study Liquid Grade-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.preLiquidGrade.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.preLiquidGrade.options" style="display:inline">
                    <span style="white-space:nowrap">
                        <input type="radio" value="{{item.title}}"
                               data-ng-click="clickRadio(viewModel.document.body.preLiquidGrade, $index)"
                               data-ng-model="viewModel.document.body.preLiquidGrade.value" />{{item.title}}
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.oralTransit.title}}</td>
            <td>
                <input type="text" class="k-textbox" data-ng-model="viewModel.document.body.oralTransit.value" />
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.pharyngealDelay.title}}</td>
            <td>
                <input type="text" class="k-textbox" data-ng-model="viewModel.document.body.pharyngealDelay.value" />
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.pharyngealTransit.title}}</td>
            <td>
                <input type="text" class="k-textbox" data-ng-model="viewModel.document.body.pharyngealTransit.value" />
            </td>
        </tr>
    </table>
</section> 