﻿<section>
    <table class="table table-condensed" style="width:100%">
        <!--Prognosis For Improvement-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.prognosisImprovement.title}}</span>
                </div>
                
            </td>
        </tr>
        <tr>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.prognosisImprovement.options" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           data-ng-click="clickRadio(viewModel.document.body.prognosisImprovement, $index)"
                           data-ng-model="viewModel.document.body.prognosisImprovement.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Prognosis For Improvement Based On-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.prognosisBasedOn.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.prognosisBasedOn.options" style="display:inline">
                    <span style="white-space:nowrap">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-click="clickCheckbox(viewModel.document.body.prognosisBasedOn, item.title)"
                               data-ng-checked="isItemChecked(viewModel.document.body.prognosisBasedOn, item.title)" />{{item.title}}
                        <input type="text" class="k-textbox"
                               data-ng-if="$last"
                               data-ng-model="item.value" style="width:300px" />
                    </span>
                </div>
            </td>
        </tr>
        <!--Long term goals-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.longGoals.title}}</span>
                </div>
                
            </td>
        </tr>
        <tr>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.longGoals.options">
                    <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                           data-ng-click="clickCheckbox(viewModel.document.body.longGoals, item.title)"
                           data-ng-checked="isItemChecked(viewModel.document.body.longGoals, item.title)" />{{item.title}}
                    <input type="text" class="k-textbox"
                           data-ng-if="$last"
                           data-ng-model="item.value" style="width:300px" />
                </div>
            </td>
        </tr>
        <!--Short term goals-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.shortGoals.title}}</span>
                </div>
            </td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.shortGoals.options">
            <tr>
                <td>
                    <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false" />{{item.title}}
                    <!--Diet-->
                    <div data-ng-if="$first && item.isChecked == 'true'">
                        <div data-ng-repeat="item1 in item.questions">
                            &emsp;&emsp;{{item1.title}}
                            <span data-ng-repeat="item2 in item.subOptions">
                                <input type="radio" value="{{item2.title}}"
                                       data-ng-model="item1.value"
                                       data-ng-click="clickRadio(item1, $index)" />{{item2.title}}
                            </span>
                            <div data-ng-if="$first && item1.code === 0">
                                <div data-ng-repeat="item2 in item1.questions">
                                    &emsp;&emsp;&emsp;{{item2.title}}
                                    <span data-ng-if="$index == 0 || $index == 1">
                                        <br />
                                        &emsp;&emsp;&emsp;&emsp;
                                    </span>
                                    <span data-ng-repeat="item3 in item2.options">
                                        <span style="white-space:nowrap" data-ng-if="$parent.$index == 0">
                                            <span data-ng-if="$index == 3"><br />&emsp;&emsp;&emsp;&emsp;</span>
                                            <input type="radio" 
                                                   value="{{item3.title}}" data-ng-model="item2.value"
                                                   data-ng-click="clickCheckbox(item2, item3.title)" />
                                            {{item3.title}}
                                            <input type="text" class="k-textbox" data-ng-model="item3.value" data-ng-if="$last" />
                                        </span>
                                        <span style="white-space:nowrap" data-ng-if="$parent.$index == 1">
                                            <span data-ng-if="$index == 3"><br />&emsp;&emsp;&emsp;&emsp;</span>
                                            <input type="checkbox"
                                                   data-ng-click="clickCheckbox(item2, item3.title)"
                                                   data-ng-checked="isItemChecked(item2, item3.title)" />{{item3.title}}
                                        </span>
                                    </span>
                                    <span data-ng-if="$index == 2">
                                        <input type="text" class="k-textbox" style="width:50px" data-ng-model="item2.value" />
                                        {{item2.unit}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Guidelines/strategies-->
                    <div data-ng-if="$index == 1 && item.isChecked" data-ng-true-value="true" data-ng-false-value="false">
                        <div data-ng-repeat="item1 in item.options">
                            &emsp;
                            <input type="checkbox" data-ng-model="item1.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                   data-ng-click="clickCheckbox(item, item1.title)"
                                   data-ng-checked="isItemChecked(item, item1.title)" />{{item1.title}}
                            <input type="text" class="k-textbox" data-ng-if="$last" data-ng-model="item1.value" />
                        </div>
                        <div data-ng-repeat="item1 in item.questions">
                            <div style="display:inline">
                                <div data-ng-if="$first">
                                    &emsp;&emsp;{{item1.title}}
                                    <input type="text" class="k-textbox" data-ng-model="item1.value" style="width:50px" />{{item1.unit}}
                                </div>
                                <div data-ng-if="$last">
                                    &emsp;&emsp;{{item1.title}}<br />&emsp;&emsp;&emsp;
                                    <span data-ng-repeat="item2 in viewModel.document.body.shortGoals.subOptions">
                                        <span style="white-space:nowrap">
                                            <input type="radio" value="{{item2.title}}"
                                                   data-ng-model="item1.value"
                                                   data-ng-click="clickRadio(item1, $index)" />{{item2.title}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Independent Home Exercises-->
                    <div data-ng-if="$index == 2 && item.isChecked == 'true'">
                        <div data-ng-repeat="item1 in item.questions" style="display:inline">
                            <div data-ng-if="$first">
                                &emsp;&emsp;{{item1.title}}
                                <div data-ng-repeat="item2 in item1.options">
                                    &emsp;&emsp;&emsp;<input type="checkbox" data-ng-model="item2.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                                             data-ng-click="clickCheckbox(item1, item2.title)"
                                                             data-ng-checked="isItemChecked(item1, item2.title)" />
                                    {{item2.title}}
                                    <input type="text" class="k-textbox" data-ng-if="$last" data-ng-model="item2.value" />
                                </div>
                            </div>
                            <div data-ng-if="!$first && !$last">
                                &emsp;&emsp;{{item1.title}}
                                <input type="text" class="k-textbox" data-ng-model="item1.value" style="width:50px"/>{{item1.unit}}
                            </div>
                            <div data-ng-if="$last">
                                &emsp;&emsp;{{item1.title}}
                                <br />
                                &emsp;&emsp;&emsp;
                                <span data-ng-repeat="item2 in viewModel.document.body.shortGoals.subOptions" >
                                        <span style="white-space:nowrap">
                                            <input type="radio" value="{{item2.title}}"
                                                   data-ng-model="item1.value"
                                                   data-ng-click="clickRadio(item1, $index)" />{{item2.title}}
                                        </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--Structured therapy with a speech-Language Pathologist-->
                    <div data-ng-if="$index == 3 && item.isChecked == 'true'">
                        <div data-ng-repeat="item1 in item.questions">
                            <div data-ng-if="$index == 0 || $index == 1">
                                &emsp;&emsp;{{item1.title}}
                                <div data-ng-repeat="item2 in item1.options">
                                    &emsp;&emsp;&emsp;<input type="checkbox" data-ng-model="item2.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                                             data-ng-click="clickCheckbox(item1, item2.title)"
                                                             data-ng-checked="isItemChecked(item1, item2.title)" />
                                    {{item2.title}}
                                    <input type="text" class="k-textbox" data-ng-if="$last" data-ng-model="item2.value" />
                                </div>
                            </div>
                            <div data-ng-if="$index == 2" style="display:inline">
                                &emsp;&emsp;{{item1.title}}
                                <input type="text" class="k-textbox" data-ng-model="item1.value" style="width:50px" />{{item1.unit}}
                            </div>
                            <div data-ng-if="$last">
                                &emsp;&emsp;{{item1.title}}
                                <br />
                                &emsp;&emsp;&emsp;
                                <span data-ng-repeat="item2 in viewModel.document.body.shortGoals.subOptions">
                                    <span style="white-space:nowrap">
                                        <input type="radio" value="{{item2.title}}"
                                               data-ng-model="item1.value"
                                               data-ng-click="clickRadio(item1, $index)" />{{item2.title}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--Education-->
                    <div data-ng-if="$index == 4 && item.isChecked == 'true'">
                        <div data-ng-repeat="item1 in item.questions">
                            &emsp;&emsp;{{item1.title}}
                            <br />
                            &emsp;&emsp;
                            <div data-ng-repeat="item2 in item1.options" style="display:inline;">
                                <span style="white-space:nowrap">
                                    &emsp;<input type="checkbox" data-ng-model="item2.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                                 data-ng-click="clickCheckbox(item1, item2.title)"
                                                 data-ng-checked="isItemChecked(item1, item2.title)" />{{item2.title}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--Other-->
                    <div data-ng-if="$last && item.isChecked == 'true'">
                        <textarea class="k-textbox" data-ng-model="item.value"
                                  style="width: 100%; height: 70px;resize: none;overflow:auto"></textarea>
                    </div>
                </td>
            </tr>
        </tbody>
        <!--Clinical –Supplemental Miscellaneous Communication-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.clinical.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <textarea class="k-textbox" data-ng-model="viewModel.document.body.clinical.value"
                          style="width: 100%; height: 70px;resize: none;overflow:auto"></textarea>
            </td>
        </tr>
    </table>
</section>