﻿<section>
    <!--Evaluation/planning of compensatory strategies-->
    <table class="table table-condensed" style="width:100%">
        <!--Evaluation/planning of compensatory strategies-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.evaluationStrategies.title}}</span>
                </div>
            </td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.evaluationStrategies.questions">
            <tr>
                <td>
                    <input type="checkbox" data-ng-model="item.isChecked"
                           data-ng-true-value="true" data-ng-false-value="false"/>{{item.title}}<br />
                    <div data-ng-if="item.isChecked == 'true'">
                        <div style="display:inline">
                            &emsp;&emsp;{{item.impact.title}}
                            <span data-ng-repeat="item1 in viewModel.document.body.evaluationStrategies.impactOptions">
                                <input type="radio" value="{{item1.title}}" data-ng-model="item.impact.value"
                                       data-ng-click="clickRadio(item.impact, item1.code);clearValue(item.influenced.options)" />{{item1.title}}
                            </span>
                        </div>
                        <div data-ng-if="item.impact.code === 0 || item.impact.code === 1">
                            <div>&emsp;&emsp;{{item.influenced.title}}</div>
                            <div data-ng-repeat="item2 in item.influenced.options">
                                &emsp;&emsp;&emsp;{{item2.title}}
                                <span data-ng-repeat="item3 in viewModel.document.body.evaluationStrategies.influencedOptions" style="display:inline">
                                    <input type="radio" value="{{item3.title}}" data-ng-model="item2.value"
                                           data-ng-click="clickRadio(item2, item3.code)" />{{item3.title}}
                                </span>
                            </div>
                        </div>
                        <div>
                            &emsp;&emsp;{{item.history.title}}
                            <div data-ng-repeat="item4 in viewModel.document.body.evaluationStrategies.historyOptions">
                                &emsp;&emsp;&emsp;<input type="checkbox" data-ng-click="clickCheckbox(item.history, item4.title)"
                                       data-ng-checked="isItemChecked(item.history, item4.title)" />{{item4.title}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <!--Evaluation/planning of therapeutic endeavors-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.evaluationEndeavors.title}}</span>
                </div>
            </td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.evaluationEndeavors.questions">
            <tr>
                <td>
                    <input type="checkbox" data-ng-model="item.isChecked" 
                           data-ng-true-value="true" data-ng-false-value="false" />{{item.title}}<br />
                    <div data-ng-if="item.isChecked == 'true'">
                        <div style="display:inline">
                            &emsp;&emsp;{{item.impact.title}}
                            <span data-ng-repeat="item1 in viewModel.document.body.evaluationEndeavors.impactOptions">
                                <input type="radio" value="{{item1.title}}" data-ng-model="item.impact.value"
                                       data-ng-click="clickRadio(item.impact, item1.code);clearValue(item.influenced.options)" />{{item1.title}}
                            </span>
                        </div>
                        <div data-ng-if="item.impact.code === 0 || item.impact.code === 1">
                            <div>&emsp;&emsp;{{item.influenced.title}}</div>
                            <div data-ng-repeat="item2 in item.influenced.options">
                                &emsp;&emsp;&emsp;{{item2.title}}
                                <span data-ng-repeat="item3 in viewModel.document.body.evaluationEndeavors.influencedOptions" style="display:inline">
                                    <input type="radio" value="{{item3.title}}" data-ng-model="item2.value"
                                           data-ng-click="clickRadio(item2, item3.code)" />{{item3.title}}
                                </span>
                            </div>
                        </div>
                        <div>
                            &emsp;&emsp;{{item.history.title}}
                            <div data-ng-repeat="item4 in viewModel.document.body.evaluationEndeavors.historyOptions">
                                &emsp;&emsp;&emsp;<input type="checkbox" data-ng-click="clickCheckbox(item.history, item4.title)"
                                                         data-ng-checked="isItemChecked(item.history, item4.title)" />{{item4.title}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>