﻿ <!--MBSImp scores-->
<table class="table table-condensed" style="width:100%">
    <!--MBSImp scores-->
    <tr>
        <td colspan="2">
            <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.section2.title}}</span>
            </div>
        </td>
    </tr>
    <!-- Oral Impairment -->
    <tr class="warning">
        <td colspan="2">{{viewModel.document.body.oralImpairment.title}}</td>
    </tr>
    <tbody data-ng-repeat="item in viewModel.document.body.oralImpairment.questions">
        <tr>
            <td width="300px" class="warning"><span style="padding-left:1em">{{item.title}}</span></td>
            <td>
                <div data-ng-repeat="item2 in item.options" style="display:inline">
                    <span data-ng-if="item2.code >= 0" style="display:inline">
                        <span style="white-space:nowrap">
                            <input type="radio" value="{{item2.title}}" data-ng-model="item.value" 
                                   data-ng-click="clickRadio(item, item2.code);computeScore(viewModel.document.body.oralImpairment)" />{{item2.code}}
                        </span>
                    </span>
                    <div data-ng-if="item2.code < 0" style="display:inline">
                        <span style="white-space:nowrap">
                            <input type="radio" value="{{item2.title}}" data-ng-model="item.value" 
                                   data-ng-click="clickRadio(item, item2.code);computeScore(viewModel.document.body.oralImpairment)" />{{item2.title}}
                        </span>
                    </div>
                </div>
                <div data-ng-if="item.code != 0" data-ng-repeat="item3 in item.subOptions" style="display:inline;">
                    <span style="white-space:nowrap">
                        <input type="checkbox" value="{{item3.title}}"
                               data-ng-click="clickCheckbox(item.options[item.code], item3.title)"
                               data-ng-checked="isItemChecked(item.options[item.code], item3.title)" />{{item3.title}}
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
    <tr>
        <td class="warning">{{viewModel.document.body.oralImpairment.score.title}}</td>
        <td>{{viewModel.document.body.oralImpairment.score.value}}</td>
    </tr>
    <!--Pharyngeal Impairment-->
    <tr class="warning">
        <td colspan="2">{{viewModel.document.body.pharyngealImpairment.title}}</td>
    </tr>
    <tbody data-ng-repeat="item in viewModel.document.body.pharyngealImpairment.questions">
        <tr>
            <td width="300px" class="warning"><span style="padding-left:1em">{{item.title}}</span></td>
            <td>
                <div data-ng-repeat="item2 in item.options" style="display:inline">
                    <span data-ng-if="item2.code >= 0" style="display:inline">
                        <span style="white-space:nowrap">
                            <input type="radio" value="{{item2.title}}" data-ng-model="item.value" 
                                   data-ng-click="clickRadio(item, item2.code);computeScore(viewModel.document.body.pharyngealImpairment)" />{{item2.code}}
                        </span>
                    </span>
                    <div data-ng-if="item2.code < 0" style="display:inline">
                        <span style="white-space:nowrap">
                            <input type="radio" value="{{item2.title}}" data-ng-model="item.value" 
                                   data-ng-click="clickRadio(item, item2.code);computeScore(viewModel.document.body.pharyngealImpairment)" />{{item2.title}}
                        </span>
                    </div>
                </div>
                <br />
                <div data-ng-if="item.code != 0" data-ng-repeat="item3 in item.subOptions" style="display:inline;">
                    <span style="white-space:nowrap">
                        <input type="checkbox" value="{{item3.title}}"
                               data-ng-click="clickCheckbox(item.options[item.code], item3.title)"
                               data-ng-checked="isItemChecked(item.options[item.code], item3.title)" />{{item3.title}}
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
    <tr>
        <td class="warning">{{viewModel.document.body.pharyngealImpairment.score.title}}</td>
        <td>{{viewModel.document.body.pharyngealImpairment.score.value}}</td>
    </tr>
    <!--Esophageal Impairment-->
    <tr class="warning">
        <td colspan="2">{{viewModel.document.body.esophagealImpairment.title}}</td>
    </tr>
        <tr>
            <td width="300px" class="warning"><span style="padding-left:1em">{{item.title}}</span></td>
            <td>
                <div data-ng-repeat="item2 in viewModel.document.body.esophagealImpairment.question.options" style="display:inline">
                    <span data-ng-if="item2.code >= 0" style="display:inline">
                        <span style="white-space:nowrap">
                            <input type="radio" value="{{item2.title}}" 
                                   data-ng-model="viewModel.document.body.esophagealImpairment.question.value" 
                                   data-ng-click="clickRadio(viewModel.document.body.esophagealImpairment.question, item2.code);computeScore(viewModel.document.body.esophagealImpairment)" />{{item2.code}}
                        </span>
                    </span>
                    <div data-ng-if="item2.code < 0" style="display:inline">
                        <span style="white-space:nowrap">
                            <input type="radio" value="{{item2.title}}" 
                                   data-ng-model="item.value" 
                                   data-ng-click="clickRadio(viewModel.document.body.esophagealImpairment.question, item2.code);computeScore(viewModel.document.body.esophagealImpairment)" />{{item2.title}}
                        </span>
                    </div>
                </div>
                <br />
            </td>
        </tr>
    <tr>
        <td class="warning">{{viewModel.document.body.esophagealImpairment.score.title}}</td>
        <td>{{viewModel.document.body.esophagealImpairment.score.value}}</td>
    </tr>
</table>