﻿<section>
    <!--Penetration-Aspiration scaling-->
    <table class="table table-condensed" style="width:100%">
        <!--Penetration-Aspiration scaling-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.penetrationAspiration.title}}</span>
                </div>
            </td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.penetrationAspiration.options">
            <tr>
                <td>
                    <div>
                        <input type="checkbox" data-ng-model="item.isChecked"
                               data-ng-true-value="true" data-ng-false-value="false" />{{item.title}}
                        <br />
                        <div data-ng-if="item.isChecked == 'true'" data-ng-repeat="item2 in viewModel.document.body.penetrationAspiration.subOptions" style="display:inline">
                            <div data-ng-if="$first" style="display:inline">&emsp;</div>
                            <input type="checkbox" value="{{item2.title}}" data-ng-click="clickCheckbox(item, item2.title)" data-ng-checked="isItemChecked(item, item2.title)" />{{item2.title}}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <!--Please select up to five impaired...-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.swallowingAbility.title}}</span>
                </div>
            </td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.swallowingAbility.options">
            <tr>
                <td>
                    <div>
                        <input type="checkbox" data-ng-model="item.isChecked"
                               data-ng-true-value="true" data-ng-false-value="false" />{{item.title}}
                        <br />
                        <div data-ng-if="item.isChecked == 'true'" data-ng-repeat="item2 in viewModel.document.body.swallowingAbility.subOptions">
                            &emsp;
                            <input type="checkbox" value="{{item2.title}}" data-ng-click="clickCheckbox(item, item2.title)" 
                                   data-ng-checked="isItemChecked(item, item2.title)" />{{item2.title}}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <!--Post-study intake status-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.postStatus.title}}</span>
                </div>
                <div data-ng-repeat="item in viewModel.document.body.postStatus.options" style="display:inline">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.postStatus.value"
                           data-ng-click="clickRadio(viewModel.document.body.postStatus,$index)"/>{{item.title}}
                </div>
                <div data-ng-if="viewModel.document.body.postStatus.code === 1 || viewModel.document.body.postStatus.code === 2"
                     style="padding-left:2em">
                    <div data-ng-repeat="item in viewModel.document.body.postStatus.subOptions" style="display:inline">
                        <span style="white-space:nowrap">
                            <input type="radio" value="{{item.title}}" 
                                   data-ng-model="viewModel.document.body.postStatus.options[viewModel.document.body.postStatus.code].value" />
                            {{item.title}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <!--Post Study Diet Grade-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.postDietGrade.title}}</span>
                </div>
                <div data-ng-repeat="item in viewModel.document.body.postDietGrade.options" style="display:inline">
                    <input type="radio" value="{{item.title}}" 
                           data-ng-click="clickRadio(viewModel.document.body.postDietGrade, $index)"
                           data-ng-model="viewModel.document.body.postDietGrade.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Post Study Liquid Grade-->
        <tr>
            <td>
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.postLiquidGrade.title}}</span>
                </div>
                <div data-ng-repeat="item in viewModel.document.body.postLiquidGrade.options" style="display:inline">
                    <input type="radio" value="{{item.title}}" 
                           data-ng-click="clickRadio(viewModel.document.body.postLiquidGrade, $index)"
                           data-ng-model="viewModel.document.body.postLiquidGrade.value" />{{item.title}}
                </div>
            </td>
        </tr>
    </table>
</section>