﻿<div ng-controller="swallowingPhotographyBodyController" class="contentClass2">
    <div data-ng-repeat="item in viewModel.tablUrls">
        <div data-ng-include="item"></div>
    </div>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
            </table>
            <table border="1" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td align="center" style="border-bottom:2px solid">COMPONENT Number and Descriptor</td>
                    <td align="center" style="border-bottom:2px solid">Scale</td>
                    <td align="center" colspan="2" style="border-bottom:2px solid">CURRENT Score and Descriptor</td>
                </tr>
                <tbody data-ng-repeat="item in viewModel.document.body.oralImpairment.questions">
                    <tr>
                        <td width="250px" style="border-bottom:2px solid">{{item.title}}</td>
                        <td width="50px" align="center" style="border-bottom:2px solid">{{item.range}}</td>
                        <td width="30px" align="center" style="border-bottom:2px solid">{{item.code}}</td>
                        <td style="border-bottom:2px solid">{{item.value}}</td>
                    </tr>
                </tbody>
                <tbody data-ng-repeat="item in viewModel.document.body.pharyngealImpairment.questions">
                    <tr>
                        <td width="250px" style="border-bottom:2px solid">{{item.title}}</td>
                        <td width="50px" align="center" style="border-bottom:2px solid">{{item.range}}</td>
                        <td width="30px" align="center" style="border-bottom:2px solid">{{item.code}}</td>
                        <td style="border-bottom:2px solid">{{item.value}}</td>
                    </tr>
                </tbody>
                <tr>
                    <td width="250px" style="border-bottom:2px solid">{{viewModel.document.body.esophagealImpairment.question.title}}</td>
                    <td width="50px" align="center" style="border-bottom:2px solid">{{viewModel.document.body.esophagealImpairment.question.range}}</td>
                    <td width="30px" align="center" style="border-bottom:2px solid">{{viewModel.document.body.esophagealImpairment.question.code}}</td>
                    <td style="border-bottom:2px solid">{{viewModel.document.body.esophagealImpairment.question.value}}</td>
                </tr>
            </table>
            Oral Impairment Score：{{viewModel.document.body.oralImpairment.score.value}}<br/>
            Pharyngeal Impairment Score：{{viewModel.document.body.pharyngealImpairment.score.value}}<br />
            Esophageal Impairment Score：{{viewModel.document.body.esophagealImpairment.score.value}}
        </div>
    </div>
</div>



