﻿<div ng-controller="languageCheck1BodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <!--Subjective Data-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.subjective.title}}</span>
                </div>
            </td>
        </tr>
        <!--診斷-->
        <tr>
            <td align="right" width="95px" class="warning">{{viewModel.document.body.diag.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.diag.options">
                    <span style="white-space:nowrap">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-click="clickCheckbox(viewModel.document.body.diag, item.title)"
                               data-ng-checked="isItemChecked(viewModel.document.body.diag, item.title)" />{{item.title}}
                        <span data-ng-if="$index == 2 || $index == 7">
                            {{item.preText}}
                            <span data-ng-repeat="item1 in item.subOptions">
                                <input type="checkbox" 
                                       data-ng-click="appendText(item, item1.title)"
                                       data-ng-checked="isAppendChecked(item, item1.title)" />{{item1.title}}
                            </span>
                            {{item.postText}}
                        </span>
                        <span data-ng-if="$index == 6">
                            {{item.preText}}
                            <span data-ng-repeat="item1 in item.subOptions">
                                {{item1.title}}
                                <input type="text" class="k-textbox" style="width:50px" data-ng-model="item1.value" />
                            </span>
                            {{item.postText}}
                        </span>
                        <input type="text" class="k-textbox" style="width:300px" data-ng-if="$last && item.isChecked== 'true'" data-ng-model="item.value" />
                    </span>

                </span>
            </td>
        </tr>
        <!--職業-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.vocation.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.vocation.options">
                    <span style="white-space:nowrap">
                        <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.vocation.value" />{{item.title}}
                        <input type="text" class="k-textbox" style="width:100px" data-ng-if="$last && viewModel.document.body.vocation.value == '其他：'" data-ng-model="item.value" />
                    </span>
                </span>
            </td>
        </tr>
        <!--教育-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.education.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.education.options">
                    <span style="white-space:nowrap">
                        <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.education.value" />{{item.title}}
                        <input type="text" class="k-textbox" style="width:100px" data-ng-if="$last && viewModel.document.body.education.value == '其他：'" data-ng-model="item.value" />
                    </span>
                </span>
            </td>
        </tr>
        <!--照護者-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.carer.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.carer.options">
                    <span style="white-space:nowrap">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-click="clickCheckbox(viewModel.document.body.carer, item.title)"
                               data-ng-checked="isItemChecked(viewModel.document.body.carer, item.title)" />{{item.title}}
                        <input type="text" class="k-textbox" style="width:100px" data-ng-if="$last && item.isChecked== 'true'" data-ng-model="item.value" />
                    </span>
                </span>
            </td>
        </tr>
        <!--過去病史-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.lastSick.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.lastSick.options">
                    <span style="white-space:nowrap">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-click="clickCheckbox(viewModel.document.body.lastSick, item.title)"
                               data-ng-checked="isItemChecked(viewModel.document.body.lastSick, item.title)" />{{item.title}}
                        <span data-ng-if="$last == false">
                            {{item.preText}}
                            <span data-ng-if="$first">
                                <span data-ng-repeat="item1 in item.subOptions">
                                    <input type="text" class="k-textbox" style="width:50px" data-ng-model="item1.value" />
                                    {{item1.title}}
                                </span>
                            </span>
                            <span data-ng-if="$index == 1 || $index == 2">
                                <input type="text" class="k-textbox" style="width:80px" data-ng-model="item.value" />
                            </span>
                            <span data-ng-if="$index == 3">
                                <span data-ng-repeat="item1 in item.subOptions">
                                    <input type="checkbox" 
                                           data-ng-click="appendText(item, item1.title)"
                                           data-ng-checked="isAppendChecked(item, item1.title)" />
                                    {{item1.title}}
                                </span>
                            </span>
                            {{item.postText}}
                        </span>
                        <input type="text" class="k-textbox" style="width:300px" data-ng-if="$last && item.isChecked== 'true'" data-ng-model="item.value" />
                    </span>
                </span>
            </td>
        </tr>
        <!--主訴-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.mainTalk.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.mainTalk.options">
                    <span style="white-space:nowrap">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-click="clickCheckbox(viewModel.document.body.mainTalk, item.title)"
                               data-ng-checked="isItemChecked(viewModel.document.body.mainTalk, item.title)" />{{item.title}}
                        <input type="text" class="k-textbox" style="width:300px" data-ng-if="$last && item.isChecked== 'true'" data-ng-model="item.value" />
                    </span>
                </span>
            </td>
        </tr>
        <!--Objective Data-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.objective.title}}</span>
                </div>
            </td>
        </tr>
        <!--嗓音檢查-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.checkVoice.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.checkVoice.options">
                    <span style="white-space:nowrap">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-click="clickCheckbox(viewModel.document.body.checkVoice, item.title)"
                               data-ng-checked="isItemChecked(viewModel.document.body.checkVoice, item.title)" />{{item.title}}
                        <input type="text" class="k-textbox" style="width:300px" data-ng-if="$last && item.isChecked== 'true'" data-ng-model="item.value" />
                    </span>
                </span>
            </td>
        </tr>
        <!--手術-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.operation.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.operation.options">
                    <span style="white-space:nowrap">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-click="clickCheckbox(viewModel.document.body.operation, item.title)"
                               data-ng-checked="isItemChecked(viewModel.document.body.operation, item.title)" />{{item.title}}
                        <input type="text" class="k-textbox" style="width:300px" data-ng-if="$last && item.isChecked== 'true'" data-ng-model="item.value" />
                    </span>
                </span>
            </td>
        </tr>
        <!--聽力檢查-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.listen.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" data-ng-model="viewModel.document.body.listen.value" style="width:300px" />
            </td>
        </tr>
        <!--Assessment-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.assessment.title}}</span>
                </div>
            </td>
        </tr>
        <!--一、音聲障礙-->
        <tbody>
            <tr data-ng-repeat="item in viewModel.document.body.voiceDisorder.questions">
                <td data-ng-if="$first" align="right" class="warning"
                    rowspan="{{viewModel.document.body.voiceDisorder.questions.length}}">
                    {{viewModel.document.body.voiceDisorder.title}}
                </td>
                <td style="vertical-align:baseline">
                    {{item.title}}
                    <!--語音音調範圍, 語音響度-->
                    <span data-ng-if="$index == 0 || $index == 1">
                        <span data-ng-repeat="item1 in item.options">
                            <span style="white-space:nowrap">
                                <input type="radio" value="{{item1.title}}" data-ng-model="item.value" />{{item1.title}}
                            </span>
                        </span>
                    </span>
                    <!--語音音質-->
                    <span data-ng-if="$index == 2">
                        <span data-ng-repeat="item1 in item.options">
                            <span style="white-space:nowrap">
                                <input type="checkbox" data-ng-model="item1.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                       data-ng-click="clickCheckbox(item, item1.title)"
                                       data-ng-checked="isItemChecked(item, item1.title)" />{{item1.title}}
                            </span>
                        </span>
                    </span>
                    <!--相關觀察-->
                    <span data-ng-if="$index == 3">
                        <span data-ng-repeat="item1 in item.options">
                            <input type="checkbox" data-ng-model="item1.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                   data-ng-click="clickCheckbox(item, item1.title)"
                                   data-ng-checked="isItemChecked(item, item1.title)" />{{item1.title}}
                            <span data-ng-if="$index == 9" style="white-space:nowrap">
                                <input type="text" class="k-textbox" style="width:50px" data-ng-model="item1.value" />
                                {{item1.unit}}
                            </span>
                            <span data-ng-if="$last" style="white-space:nowrap">
                                <input type="text" class="k-textbox" style="width:300px" data-ng-model="item1.value" data-ng-if="item1.isChecked== 'true'" />
                            </span>
                            <span data-ng-if="$index == 10" style="white-space:nowrap">
                                {{item1.preText}}
                                <span data-ng-repeat="item2 in item1.subOptions">
                                    <input type="checkbox" 
                                           data-ng-click="appendText(item1, item2.title)"
                                           data-ng-checked="isAppendChecked(item1, item2.title)" />{{item2.title}}
                                </span>
                                {{item1.postText}}
                            </span>
                        </span>
                    </span>
                    <!--呼吸-發聲分數-->
                    <span data-ng-if="$last">
                        {{item.speakZ.title}}
                        <input type="text" class="k-textbox" style="width:80px" data-ng-model="item.speakZ.value"
                               data-ng-change="item.percent.value = item.speakZ.value / item.speakS.value" /> /
                        {{item.speakS.title}}
                        <input type="text" class="k-textbox" style="width:80px" data-ng-model="item.speakS.value"
                               data-ng-change="item.percent.value = item.speakZ.value / item.speakS.value" /> =
                        <input type="text" class="k-textbox" style="width:80px" disabled data-ng-model="item.percent.value" />
                        {{item.percent.title}}
                    </span>
                </td>
            </tr>
        </tbody>
        <!--二、構音障礙-->
        <tbody>
            <tr data-ng-repeat="item in viewModel.document.body.articulationDisorder.questions">
                <td data-ng-if="$first" align="right" class="warning"
                    rowspan="{{viewModel.document.body.articulationDisorder.questions.length}}">
                    {{viewModel.document.body.articulationDisorder.title}}
                </td>
                <td style="vertical-align:baseline">
                    {{item.title}}
                    <!--周邊口腔運動功能, 刺激度測試, 相關觀察-->
                    <span data-ng-if="$first || $last || $index == 3">
                        <span data-ng-repeat="item1 in item.options">
                            <span style="white-space:nowrap">
                                <input type="checkbox" data-ng-model="item1.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                       data-ng-click="clickCheckbox(item, item1.title)"
                                       data-ng-checked="isItemChecked(item, item1.title)" />{{item1.title}}
                                <input type="text" class="k-textbox" style="width:300px"
                                       data-ng-if="$parent.$last && $last && item1.isChecked== 'true'"
                                       data-ng-model="item1.value" />
                            </span>
                        </span>
                    </span>
                    <!--口腔輪替運動, 鼻氣息分數-->
                    <span data-ng-if="$index == 1 || $index == 2">
                        <span style="white-space:nowrap">
                            {{item.subTitle}}
                            <input type="text" class="k-textbox" style="width:80px" data-ng-model="item.value" data-ng-if="item.isChecked== 'true'" />
                            {{item.unit}}
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
        <!--三、語暢障礙-->
        <tbody>
            <tr data-ng-repeat="item in viewModel.document.body.rhythmDisorder.questions">
                <td data-ng-if="$first" align="right" class="warning"
                    rowspan="{{viewModel.document.body.rhythmDisorder.questions.length}}">
                    {{viewModel.document.body.rhythmDisorder.title}}
                </td>
                <td style="vertical-align:baseline">
                    {{item.title}}
                    <!--說話速度, 口吃次數-->
                    <span data-ng-if="$index == 0 || $index == 1">
                        <input type="text" class="k-textbox" style="width:80px" data-ng-model="item.value" />
                        {{item.unit}}
                    </span>
                    <!--口吃表現-->
                    <span data-ng-if="$last">
                        <span data-ng-repeat="item1 in item.options">
                            <span style="white-space:nowrap">
                                <input type="checkbox" data-ng-model="item1.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                       data-ng-click="clickCheckbox(item, item1.title)"
                                       data-ng-checked="isItemChecked(item, item1.title)" />
                                {{item1.title}}
                                <input type="text" class="k-textbox" style="width:300px"
                                       data-ng-if="$last && item1.isChecked== 'true'" data-ng-model="item1.value" />
                            </span>
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
        <!--四、語言障礙-->
        <tbody>
            <tr data-ng-repeat="item in viewModel.document.body.languageDisorder.questions">
                <td data-ng-if="$first" align="right" class="warning"
                    rowspan="{{viewModel.document.body.languageDisorder.questions.length}}">
                    {{viewModel.document.body.languageDisorder.title}}
                </td>
                <td style="vertical-align:baseline">
                    {{item.title}}
                    <span data-ng-if="$index == 0 || $index == 1">
                        <span data-ng-repeat="item1 in viewModel.document.body.languageDisorder.options1">
                            <span style="white-space:nowrap">
                                <input type="radio" value="{{item1.title}}" data-ng-model="item.value" />
                                {{item1.title}}
                            </span>
                        </span>
                    </span>
                    <span data-ng-if="$index == 2">
                        <span data-ng-repeat="item1 in viewModel.document.body.languageDisorder.options2">
                            <span style="white-space:nowrap">
                                <input type="radio" value="{{item1.title}}" data-ng-model="item.value" />
                                {{item1.title}}
                            </span>
                        </span>
                    </span>
                    <span data-ng-if="$index == 3 || $index == 5">
                        <span data-ng-repeat="item1 in viewModel.document.body.languageDisorder.options3">
                            <span style="white-space:nowrap">
                                <input type="radio" value="{{item1.title}}" data-ng-model="item.value" />
                                {{item1.title}}
                            </span>
                        </span>
                    </span>
                    <span data-ng-if="$index == 4">
                        <span data-ng-repeat="item1 in viewModel.document.body.languageDisorder.options4">
                            <span style="white-space:nowrap">
                                <input type="radio" value="{{item1.title}}" data-ng-model="item.value" />
                                {{item1.title}}
                            </span>
                        </span>
                    </span>
                    <input type="text" class="k-textbox" style="width:300px" data-ng-if="$last" data-ng-model="item.value" />
                </td>
        </tbody>
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.plan.title}}</span>
                </div>
            </td>
        </tr>
        <!--短期目標-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.plan.shortPlan.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.plan.shortPlan.options">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.plan.shortPlan.value" />
                    {{item.title}}
                </span>
            </td>
        </tr>
        <tbody>
            <tr data-ng-repeat="item in viewModel.document.body.plan.shortPlan.questions">
                <td align="right" class="warning">{{item.title}}</td>
                <td style="vertical-align:baseline">
                    <span data-ng-if="!$last">
                        <span data-ng-repeat="item1 in item.options">
                            <span style="white-space:nowrap">
                                <input type="checkbox" data-ng-model="item1.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                       data-ng-click="clickCheckbox(item, item1.title)" 
                                       data-ng-checked="isItemChecked(item, item1.title)" />
                                {{item1.title}}
                            </span>
                            <span data-ng-if="$parent.$index == 2 && ($index == 4 || $last)">
                                {{item1.preText}}
                                <span data-ng-repeat="item2 in item1.subOptions">
                                    <span style="white-space:nowrap">
                                        <input type="checkbox" 
                                               data-ng-click="appendText(item1, item2.title)" 
                                               data-ng-checked="isAppendChecked(item1, item2.title)" />{{item2.title}}
                                    </span>
                                </span>
                                {{item1.postText}}
                            </span>
                        </span>
                    </span>
                    <span data-ng-if="$last">
                        <input type="text" class="k-textbox" style="width:300px" data-ng-model="item.value" />
                    </span>
                </td>
            </tr>
        </tbody>
        <!--長期目標-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.plan.longPlan.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.plan.longPlan.options">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.plan.longPlan.value" />
                    {{item.title}}
                </span>
            </td>
        </tr>
        <tbody>
            <tr data-ng-repeat="item in viewModel.document.body.plan.longPlan.questions">
                <td align="right" class="warning">{{item.title}}</td>
                <td style="vertical-align:baseline">
                    <span data-ng-if="!$last">
                        <span data-ng-repeat="item1 in item.options">
                            <span style="white-space:nowrap">
                                <input type="checkbox" data-ng-model="item1.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                       data-ng-click="clickCheckbox(item, item1.title)"
                                       data-ng-checked="isItemChecked(item, item1.title)" />
                                {{item1.title}}
                            </span>
                            <span data-ng-if="$parent.$index == 2 && ($index == 4 || $last)">
                                {{item1.preText}}
                                <span data-ng-repeat="item2 in item1.subOptions">
                                    <span style="white-space:nowrap">
                                        <input type="checkbox" 
                                               data-ng-click="appendText(item1, item2.title)"
                                               data-ng-checked="isAppendChecked(item1, item2.title)" />{{item2.title}}
                                    </span>
                                </span>
                                {{item1.postText}}
                            </span>
                        </span>
                    </span>
                    <span data-ng-if="$last">
                        <input type="text" class="k-textbox" style="width:300px" data-ng-model="item.value" />
                    </span>
                </td>
            </tr>
        </tbody>
        <!--Implimentation or intervention-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.implimentation.title}}</span>
                </div>
            </td>
        </tr>
        <tbody>
            <tr data-ng-repeat="item in viewModel.document.body.implimentation.questions">
                <td style="vertical-align:baseline" colspan="2">
                    <!--語言治療-->
                    <span style="display:table-cell;width:180px" data-ng-if="$index < 3 || $index == 4">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false" />
                        {{item.title}}
                    </span>
                    <span style="display:table-cell;width:210px" data-ng-if="$index == 3">
                        <input type="checkbox" data-ng-model="item.isChecked" />
                        {{item.title}}
                    </span>
                    <span style="display:table-cell;width:100px" data-ng-if="$last">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false" />
                        {{item.title}}
                    </span>
                    <!--項目-->
                    <span style="display:table-cell" data-ng-if="!$last && $index != 3">
                        <span data-ng-repeat="item1 in item.options">
                            <span style="white-space:nowrap">
                                <input type="checkbox" data-ng-model="item1.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                       data-ng-click="clickCheckbox(item, item1.title)"
                                       data-ng-checked="isItemChecked(item, item1.title)" />{{item1.title}}
                                <input type="text" class="k-textbox" style="width:300px" 
                                       data-ng-if="$last && $parent.$index != 4 && item1.isChecked == 'true'" 
                                       data-ng-model="item1.value" />
                            </span>
                        </span>
                    </span>
                    <span style="display:table-cell" data-ng-if="$index == 3">
                        <span style="white-space:nowrap">
                            <input type="checkbox" data-ng-model="item.option.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                                   data-ng-click="clickCheckbox(item, item.option.title)"
                                   data-ng-checked="isItemChecked(item, item.option.title)" />{{item.option.title}}
                            <input type="text" class="k-textbox" style="width:300px" 
                                   data-ng-if="item.option.isChecked== 'true'"
                                   data-ng-model="item.option.value" />
                        </span>
                    </span>
                    <span style="display:table-cell" data-ng-if="$last && item.isChecked == 'true'">
                        <input type="text" class="k-textbox" style="width:300px" 
                               data-ng-model="item.value" />
                    </span>
                </td>
            </tr>
        </tbody>
        <!--Evaluation-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.evaluation.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span data-ng-repeat="item in viewModel.document.body.evaluation.options">
                    <span style="white-space:nowrap">
                        <input type="checkbox" data-ng-model="item.isChecked" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-click="clickCheckbox(viewModel.document.body.evaluation, item.title)"
                               data-ng-checked="isItemChecked(viewModel.document.body.evaluation, item.title)" />{{item.title}}
                        <input type="text" class="k-textbox" style="width:300px" data-ng-if="$last&& item.isChecked == 'true'" data-ng-model="item.value" />
                    </span>
                </span>
            </td>
        </tr>
    </table>
</div>



