﻿<div data-ng-controller="departManagerController" class="row" style="margin:1px">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="new()">
            <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="save()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="export()">
            <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.showGrid = !viewModel.showGrid;">
            <span><i class="glyphicon glyphicon-refresh icon-padding"></i>清單／樹狀</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div class="contentClass" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto">
        <!-- 部門清單Grid -->
        <div id="departGrid"
             data-kendo-grid="viewModel.departGrid"
             data-k-options="viewModel.departGridOptions"
             data-k-ng-delay="viewModel.departGridOptions.dataSource"
             style="width: 100%;"
             data-ng-show="viewModel.showGrid">
        </div>
        <!-- 部門清單TreeList -->
        <div id="departTreeList"
             data-kendo-tree-list="viewModel.departTreeList"
             data-k-options="viewModel.departTreeListOptions"
             style="width: 100%;"
             data-ng-show="!viewModel.showGrid">
        </div>
    </div>
    <!--departGridRowTemplate-->
    <script id="departGridRowTemplate" type="text/x-kendo-tmpl">
        <tr data-uid="#: uid #"
            ng-if="dataItem.entityState!='Detached' && dataItem.endDate.getTime() == viewModel.endDate.getTime()">
            <td>
                <center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="delete(dataItem)" /></center>
            </td>
            <td>{{dataItem.departNo}}</td>
            <td>{{dataItem.levelNo}}</td>
            <td>
                <select data-kendo-drop-down-list required
                        data-k-data-text-field="'hospitalName'"
                        data-k-data-value-field="'branchNo'"
                        data-k-data-source="viewModel.branchInfos"
                        data-ng-model="dataItem.branchNo"
                        style="width: 270px"></select>
            </td>
            <td>{{dataItem.levelType.optionName}}</td>
            <td>
                <select data-kendo-drop-down-list required
                        data-k-data-text-field="'optionName'"
                        data-k-data-value-field="'optionNo'"
                        data-k-data-source="viewModel.departTypes"
                        data-ng-model="dataItem.departType.optionNo"
                        style="width: 140px"></select>
            </td>
            <td>{{dataItem.chineseName}}</td>
            <td>{{dataItem.englishName}}</td>
            <td>{{dataItem.shortName}}</td>
            <td>{{dataItem.startDate | date:'yyyy-MM-dd'}}</td>
            <td>{{dataItem.endDate | date:'yyyy-MM-dd'}}</td>
            <!--<td>{{dataItem.isCostCenter}}</td>
            <td>{{dataItem.locationDesc}}</td>
            <td>{{dataItem.drugStockLevel}}</td>
            <td>{{dataItem.matStockLevel}}</td>-->
            <td>{{dataItem.upperLevelNo}}</td>
            <!--<td>{{dataItem.upperShortName}}</td>-->
        </tr>
    </script>
</div>