﻿<div data-ng-controller="faciltiesCheckStatisticsController" class="row" style="margin:1px">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="export()">
            <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div data-kendo-tab-strip id="tabstrip">
        <ul>
            <li class="k-state-active">日統計報表</li>
            <li>月統計報表</li>
        </ul>
        <!-- 日統計報表 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        檢查日期：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkDay" data-k-options="viewModel.checkDayOption" style="width:150px" />
                        <button type="button" class="k-button" data-ng-click="getDayReport()">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 日統計報表Grid -->
            <div id="dayListGrid"
                 data-kendo-grid="viewModel.dayListGrid"
                 data-k-options="viewModel.dayListGridOptions"
                 data-k-ng-delay="viewModel.dayListGridOptions.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
            <!--dayListGridRowTemplate-->
            <script id="dayListGridRowTemplate" type="text/x-kendo-tmpl">
                <tr data-uid="#: uid #">
                    <td>{{dataItem.departName}}</td>
                    <td>{{dataItem.locationName}}</td>
                    <td>
                        <div data-ng-if="dataItem.status == 'true'">
                            <!-- 良好 -->
                            <div style="color:green">●</div>
                        </div>
                    </td>
                    <td>
                        <div data-ng-if="dataItem.status == 'false'">
                            <!-- 異常 -->
                            <div style="color:red" data-ng-click="getCheckList(2,dataItem);viewModel.checklistWindow.center().open();">●</div>
                        </div>
                    </td>
                    <td>
                        <div data-ng-if="dataItem.status == 'na'">
                            <!-- 未檢查 -->
                            <div style="color:black">●</div>
                        </div>
                    </td>
                </tr>
            </script>
        </div>
        <!-- 月統計報表 -->
        <div class="contentClass" style="overflow-x:hidden;overflow-y:hidden;">
            <!-- 查詢條件 -->
            <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                <tr>
                    <td width="30px" rowspan="2">
                        <img src="Content/Images/search_24.png" class="template-button-img">
                        檢查月份：
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkStartMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        至
                        <input data-kendo-date-picker data-k-ng-model="viewModel.checkEndMonth" data-k-options="viewModel.checkMonthOption" style="width:110px" />
                        <button type="button" class="k-button" data-ng-click="getMonthReport()">
                            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                        </button>
                    </td>
                </tr>
            </table>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <!-- 月統計報表Grid -->
            <div id="monthListGrid"
                 data-kendo-grid="viewModel.monthListGrid"
                 data-k-options="viewModel.monthListGridOptions"
                 data-k-ng-delay="viewModel.monthListGridOptions.dataSource"
                 style="width: 100%;overflow-x:hidden;overflow-y:auto">
            </div>
            <!--monthListGridRowTemplate-->
            <!--<script id="monthListGridRowTemplate" type="text/x-kendo-tmpl">
                <tr data-uid="#: uid #">
                    <td>{{dataItem.departName}}</td>
                    <td>{{dataItem.locationName}}</td>
                    <td>
                        <div data-ng-if="dataItem.status == 'true'">
                            <!-- 良好
                            <div style="color:green">●</div>
                        </div>
                    </td>
                    <td>
                        <div data-ng-if="dataItem.status == 'false'">
                            <!-- 異常
                            <div style="color:red">●</div>
                        </div>
                    </td>
                    <td>
                        <div data-ng-if="dataItem.status == 'na'">
                            <!-- 未檢查
                            <div style="color:black">●</div>
                        </div>
                    </td>
                </tr>
            </script>-->
        </div>
    </div>
    <!-- 檢查表視窗 -->
    <div data-kendo-window="viewModel.checklistWindow" data-k-title="'檢查表視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="font-size:16px;margin:5px;width:99%;height:530px;width:99%;overflow-x:hidden;overflow-y:auto">
            <!-- 檢查表Table -->
            <table class="table-bordered" width="100%" style="font-size:16px;line-height:30px">
                <tbody data-ng-repeat="item in viewModel.check.facilitiesDts">
                    <tr data-ng-if="item.itemNo % 100 == 0" style="background-color: #ABD0E0">
                        <td colspan="4" style="font-weight: bold;font-size:18px">{{item.itemName}}</td>
                    </tr>
                    <tr data-ng-if="item.itemNo % 100 == 0" style="background-color: #DDE8EC">
                        <td width="50px" align="center"><a data-ng-click="viewModel.select = 1;selectAll(item.itemNo)" data-ng-disabled="true">是</a></td>
                        <td width="50px" align="center"><a data-ng-click="viewModel.select = 0;selectAll(item.itemNo)" data-ng-disabled="true">否</a></td>
                        <td width="50px" align="center"><a data-ng-click="viewModel.select = 99;selectAll(item.itemNo)" data-ng-disabled="true">N/A</a></td>
                        <td><a>檢查項目</a></td>
                    </tr>
                    <tr data-ng-if="item.itemNo % 100 != 0">
                        <td align="center"><input type="radio" data-ng-model="item.checkStatus" value="1" style="margin-left: 4px;" data-ng-disabled="true" /></td>
                        <td align="center"><input type="radio" data-ng-model="item.checkStatus" value="0" style="margin-left: 4px; " data-ng-disabled="true" /></td>
                        <td align="center"><input type="radio" data-ng-model="item.checkStatus" value="99" style="margin-left: 4px; " data-ng-disabled="true" /></td>
                        <td>{{item.itemName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
