﻿<div ng-controller="lifeQualityBodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <!--該問卷所提問的...-->
        <tr>
            <td class="warning"><h4>{{viewModel.document.body.theme.title}}</h4></td>
        </tr>
        <!--生活品質-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.lifeQuality.title}}</span>
                </div>
            </td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.lifeQuality.questions">
            <tr class="warning" data-ng-if="$last == false"><td>{{item.title}}</td></tr>
            <tr data-ng-if="$last == false">
                <td>
                    <span data-ng-repeat="option in item.options" style="display:inline">
                        <input type="radio" value="{{option.title}}" data-ng-model="item.value" data-ng-click="clickRadio(item, $index)"/>{{option.title}}<br />
                    </span>
                </td>
            </tr>
            <tr class="warning" data-ng-if="$last"><td>{{item.title}}</td></tr>
            <tr data-ng-if="$last">
                <td>
                    <div data-ng-repeat="option in item.options" style="display:inline">
                        <input type="checkbox" data-ng-true-value="true" data-ng-false-value="false"
                               data-ng-change="combinationText(item)"
                               data-ng-disabled="isDisabled(option.isChecked, item.value)"
                               data-ng-model="option.isChecked" />{{option.title}} &emsp;
                        <div data-ng-if="$index == 5" style="display:inline"><br /></div>
                    </div>
                </td>
            </tr>
        </tbody>
        <!--一般問題-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.generalQuestion.title}}</span>
                </div>
            </td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.generalQuestion.questions">
            <tr class="warning" data-ng-if="$last == false"><td>{{item.title}}</td></tr>
            <tr data-ng-if="$last == false">
                <td>
                    <span data-ng-repeat="option in item.options" style="display:inline">
                        <input type="radio" value="{{option.title}}" data-ng-model="item.value" data-ng-click="clickRadio(item, $index)"/>{{option.title}}<br />
                    </span>
                </td>
            </tr><tr class="warning" data-ng-if="$last"><td>{{item.title}}</td></tr>
            <tr data-ng-if="$last">
                <td>
                    <textarea class="k-textbox" data-ng-model="item.value" style="width: 100%; height: 50px;resize: none;overflow:auto"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table style="font-size: 16px; background: #DFFFEE;border:3px;width:100%">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
                <tbody data-ng-repeat="item in viewModel.document.body.lifeQuality.questions">
                    <tr>
                        <td width="200px" colspan="2" align="center">{{item.title}}</td>
                        <td width="400px" colspan="4">{{item.value}}</td>
                    </tr>
                </tbody>
                <!--<tr>
                    <td width="200px" colspan="2" align="center">13.過去7天裡對你最重要的問題</td>
                    <td width="400px" colspan="4">
                        <div data-ng-repeat="item in viewModel.document.body.question13.value" style="display:inline">
                            <div data-ng-if="item.value == 'true'" style="display:inline">{{item.title}}&emsp;</div>
                        </div>
                    </td>
                </tr>-->
                <tbody data-ng-repeat="item in viewModel.document.body.generalQuestion.questions">
                    <tr>
                        <td width="200px" colspan="2" align="center">{{item.title}}</td>
                        <td width="400px" colspan="4">{{item.value}}</td>
                    </tr>
                </tbody>
                <!--<tr>
                    <td width="200px" colspan="2" align="center">17.對你的生活品質非常重要的其他因素</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.question17.value}}</td>
                </tr>-->
            </table>
        </div>
    </div>
</div>



