﻿<div ng-controller="eat10BodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <!--主題-->
        <tr>
            <td colspan="2" class="warning"><h4><strong>{{viewModel.document.body.theme.title}}</strong></h4></td>
        </tr>
        <tr>
            <td colspan="2">{{viewModel.document.body.theme2.title}}</td>
        </tr>
        <tbody data-ng-repeat="item in viewModel.document.body.question">
            <tr>
                <td width="300px" class="warning">{{item.title}}</td>
                <td style="vertical-align:baseline">
                    <div data-ng-repeat="item2 in viewModel.score" style="display:inline">
                        <input type="radio" name="{{item.title}}" value="{{item2.code}}" data-ng-model="item.code" data-ng-change="statisticsScore()" />{{item2.code}}
                    </div>
                </td>
            </tr>
        </tbody>
        <tr>
            <td width="200px" class="warning">{{viewModel.document.body.statisticsScore.title}}</td>
            <td style="vertical-align:baseline">{{viewModel.document.body.statisticsScore.value}}</td>
        </tr>
    </table>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
                <tbody data-ng-repeat="item in viewModel.document.body.question">
                    <tr>
                        <td width="300px" colspan="3" align="center">{{item.title}}</td>
                        <td width="300px" colspan="3">{{item.value2}}</td>
                    </tr>
                </tbody>
                <tr>
                    <td width="300px" colspan="3" align="center">統計分數</td>
                    <td width="300px" colspan="3">{{viewModel.document.body.statisticsScore.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



