﻿<div ng-controller="dysphagiaAssessmentBodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <!--Referred Diagnosis-->
        <tr>
            <td align="right" width="200px" class="warning">{{viewModel.document.body.referredDiagnosis.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.referredDiagnosis.value" />&emsp;
            </td>
        </tr>
        <!--Referred By-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.referredBy.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.referredBy.value" />
            </td>
        </tr>

        <!--Swallowing History-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.swallowingHistory.title}}</span>
                </div>
            </td>
        </tr>
        <!--Chief Complaint-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.chief.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.chief.value" />
            </td>
        </tr>
        <!--Onset-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.onset.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.onset.value" />
            </td>
        </tr>
        <!--Characterized By-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.characterized.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.characterized.value" />
            </td>
        </tr>
        <!--Compensated By-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.compensated.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.compensated.value" />
            </td>
        </tr>
        <!--Meals per Day-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.meals.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.meals.value" />
            </td>
        </tr>
        <!--Time to Complete-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.time.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.time.value" />
            </td>
        </tr>
        <!--H2O intake-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.intake.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.intake.value" />
            </td>
        </tr>
        <!--Throat cleaning-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.throat.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.throat.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.throat)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Gurgly Voice-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.gurgly.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.gurgly.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.gurgly)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Coughing-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.coughing.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.coughing.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.coughing)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Choking-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.choking.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.choking.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.choking)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Foods Avoided-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.foodsAvoided.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.foodsAvoided.value" />
            </td>
        </tr>
        <!--Food Allergies-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.foodAllergies.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.foodAllergies.value" />
            </td>
        </tr>
        <!--Taste-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.taste.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.taste.value" />
            </td>
        </tr>

        <!--Medical History-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.medicalHistory.title}}</span>
                </div>
            </td>
        </tr>
        <!--Weight-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.weight.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.weight.value" />
            </td>
        </tr>
        <!--Unintentional Weight Loss-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.unintentional.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.unintentional.value" />
            </td>
        </tr>
        <!--pain-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.pain.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.pain.value" />
            </td>
        </tr>
        <!--Ambulation Status-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.ambulation.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.ambulation.value" />
            </td>
        </tr>
        <!--Neurological-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.neurological.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.neurological.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.neurological)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Pulmonary-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.pulmonary.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.pulmonary.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.pulmonary)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Esophageal-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.esophageal.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.esophageal.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.esophageal)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Systemic/Metabolic-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.systemic.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.systemic.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.systemic)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Cancer-Related-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.cancer.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.cancer.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.cancer)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Surgical Procedures-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.surgical.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.surgical.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.surgical)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Signs and symptoms of dysphagia-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.dysphagia.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.dysphagia.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.dysphagia)" />{{item.title}}
                    <div data-ng-if="$index == 2 || $index == 5 || $index == 8" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Medications-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.medications.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" style="width:200px" data-ng-model="viewModel.document.body.medications.value" />
            </td>
        </tr>
        <!--Oral Peripheral Examination-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.oralPeripheral.title}}</span>
                </div>
            </td>
        </tr>
        <!--Head ROM-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.headROM.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.headROM.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.headROM)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Neck ROM-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.neckROM.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.neckROM.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.neckROM)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Face (VII)-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.face.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.face.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.face)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--JAW (V)-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.jaw.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.jaw.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.jaw)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Lips (VII)-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.lips.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.lips.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.lips)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Tongue (XII)-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.tongue.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.tongue.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.tongue)" />{{item.title}}
                    <div data-ng-if="$index == 3" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Oral Mucosa-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.oralMucosa.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.oralMucosa.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.oralMucosa)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Dentition-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.dentition.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.dentition.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.dentition)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Palate (IX,X)-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.palate.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.palate.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.palate)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Voice and Speech-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.voiceSpeech.title}}</span>
                </div>
            </td>
        </tr>
        <!--Resonance (IX)-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.resonance.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.resonance.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.resonance.title}}Radio"
                           data-ng-model="viewModel.document.body.resonance.value"/>{{item.title}}
                </div>
            </td>
        </tr>
        <!--Pitch-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.pitch.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.pitch.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.pitch.title}}Radio"
                           data-ng-model="viewModel.document.body.pitch.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Vocal Quality (X)-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.vocal.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.vocal.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.vocal.title}}Radio"
                           data-ng-model="viewModel.document.body.vocal.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Amplitude-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.amplitude.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.amplitude.option" style="display:inline">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.amplitude.title}}Radio"
                           data-ng-model="viewModel.document.body.amplitude.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--MPT-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.mpt.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text"style="width:80px" data-ng-model="viewModel.document.body.mpt.value" />secs
            </td>
        </tr>
        <!--DDK-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.ddk.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width:40px" data-ng-model="viewModel.document.body.ddk.valueP" />/p/
                <input class="k-textbox" type="text" style="width:40px" data-ng-model="viewModel.document.body.ddk.valueT" />/t/
                <input class="k-textbox" type="text" style="width:40px" data-ng-model="viewModel.document.body.ddk.valueK" />/k/
                <input class="k-textbox" type="text" style="width:40px" data-ng-model="viewModel.document.body.ddk.valuePT" />/pt/
                <input class="k-textbox" type="text" style="width:40px" data-ng-model="viewModel.document.body.ddk.valuePTK" />/ptk/
            </td>
        </tr>
        <!--Intelligibility-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.intelligibility.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width:80px" data-ng-model="viewModel.document.body.Intelligibility.value" />％
            </td>
        </tr>

        <!--Swallowing-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.swallowing.title}}</span>
                </div>
            </td>
        </tr>
        <!--3 oz H2O consecutive sips-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.consecutive.title}}</td>
            <td style="vertical-align:baseline">
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.consecutive.value" />
            </td>
        </tr>
        <!--Swallowing evaluation-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.swallowingEvaluation.title}}</td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.cough.title}}
                <div data-ng-repeat="item in viewModel.document.body.cough.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.cough)" />{{item.title}}
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.gag.title}}
                <div data-ng-repeat="item in viewModel.document.body.gag.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.gag)" />{{item.title}}
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.transit.title}}
                <div data-ng-repeat="item in viewModel.document.body.transit.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.transit)" />{{item.title}}
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.choking2.title}}
                <div data-ng-repeat="item in viewModel.document.body.choking2.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.choking2)" />{{item.title}}
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.pocketing.title}}
                <div data-ng-repeat="item in viewModel.document.body.pocketing.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.pocketing)" />{{item.title}}
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.leaking.title}}
                <div data-ng-repeat="item in viewModel.document.body.leaking.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.leaking)" />{{item.title}}
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.specific.title}}
                <div data-ng-repeat="item in viewModel.document.body.specific.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.specific)" />{{item.title}}
                </div>
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.specific.other" />
            </td>
        </tr>
        <!--Recommendations-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.recommendations.title}}</td>
            <td>
                <div data-ng-repeat="item in viewModel.document.body.recommendations.option">
                    <input type="radio" value="{{item.title}}"
                           name="{{viewModel.document.body.recommendations.title}}Radio"
                           data-ng-model="viewModel.document.body.recommendations.value" />{{item.title}}
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.NPO.title}}<br/>&emsp;
                <div data-ng-repeat="item in viewModel.document.body.NPO.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.NPO)" />{{item.title}}
                </div>
                <input class="k-textbox" type="text" style="width: 200px" data-ng-model="viewModel.document.body.NPO.other" />
            </td>
        </tr>
        <tr>
            <td align="right" class="warning"></td>
            <td style="vertical-align:baseline">
                {{viewModel.document.body.PO.title}}
                <div data-ng-repeat="item in viewModel.document.body.PO.option">
                    &ensp;<input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationPOText(viewModel.document.body.PO)" />{{item.title}}
                    <div data-ng-if="$index == 0" style="display:inline"><input class="k-textbox" type="text" style="width: 200px" data-ng-model="viewModel.document.body.PO.modifiedDiet" data-ng-change="combinationPOText(viewModel.document.body.PO)"/></div>
                    <div data-ng-if="$index == 3" style="display:inline">
                        <div data-ng-repeat="item2 in viewModel.document.body.PO.positioningOption">
                            &emsp;&emsp;<input type="radio" name="positioningOption" value="{{item2.title}}" data-ng-model="viewModel.document.body.PO.positioningValue" />{{item2.title}}
                            <div data-ng-if="$index == 3" style="display:inline"><input class="k-textbox" type="text" style="width: 200px" data-ng-model="item2.value"/></div>
                        </div>
                    </div>
                    <div data-ng-if="$index == 4" style="display:inline">
                        <div data-ng-repeat="item2 in viewModel.document.body.PO.swallowingOption">
                            &emsp;&emsp;<input type="radio" name="swallowingOption" value="{{item2.title}}" data-ng-model="viewModel.document.body.PO.swallowingValue" />{{item2.title}}
                        </div>
                    </div>
                    <div data-ng-if="$index == 5" style="display:inline">
                        <div data-ng-repeat="item2 in viewModel.document.body.PO.followOption" style="display:inline">
                            <input type="radio" name="followOption" value="{{item2.title}}" data-ng-model="viewModel.document.body.PO.followValue" />{{item2.title}}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">Referred Diagnosis</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.referredDiagnosis.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">Referred By</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.referredBy.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">Swallowing History</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Chief Complaint</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.chief.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Onset</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.onset.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Characterized By</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.characterized.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Compensated By</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.compensated.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Meals per Day</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.meals.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Time to Complete</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.time.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;H2O intake</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.intake.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Throat cleaning</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.throat.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Gurgly Voice</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.gurgly.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Coughing</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.coughing.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Choking</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.choking.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Foods Avoided</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.foodsAvoided.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Food Allergies</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.foodAllergies.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Taste</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.taste.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">Medical History</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Weight</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.weight.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Unintentional Weight Loss</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.unintentional.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Pain</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.pain.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Ambulation Status</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.ambulation.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Neurological</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.neurological.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Pulmonary</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.pulmonary.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Esophageal</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.esophageal.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Systemic/Metabolic</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.systemic.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Cancer-Related</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.cancer.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Surgical Procedures</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.surgical.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Signs and symptoms of dysphagia</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.dysphagia.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Medications</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.medications.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">Oral Peripheral Examination</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Head ROM</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.headROM.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Neck ROM</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.neckROM.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Face (VII)</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.face.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;JAW (V)</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.jaw.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Lips (VII)</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.lips.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Tongue (XII)</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.tongue.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Oral Mucosa</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.oralMucosa.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Dentition</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.dentition.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Palate (IX,X)</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.palate.value}}</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">Voice and Speech</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Resonance (IX)</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.resonance.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Pitch</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.pitch.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Vocal Quality (X)</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.vocal.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Amplitude</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.amplitude.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;MPT</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.mpt.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;DDK</td>
                    <td width="200px" colspan="2">
                        {{viewModel.document.body.ddk.ddkP}} /p/
                        {{viewModel.document.body.ddk.ddkT}} /t/
                        {{viewModel.document.body.ddk.ddkK}} /k/
                        {{viewModel.document.body.ddk.ddkPT}} /pt/
                        {{viewModel.document.body.ddk.ddkPTK}} /ptk/
                    </td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Intelligibility</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.intelligibility.value}}%</td>
                </tr>
                <tr>
                    <td width="600px" colspan="6">Swallowing</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;3 oz H2O consecutive sips</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.consecutive.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Swallowing evaluation-Cough</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.cough.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Swallowing evaluation-Gag Reflex</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.gag.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Swallowing evaluation-Oral transit time</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.transit.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Swallowing evaluation-Choking</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.choking2.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Swallowing evaluation-Pocketing</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.pocketing.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Swallowing evaluation-Leaking</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.leaking.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Swallowing evaluation-Specific examinations</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.specific.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;Recommendations-Functional ability scale</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.recommendations.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;-NPO</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.NPO.value}}</td>
                </tr>
                <tr>
                    <td width="400px" colspan="4">&emsp;-PO</td>
                    <td width="200px" colspan="2">{{viewModel.document.body.PO.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



