﻿<div ng-controller="swallowingAssessmentBodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <!--Speech-->
        <tr>
            <td align="right" class="warning" width="160px">{{viewModel.document.body.speech.title}}</td>
            <td style="vertical-align:baseline">
                <input type="text" class="k-textbox" style="width:300px" data-ng-model="viewModel.document.body.speech.value" />&emsp;
            </td>
        </tr>
        <!--Occupation-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.occupation.title}}</td>
            <td style="vertical-align:baseline">
                <input type="text" class="k-textbox" style="width:300px" data-ng-model="viewModel.document.body.occupation.value" />
            </td>
        </tr>
        <!--Onset time-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.onsetTime.title}}</td>
            <td style="vertical-align:baseline">
                <input type="text" class="k-textbox" style="width:300px" data-ng-model="viewModel.document.body.onsetTime.value" />
            </td>
        </tr>
        <!--Education-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.education.title}}</td>
            <td style="vertical-align:baseline">
                <input type="text" class="k-textbox" style="width:300px" data-ng-model="viewModel.document.body.education.value" />
            </td>
        </tr>
        <!--Medical Diagnosis-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.medicalDiagnosis.title}}</td>
            <td style="vertical-align:baseline">
                <input type="text" class="k-textbox" style="width:300px" data-ng-model="viewModel.document.body.medicalDiagnosis.value" />
            </td>
        </tr>
        <!--Cancer-related-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.cancerRelated.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.cancerRelated.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.cancerRelated)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Complication-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.complication.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.complication.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.complication)" />{{item.title}}
                    <div data-ng-if="$index == 2 || $index == 5" style="display:inline"><br/></div>
                </div>
            </td>
        </tr>
        <!--Intake Status-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.intakeStatus.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.intakeStatus.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.intakeStatus)" />{{item.title}}
                </div>
            </td>
        </tr>
        <!--Assessment items-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.assessmentItems.title}}</span>
                </div>
            </td>
        </tr>
        <!--Jaw movement-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.jawMovement.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.jawMovement.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.jawMovement.value"
                           data-ng-click="clickRadio(viewModel.document.body.jawMovement, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Lip closure-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.lipClosure.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.lipClosure.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.lipClosure.value"
                           data-ng-click="clickRadio(viewModel.document.body.lipClosure, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Showing teeth-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.showingTeeth.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.showingTeeth.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.showingTeeth.value"
                           data-ng-click="clickRadio(viewModel.document.body.showingTeeth, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Puffing-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.puffing.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.puffing.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.puffing.value"
                           data-ng-click="clickRadio(viewModel.document.body.puffing, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Chewing-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.chewing.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.chewing.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.chewing.value"
                           data-ng-click="clickRadio(viewModel.document.body.chewing, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Tongue-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.tongueA.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.tongueA.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.tongueA.value"
                           data-ng-click="clickRadio(viewModel.document.body.tongueA, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.tongueP.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.tongueP.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.tongueP.value"
                           data-ng-click="clickRadio(viewModel.document.body.tongueP, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.tongueR.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.tongueR.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.tongueR.value"
                           data-ng-click="clickRadio(viewModel.document.body.tongueR, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.tongueL.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.tongueL.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.tongueL.value"
                           data-ng-click="clickRadio(viewModel.document.body.tongueL, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.tongueU.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.tongueU.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.tongueU.value"
                           data-ng-click="clickRadio(viewModel.document.body.tongueU, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.tongueD.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.tongueD.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.tongueD.value"
                           data-ng-click="clickRadio(viewModel.document.body.tongueD, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.tongueStrength.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.tongueStrength.option">
                    <span data-ng-if="$index <= 2">
                        <input type="checkbox" data-ng-model="item.value" data-ng-true-value="true" data-ng-false-value="false" />
                        {{item.title}}
                        <input type="text" class="k-textbox" data-ng-model="item.other" style="width: 100px" data-ng-change="calculate()" />
                    </span>
                    <span data-ng-if="$index > 2">
                        {{item.title}}
                        <input type="text" class="k-textbox" data-ng-model="item.other" style="width: 100px"/>
                    </span>
                    
                </span>
            </td>
        </tr>
        <!--Palate movement-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.palateMovement.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.palateMovement.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.palateMovement.value"
                           data-ng-click="clickRadio(viewModel.document.body.palateMovement, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Chocking-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.chocking.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.chocking.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.chocking.value"
                           data-ng-click="clickRadio(viewModel.document.body.chocking, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Hypernasality-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.hypernasality.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.hypernasality.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.hypernasality.value"
                           data-ng-click="clickRadio(viewModel.document.body.hypernasality, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Hyoid elevation-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.hyoid.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.hyoid.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.hyoid.value"
                           data-ng-click="clickRadio(viewModel.document.body.hyoid, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Swallowing reflex-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.swallowingReflex.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.swallowingReflex.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.swallowingReflex.value"
                           data-ng-click="clickRadio(viewModel.document.body.swallowingReflex, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Gag reflex-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.gagReflex.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.gagReflex.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.gagReflex.value"
                           data-ng-click="clickRadio(viewModel.document.body.gagReflex, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Cough-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.cough.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.cough.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.cough.value"
                           data-ng-click="clickRadio(viewModel.document.body.cough, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Sensory-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.sensory.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.sensory.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.sensory.value"
                           data-ng-click="clickRadio(viewModel.document.body.sensory, $index)" />{{item.title}}
                </span>
                <span data-ng-if="viewModel.document.body.sensory.code == 1">
                    （<span data-ng-repeat="item in viewModel.document.body.sensory.abnormalOption">
                        <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.sensory.abnormal"/>{{item.title}}
                    </span>）
                </span>
            </td>
        </tr>
        <!--Drooling-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.drooling.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.drooling.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.drooling.value"
                           data-ng-click="clickRadio(viewModel.document.body.drooling, $index)" />{{item.title}}
                </span>
                <span data-ng-if="viewModel.document.body.drooling.code == 1">
                    （<span data-ng-repeat="item in viewModel.document.body.drooling.yesOption">
                        <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.drooling.yes" />{{item.title}}
                    </span>）
                </span>
            </td>
        </tr>
        <!--Wet voice-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.wetVoice.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.wetVoice.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.wetVoice.value"
                           data-ng-click="clickRadio(viewModel.document.body.wetVoice, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Nasal reflux-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.nasal.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.nasal.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.nasal.value"
                           data-ng-click="clickRadio(viewModel.document.body.nasal, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Biting reflex-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.biting.title}}</td>
            <td style="vertical-align:baseline">
                <span data-ng-repeat="item in viewModel.document.body.biting.option">
                    <input type="radio" value="{{item.title}}" data-ng-model="viewModel.document.body.biting.value"
                           data-ng-click="clickRadio(viewModel.document.body.biting, $index)" />{{item.title}}
                </span>
            </td>
        </tr>
        <!--Stages of swallowing-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.stagesSwallowing.title}}</span>
                </div>
            </td>
        </tr>
        <!--Preparatory Phase-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.preparatory.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.preparatory.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.preparatory)" />{{item.title}}
                    <div data-ng-if="$index == 1" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Oral Phase-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.oralPhase.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.oralPhase.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.oralPhase)" />{{item.title}}
                    <div data-ng-if="$index == 1" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Pharyngeal phase-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.pharyngeal.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.pharyngeal.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.pharyngeal)" />{{item.title}}
                    <div data-ng-if="$index == 0 || $index == 1" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Impression-->
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.impression.title}}</span>
                </div>
            </td>
        </tr>
        <!--Suggestion-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.suggestion.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.suggestion.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.suggestion)" />{{item.title}}
                    <div data-ng-if="$index == 2" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Treatment Plan-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.treatmentPlan.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.treatmentPlan.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.treatmentPlan)" />{{item.title}}
                    <div data-ng-if="$index == 1 || $index == 3 || $index == 5 || $index == 7 || $index == 9" style="display:inline"><br /></div>
                </div>
                <input class="k-textbox" type="text" style="width: 300px" data-ng-model="viewModel.document.body.treatmentPlan.other" />
            </td>
        </tr>
        <!--Posture changes-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.postureChanges.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.postureChanges.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.postureChanges)" />{{item.title}}
                    <div data-ng-if="$index == 2" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Swallow maneuvers-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.swallowManeuvers.title}}</td>
            <td style="vertical-align:baseline">
                <div data-ng-repeat="item in viewModel.document.body.swallowManeuvers.option" style="display:inline">
                    <input type="checkbox" data-ng-model="item.value" ng-true-value="true" ng-false-value="false" data-ng-change="combinationText(viewModel.document.body.swallowManeuvers)" />{{item.title}}
                    <div data-ng-if="$index == 1 || $index == 3" style="display:inline"><br /></div>
                </div>
            </td>
        </tr>
        <!--Others-->
        <tr>
            <td align="right" class="warning">{{viewModel.document.body.others.title}}</td>
            <td style="vertical-align:baseline">
                <input type="text" class="k-textbox" style="width:300px" data-ng-model="viewModel.document.body.others.value" />&emsp;
            </td>
        </tr>
    </table>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">Speech</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.speech.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">Occupation</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.occupation.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">Onset time</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.onsetTime.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">Education</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.education.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">Medical Diagnosis</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.medicalDiagnosis.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">Cancer-related</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.cancerRelated.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">Complication</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.complication.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">Intake Status</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.intakeStatus.value}}</td>
                </tr>
                <tr>
                    <td colspan="6">Assessment items</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Jaw movement</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.jawMovement.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Lip closure</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.lipClosure.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Showing teeth</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.showingTeeth.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Puffing</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.puffing.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Chewing</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.chewing.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Tongue (Anterior)</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.tongueA.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Tongue (Posterior)</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.tongueP.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Tongue (Right side)</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.tongueR.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Tongue (Left side)</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.tongueL.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Tongue (Up)</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.tongueU.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Tongue (Down)</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.tongueD.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Palate movement</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.palateMovement.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Chocking</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.chocking.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Hypernasality</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.hypernasality.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Hyoid elevation</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.hyoid.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Swallowing reflex</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.swallowingReflex.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Gag reflex</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.gagReflex.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Cough</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.cough.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Sensory</td>
                    <td width="400px" colspan="4"> {{viewModel.document.body.sensory.value}}
                        <div data-ng-if="viewModel.document.body.sensory.value == 'abnormal'" style="display:inline">
                            ，{{viewModel.document.body.sensory.abnormal}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Drooling</td>
                    <td width="400px" colspan="4">
                        {{viewModel.document.body.drooling.value}}
                        <div data-ng-if="viewModel.document.body.drooling.value == 'yes'" style="display:inline">
                            ，{{viewModel.document.body.drooling.yes}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Wet voice</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.wetVoice.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Nasal reflux</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.nasal.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Biting reflex</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.biting.value}}</td>
                </tr>
                <tr>
                    <td colspan="6">Stages of swallowing</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Preparatory Phase</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.preparatory.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Oral Phase</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.oralPhase.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Pharyngeal phase</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.pharyngeal.value}}</td>
                </tr>
                <tr>
                    <td colspan="6">Impression</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Suggestion</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.suggestion.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Treatment Plan</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.treatmentPlan.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Posture changes</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.postureChanges.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Swallow maneuvers</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.swallowManeuvers.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2">&emsp;Others</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.others.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



