﻿<div data-ng-controller="cancerQueryPatientsInfoController">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="viewModel.ptSelectWindow.center().open()" data-ng-if="executingAppStore.appId == 75">
            <span><i class="glyphicon glyphicon-check icon-padding"></i>虛擬診收案</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.newWindow.center().open()">
            <span><i class="glyphicon glyphicon-check icon-padding"></i>病歷號收案</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div class="contentClass" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 0.4em 0em; ">
        <!-- 查詢條件 -->
        <table class="table" style="margin-bottom:0px;">
            <tr>
                <td>
                    <img src="Content/Images/search_24.png" alt="Search" class="template-button-img">
                    <span data-ng-if="executingAppStore.appId == 75">個案類別：</span>
                    <select data-kendo-drop-down-list data-ng-model="viewModel.searchRequest.caseType" style="width:75px" data-ng-if="executingAppStore.appId == 75">
                        <option value="0"></option>
                        <option value=69>癌症</option>
                        <option value=76>中風</option>
                        <option value=77>失智</option>
                    </select>
                    <input type="radio" name="searchType" value="Period" data-ng-model="viewModel.searchRequest.searchType" />時間查詢
                    <div data-ng-if="viewModel.searchRequest.searchType == 'Period'" style="display:inline">
                        ：
                        <input kendo-date-picker data-k-ng-model="viewModel.searchRequest.startDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                        至
                        <input kendo-date-picker data-k-ng-model="viewModel.searchRequest.endDate" data-k-format="'yyyy-MM-dd'" style="width:150px" />
                    </div>
                    <input type="radio" name="searchType" value="chartNo" data-ng-model="viewModel.searchRequest.searchType" />病歷號查詢
                    <div data-ng-if="viewModel.searchRequest.searchType == 'chartNo'" style="display:inline">
                        ：
                        <input type="text" class="k-textbox" data-ng-model="viewModel.searchRequest.chartNo" maxlength="10" style="width: 120px" />
                    </div>
                    <button type="button" class="btn btn-default" data-ng-click="getCaseRecordList()" data-ng-disabled="viewModel.searchRequest.caseType == 0">
                        <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                    </button>
                </td>
            </tr>
        </table>
        <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
        <!-- 個案清單Grid -->
        <div id="caseListGrid"
             data-ng-init="setHeight()"
             data-kendo-grid="viewModel.caseListGrid"
             data-k-options="viewModel.caseListGridOptions"
             data-k-ng-delay="viewModel.caseListGridOptions.dataSource"
             style="width: 100%;">
        </div>
    </div>
    <!-- 虛擬診收案視窗 -->
    <div data-kendo-window="viewModel.ptSelectWindow" data-k-draggable="false"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="false" data-k-title="false" data-k-height="560" data-k-width="830">
        <div style="margin:5px;">
            個案類別：
            <select data-kendo-drop-down-list data-ng-model="appModel.caseType" style="width:75px">
                <option value="0"></option>
                <option value=69>癌症</option>
                <option value=76>中風</option>
                <option value=77>失智</option>
            </select>
            門診日期：
            <input data-kendo-date-picker
                   data-k-format="'yyyy-MM-dd'"
                   data-k-ng-model="viewModel.searchDate" />
            <button type="button" class="btn btn-default" data-ng-click="getDisclosedList()" data-ng-disabled="appModel.caseType == 0">
                <span><i class="glyphicon glyphicon-search icon-padding"></i>搜尋</span>
            </button>
        </div>
        <div id="disclosedListGrid"
             data-kendo-grid="viewModel.disclosedListGrid"
             data-k-options="viewModel.disclosedListGridOptions"
             data-k-ng-delay="viewModel.disclosedListGridOptions.dataSource"
             style="width:100%;overflow-x:hidden">
        </div>
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="closeCase();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.ptSelectWindow.close();">取消</button>
        </div>
    </div>
    <!-- 病歷號收案視窗 -->
    <div data-kendo-window="viewModel.newWindow" data-k-draggable="false"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="false" data-k-title="false" data-k-height="200" data-k-width="830">
        <div style="margin:5px;">
            <span data-ng-if="executingAppStore.appId == 75">個案類別：</span>
            <select data-kendo-drop-down-list data-ng-model="appModel.caseType" style="width:75px" data-ng-if="executingAppStore.appId == 75">
                <option value="0"></option>
                <option value=69>癌症</option>
                <option value=76>中風</option>
                <option value=77>失智</option>
            </select>
            病歷號：
            <input class="k-textbox" type="text" data-ng-model="viewModel.searchChartNo" maxlength="10" />
            <button type="button" class="btn btn-default" data-ng-click="searchPt()" data-ng-disabled="appModel.caseType == 0">
                <span><i class="glyphicon glyphicon-search icon-padding"></i>搜尋</span>
            </button>
            <div id="newPatientListGrid"
                 data-kendo-grid="viewModel.newPatientListGrid"
                 data-k-options="viewModel.newPatientListGridOptions"
                 data-k-ng-delay="viewModel.newPatientListGridOptions.dataSource">
            </div>
            <div class="pull-right" style="margin:5px;">
                <button class="btn btn-md btn-success" data-ng-click="closeCase();">完成</button>
                <button class="btn btn-md btn-warning" data-ng-click="viewModel.newWindow.close();">取消</button>
            </div>
        </div>
    </div>
</div>
