﻿<style type="text/css">
    .k-grid > .k-grid-header > .k-grid-header-wrap table tr th.k-header {
        background-color: #23a0ce;
    }

    a {
        text-decoration: underline;
    }

    .oddTd1 {
        color: #337AB7;
        background-color: #D4EEFD;
        border-bottom: 1px solid #99BAE2;
        border-right: 1px solid #99BAE2;
    }

    .oddTd2 {
        background-color: #D4EEFD;
        padding-left: 5px;
        border-bottom: 1px solid #99BAE2;
        border-right: 1px solid #99BAE2;
    }

    .evenTd1 {
        color: #337AB7;
        border-bottom: 1px solid #99BAE2;
        border-right: 1px solid #99BAE2;
    }

    .evenTd2 {
        padding-left: 5px;
        border-bottom: 1px solid #99BAE2;
        border-right: 1px solid #99BAE2;
    }
</style>
<div data-ng-controller="maintenanceTreatmentController" class="row" style="margin:1px">
    <div data-kendo-tab-strip id="tabstrip">
        <ul>
            <li class="k-state-active">維修管理</li>
            <li>維修處理</li>
        </ul>
        <!-- 維修管理 -->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="export()" data-ng-disabled="viewModel.maintenanceListGrid.dataSource.data().length == 0">
                    <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出</span>
                </button>
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow: auto">
                <!-- 查詢條件 -->
                <table class="table" style="margin-bottom: 0px;" data-ng-if="viewModel.pageType != 4">
                    <tr>
                        <td width="30px" rowspan="2">
                            <img src="http://i.imgur.com/6WHsWom.png" class="template-button-img">
                            申請期間：
                            <select data-kendo-drop-down-list data-ng-model="viewModel.period" data-ng-change="getPeriod()" style="width:90px">
                                <option value="1">三日內</option>
                                <option value="2">一周內</option>
                                <option value="3">一月內</option>
                                <option value="4">三月內</option>
                                <option value="5">全部</option>
                            </select>
                            維修狀況：
                            <select data-kendo-drop-down-list
                                    data-k-data-text-field="'optionName'"
                                    data-k-data-value-field="'optionNo'"
                                    data-k-data-source="viewModel.repairStatusInfos"
                                    data-ng-model="viewModel.searchRequest.repairStatus.optionNo"
                                    style="width: 120px"></select>
                            <button type="button" class="k-button" data-ng-click="search()" data-ng-disabled="viewModel.searchRequest.repairStatus.optionNo == 0">
                                <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
                <!-- 收案清單Grid -->
                <div id="maintenanceListGrid"
                     data-kendo-grid="viewModel.maintenanceListGrid"
                     data-k-options="viewModel.maintenanceListGridOptions"
                     data-k-ng-delay="viewModel.maintenanceListGridOptions.dataSource"
                     style="width: 100%;overflow-x:hidden;overflow-y:auto">
                </div>
            </div>
        </div>
        <!-- 維修處理-->
        <div class="contentClass">
            <!-- 上排按鈕 -->
            <div class="top-toolbar">
                <button type="button" class="btn btn-default" data-ng-click="signature(10)" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo != 10 && supervisorDisabled()">
                    <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="signature(20);" data-ng-disabled="(completeDisabled() || viewModel.repairMtInfo.repairStatus.optionNo != 10) && supervisorDisabled()">
                    <span><i class="glyphicon glyphicon-check icon-padding"></i>完成</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="turnForm('1AD0')" data-ng-if="executingAppStore.appId != 351" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo != 10 && supervisorDisabled()">
                    <span><i class="glyphicon glyphicon-share-alt icon-padding"></i>轉工務</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="turnForm('1A91')" data-ng-if="executingAppStore.appId != 352" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo != 10 && supervisorDisabled()">
                    <span><i class="glyphicon glyphicon-share-alt icon-padding"></i>轉醫工</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="turnForm('1A82')" data-ng-if="executingAppStore.appId != 353" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo != 10 && supervisorDisabled()">
                    <span><i class="glyphicon glyphicon-share-alt icon-padding"></i>轉資訊</span>
                </button>
                <input type="file" data-ng-show="false" id="csvFileInput" onchange="angular.element(this).scope().handleFiles(this.files);this.value = null" accept=".csv">
                <a data-ng-show="false" id="downloadTemplate" href="App/MaintenanceTreatment/零件匯入範本.csv" target="_blank">下載範本</a>
                <button type="button" class="btn btn-default" onclick="document.getElementById('downloadTemplate').click()">
                    <span><i class="glyphicon glyphicon-arrow-down icon-padding"></i>下載零件匯入範本</span>
                </button>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-ng-click="viewModel.signOffWindow.center().open();" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo != 20 && supervisorDisabled()">
                        <span><i class="glyphicon glyphicon-pencil icon-padding"></i>簽核</span>
                    </button>
                </div>
            </div>
            <!-- 下方內容 -->
            <div class="contentClass2" style="overflow-x:hidden;overflow-y: auto;">
                <table style="font-size:16px;line-height:40px;width:100%;border:1px solid #99BAE2; padding: 5px; margin: 0.4em 0em 1em 0em; overflow: auto;">
                    <tr>
                        <td width="100px" align="center" class="oddTd1">連絡電話<span style="color:red">*</span></td>
                        <td valign="middle" class="oddTd2">
                            <input type="text" class="k-textbox" style="width:120px" maxlength="10" data-ng-model="viewModel.repairMtInfo.telNo" data-ng-disabled="(viewModel.repairMtInfo.repairStatus.optionNo>10 || viewModel.disabled) && supervisorDisabled()" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="evenTd1">附件資料</td>
                        <td valign="middle" class="evenTd2">
                            <div data-ng-repeat="item in viewModel.repairMtInfo.repairAttaches">
                                <img data-ng-src="http://i.imgur.com/wtRl5iU.jpg" style="width:20px;height:20px;" data-ng-click="downloadAttachment(item)" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 && supervisorDisabled()" />{{item.attachName}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="oddTd1"><a data-ng-click="viewModel.repairMtInfo.repairStatus.optionNo>10 ? '' : viewModel.faultLocationWindow.center().open();" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 && supervisorDisabled()">單位地點</a><span style="color:red">*</span></td>
                        <td valign="middle" class="oddTd2">
                            <div style="display:inline" data-ng-repeat="item in viewModel.repairMtInfo.locationNames">
                                {{item}}&emsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="evenTd1">故障位置</td>
                        <td valign="middle" class="evenTd2">
                            {{viewModel.repairMtInfo.locationRemark}}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="oddTd1"><a data-ng-click="getEquipmentCategoryList()" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 && supervisorDisabled()">設備類別</a><span style="color:red">*</span></td>
                        <td valign="middle" class="oddTd2">
                            <div style="display:inline" data-ng-repeat="item in viewModel.repairMtInfo.propertyNames">
                                {{item}}&emsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="evenTd1"><a data-ng-click="getPropertyList();" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 && supervisorDisabled()">財產編號</a><span style="color:red">*</span></td>
                        <td valign="middle" class="evenTd2">
                            <input type="text" class="k-textbox" data-ng-model="viewModel.repairMtInfo.propertyCode.optionNo" style="width: 220px" data-ng-keyup="getPropertyBasicInfo()" data-ng-disabled="viewModel.disabled && supervisorDisabled()" />
                            {{viewModel.repairMtInfo.propertyCode.optionName}}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="oddTd1"><a data-ng-click="getPropertyFailureInfo()" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 && supervisorDisabled()">故障情形</a><span style="color:red">*</span></td>
                        <td valign="middle" class="oddTd2">
                            {{viewModel.repairMtInfo.failureNo.optionName}}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="evenTd1">補充說明</td>
                        <td valign="middle" class="evenTd2">
                            {{viewModel.repairMtInfo.failureRemark}}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="oddTd1">完成時間<span style="color:red">*</span></td>
                        <td valign="middle" class="oddTd2">
                            <input kendo-date-time-picker data-k-ng-model="viewModel.repairMtInfo.completeTime" data-ng-disabled="(viewModel.repairMtInfo.repairStatus.optionNo>10 || viewModel.disabled) && supervisorDisabled()" style="width: 250px;" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="evenTd1">處理工時<span style="color:red">*</span></td>
                        <td valign="middle" class="evenTd2">
                            <input type="text" class="k-textbox" data-ng-model="viewModel.repairMtInfo.workMinutes" style="width:100px" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 || viewModel.disabled && supervisorDisabled()" />分鐘
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="oddTd1">使用零件</td>
                        <td valign="middle" class="oddTd2">
                            <button type="button" class="btn btn-default" onclick="document.getElementById('csvFileInput').click()">
                                <span><i class="glyphicon glyphicon-open-file icon-padding"></i>匯入</span>
                            </button>
                            <button type="button" class="btn btn-default" data-ng-click="addParts()">
                                <span><i class="glyphicon glyphicon-plus icon-padding"></i>新增</span>
                            </button>
                            條碼：<input type="text" id="barCodeText" class="k-textbox" data-ng-model="viewModel.barCodeNo" data-ng-change="getPartsName()" style="width: 120px" />{{viewModel.barCodeName}}
                            <input type="checkbox" data-ng-model="viewModel.isAutoPress" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="removeQuickSearch()" />條碼鎖定
                            <br />
                            <div id="componentsGrid"
                                 data-kendo-grid="viewModel.componentsGrid"
                                 data-k-options="viewModel.componentsGridOptions"
                                 data-k-ng-delay="viewModel.componentsGridOptions.dataSource"
                                 style="width: 100%;height:150px;overflow-x:hidden;overflow-y:auto">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="evenTd1">維修內容<span style="color:red">*</span></td>
                        <td valign="middle" class="evenTd2">
                            快速輸入：
                            <select data-kendo-drop-down-list data-ng-if="executingAppStore.appId != 352" data-ng-model="viewModel.repairMtInfoContentInput"
                                    data-on-change="viewModel.repairMtInfo.repairRemark = viewModel.repairMtInfo.repairRemark + viewModel.repairMtInfoContentInput;viewModel.repairMtInfoContentInput = ''"
                                    data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 || viewModel.disabled"
                                    style="width:300px">
                                <option value=""></option>
                                <option value="檢修完成 ok">檢修完成 ok</option>
                                <option value="維修不符成本，建議報銷">維修不符成本，建議報銷</option>
                                <option value="取消">取消</option>
                                <option value="廠商處理完成">廠商處理完成</option>
                                <option value="外觀完整，功能正常，可退庫">外觀完整，功能正常，可退庫</option>
                                <option value="轉醫工修繕單">轉醫工修繕單</option>
                                <option value="轉資訊修繕單">轉資訊修繕單</option>
                                <option value="轉工務修繕單">轉工務修繕單</option>
                                <option value="轉工程委託單">轉工程委託單</option>
                                <option value="請開配鎖單">請開配鎖單</option>
                                <option value="庫房備料">庫房備料</option>
                                <option value="電焊完成">電焊完成</option>
                                <option value="氬焊完成">氬焊完成</option>
                                <option value="通管完成">通管完成</option>
                                <option value="CO2通管完成">CO2通管完成</option>
                                <option value="轉專案處理">轉專案處理</option>
                                <option value="年限已久，無物料可修復，建議報銷">年限已久，無物料可修復，建議報銷</option>
                                <option value="轉零星工程處理">轉零星工程處理</option>
                                <option value="潤滑完成">潤滑完成</option>
                                <option value="硫酸通管完成">硫酸通管完成</option>
                                <option value="待料">待料</option>
                            </select>
                            <select data-kendo-drop-down-list data-ng-if="executingAppStore.appId == 352" data-ng-model="viewModel.repairMtInfoContentInput"
                                    data-on-change="viewModel.repairMtInfo.repairRemark = viewModel.repairMtInfo.repairRemark + viewModel.repairMtInfoContentInput;viewModel.repairMtInfoContentInput = ''"
                                    data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 || viewModel.disabled"
                                    style="width:300px">
                                <option value=""></option>
                                <option value="更換導線耗材">更換導線耗材</option>
                                <option value="更換感應器耗材">更換感應器耗材</option>
                                <option value="更換管路耗材">更換管路耗材</option>
                                <option value="更換燈泡耗材">更換燈泡耗材</option>
                                <option value="更換電池耗材">更換電池耗材</option>
                                <option value="更換壓脈袋耗材">更換壓脈袋耗材</option>
                                <option value="更換電源線耗材">更換電源線耗材</option>
                                <option value="更換燈管耗材">更換燈管耗材</option>
                                <option value="更換主機板">更換主機板</option>
                                <option value="設備調整校正">設備調整校正</option>
                                <option value="管路阻塞清通">管路阻塞清通</option>
                                <option value="更換關節固定座">更換關節固定座</option>
                                <option value="網路線重新固定">網路線重新固定</option>
                                <option value="維修不符效益建議報銷">維修不符效益建議報銷</option>
                                <option value="零件停產無法維修建議報銷">零件停產無法維修建議報銷</option>
                                <option value="器械變形磨損無法修復建議報銷">器械變形磨損無法修復建議報銷</option>
                                <option value="設備定期保養">設備定期保養</option>
                                <option value="檢查設備功能正常，建議再觀察。">檢查設備功能正常，建議再觀察。</option>
                                <option value="檢查設備功能正常，建議退庫。">檢查設備功能正常，建議退庫。</option>
                            </select><br />
                            <textarea name="textarea" class="k-textbox" data-ng-model="viewModel.repairMtInfo.repairRemark" style="width: 100%; height: 50px; resize: none;overflow:auto" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 || viewModel.disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="middle" class="oddTd2">
                            <input type="checkbox" data-ng-model="viewModel.repairMtInfo.isScrapped" data-ng-true-value="true" data-ng-false-value="false" data-ng-disabled="viewModel.repairMtInfo.repairStatus.optionNo>10 || viewModel.disabled" /><span style="color:#337AB7">建議報銷</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- 單位地點視窗 -->
    <div data-kendo-window="viewModel.faultLocationWindow" data-k-title="'單位地點視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="font-size:16px;margin:5px;width:99%;height:520px;width:99%;overflow-x:hidden;overflow-y:hidden">
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>地點</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.locationInfos[0]"
                        data-ng-click="changeBgColor(viewModel.locationInfos[0],$index);getLocation(item,0);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.locationName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>樓層</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.locationInfos[1]"
                        data-ng-click="changeBgColor(viewModel.locationInfos[1],$index);getLocation(item,1);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.locationName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>單位</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.locationInfos[2]"
                        data-ng-click="changeBgColor(viewModel.locationInfos[2],$index);getLocation(item,2);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.locationName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>部門</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.locationInfos[3]"
                        data-ng-click="changeBgColor(viewModel.locationInfos[3],$index);getLocation(item,3);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.locationName}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="getLocation([],4);">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.faultLocationWindow.close();">取消</button>
        </div>
    </div>
    <!-- 設備類別視窗 -->
    <div data-kendo-window="viewModel.devicesTypeWindow" data-k-title="'設備類別視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="font-size:16px;margin:5px;width:99%;height:530px;width:99%;overflow-x:hidden;overflow-y:hidden">
            <div style="height:530px;width:30%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>大類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.equipmentInfos[0]"
                        data-ng-click="changeBgColor(viewModel.equipmentInfos[0],$index);getEquipment(item,0);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;width:30%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>中類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.equipmentInfos[1]"
                        data-ng-click="changeBgColor(viewModel.equipmentInfos[1],$index);getEquipment(item,1);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>小類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.equipmentInfos[2]"
                        data-ng-click="changeBgColor(viewModel.equipmentInfos[2],$index);getEquipment(item,2);"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="getEquipment([],3);">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.devicesTypeWindow.close();">取消</button>
        </div>
    </div>
    <!-- 財產視窗 -->
    <div data-kendo-window="viewModel.propertyWindow" data-k-title="'財產視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="1000">
        <div style="margin:5px;width:100%">
            保管人：<input type="text" class="k-textbox" data-ng-model="viewModel.keepUser" style="width: 80px" data-ng-change="filterGrid()" /><br />
            <!-- 財產Grid -->
            <div id="propertyGrid"
                 data-kendo-grid="viewModel.propertyGrid"
                 data-k-options="viewModel.propertyGridOptions"
                 data-k-ng-delay="viewModel.propertyGridOptions.dataSource"
                 style="width: 100%;height:490px;overflow-x:hidden;overflow-y:auto">
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="getProperty();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.propertyWindow.close();">取消</button>
        </div>
    </div>
    <!-- 故障情形視窗 -->
    <div data-kendo-window="viewModel.failureScenarioWindow" data-k-title="'故障情形視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="margin:5px;height:530px;overflow:hidden">
            <img src="Content/Images/search_24.png" alt="Search" class="template-button-img">
            <input type="text" class="k-textbox" data-ng-model="viewModel.filterFailure" style="width:95%" />
            <hr style="margin: 5px 0px 5px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
            <div style="height:480px;overflow-y:auto">
                <div class="col-xs-4" style="padding:0px 0px 5px 0px;" data-ng-repeat="item in viewModel.propertyFailureInfo | filter:viewModel.filterFailure">
                    <button type="button" class="btn btn-default col-xs-11" style="padding:7px" data-ng-click="viewModel.failureNo = item.failureNo;viewModel.failureName = item.failureName">
                        {{item.failureName}}
                    </button>
                </div>
            </div>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="viewModel.repairMtInfo.failureNo.optionNo = viewModel.failureNo;viewModel.repairMtInfo.failureNo.optionName = viewModel.failureName;viewModel.failureScenarioWindow.close();">完成</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.failureScenarioWindow.close();">取消</button>
        </div>
    </div>
    <!-- 使用零件視窗 -->
    <div data-kendo-window="viewModel.usedPartsWindow" data-k-title="'使用零件視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="600" data-k-width="800">
        <div style="font-size:16px;margin:5px;width:99%;height:520px;width:99%;overflow-x:hidden;overflow-y:hidden">
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>大類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.maintenanceStaff[0]"
                        data-ng-click="changeBgColor(viewModel.maintenanceStaff[0],$index);getPartsType(item,0);getPartsBasics();"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>中類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.maintenanceStaff[1]"
                        data-ng-click="changeBgColor(viewModel.maintenanceStaff[1],$index);getPartsType(item,1);getPartsBasics();"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;width:25%;float:left;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>小類別</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.maintenanceStaff[2]"
                        data-ng-click="changeBgColor(viewModel.maintenanceStaff[2],$index);getPartsType(item,2);getPartsBasics();"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.typeName}}</td>
                    </tr>
                </table>
            </div>
            <div style="height:530px;overflow-x:hidden;overflow-y:auto">
                <table class="table">
                    <tbody style="color:#337AB7;background-color:#D4EEFD;border:1px solid #A3A3AF;">
                        <tr>
                            <td>零件</td>
                        </tr>
                    </tbody>
                    <tr data-ng-repeat="item in viewModel.partsBasics"
                        data-ng-click="changeBgColor(viewModel.partsBasics,$index);addComponents(item)"
                        style="width:100%;border:1px solid #A3A3AF;background-color:{{item.backColor}}">
                        <td>{{item.partsName}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- 簽核視窗 -->
    <div data-kendo-window="viewModel.signOffWindow" data-k-title="'簽核視窗'"
         data-k-visible="false" data-k-resizable="false"
         data-k-modal="true" data-k-height="200" data-k-width="350">
        <div style="margin:5px;width:100%">
            帳號：<input id="loginUserId" class="k-textbox" type="text" placeholder="請輸入員工代號"
                      data-ng-model="viewModel.userParam.userId"
                      data-auto-focus /><br />
            密碼：<input id="loginPassword" class="k-textbox" type="password" placeholder="請輸入員工帳號密碼"
                      data-ng-model="viewModel.userParam.password" /><br />
            <button type="submit" class="btn btn-effect-ripple btn-primary" style="overflow: hidden; position: relative;" data-ng-click="login()">
                <i class="glyphicon glyphicon-ok"></i>登入
            </button>
        </div>
        <hr style="margin: 0px 0px 0px 0px; border: 0; border-top: 1px solid #E2E1E1;" />
        <div class="pull-right" style="margin:5px;">
            <button class="btn btn-md btn-success" data-ng-click="signOff()" data-ng-disabled="viewModel.signOffUser == ''">簽核</button>
            <button class="btn btn-md btn-warning" data-ng-click="viewModel.signOffWindow.close();">取消</button>
        </div>
    </div>
    <!--componentsGridRowTemplate-->
    <script id="componentsGridRowTemplate" type="text/x-kendo-tmpl">
        <tr data-uid="#: uid #"
            ng-if="dataItem.entityState!='Deleted'&& dataItem.entityState!='Detached'">
            <td>
                <center><img data-ng-src="http://i.imgur.com/nRPnjxu.png" style="width:20px;height:20px;" data-ng-click="deleteComponents(dataItem)" /></center>
            </td>
            <td>{{dataItem.partsCode}}</td>
            <td>{{dataItem.partsName}}</td>
            <td>{{dataItem.qty}}</td>
        </tr>
    </script>
</div>