﻿<div data-ng-controller="faciltiesCheckManagementController" class="row" style="margin:1px">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="save()">
            <span><i class="glyphicon glyphicon-floppy-disk icon-padding"></i>存檔</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div id="contentDiv" style="background-color: #f5f5f5; border: 1px #ccc solid; padding: 5px; margin: 0.4em 0em 1em 0em;overflow-y: auto;overflow-x:hidden">
        <!-- 查詢條件 -->
        <table class="table" style="margin-bottom: 0px;">
            <tr>
                <td>
                    <img src="http://i.imgur.com/6WHsWom.png" class="template-button-img">
                    檢查單位：
                    <select data-kendo-drop-down-list required
                            data-k-filter="'contains'"
                            data-k-data-text-field="'departName'"
                            data-k-data-value-field="'departNo'"
                            data-k-data-source="viewModel.deptList"
                            data-on-change="getCheckDay(1);getCheckDay(2);"
                            data-ng-model="viewModel.checkDepart"
                            style="width: 250px"></select>
                    &emsp;檢查地點：
                    <select id="locationInfos0"
                            data-kendo-drop-down-list
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos[0]"
                            data-ng-model="viewModel.locationInfos0"
                            data-on-change="locationChange(0)"
                            style="width: 140px"></select>
                    <select id="locationInfos1"
                            data-kendo-drop-down-list
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos[1]"
                            data-ng-model="viewModel.locationInfos1"
                            data-on-change="locationChange(1)"
                            style="width: 60px"></select>
                    <select id="locationInfos2"
                            data-kendo-drop-down-list
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos[2]"
                            data-ng-model="viewModel.locationInfos2"
                            data-on-change="locationChange(2)"
                            style="width: 170px"></select>
                    <select id="locationInfos3"
                            data-kendo-drop-down-list
                            data-k-data-text-field="'locationName'"
                            data-k-data-value-field="'locationNo'"
                            data-k-data-source="viewModel.locationInfos[3]"
                            data-ng-model="viewModel.locationInfos3"
                            data-on-change="locationChange(3)"
                            style="width: 170px"></select>
                </td>
            </tr>
        </table>
        <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1;">
        <table width="100%">
            <tr>
                <td width="50%" align="center">
                    <span style="font-size:22px;font-weight:bold">每日自主檢查表</span>
                    <input data-kendo-date-picker data-k-ng-model="viewModel.checkMonth" data-k-options="viewModel.checkMonthOption" data-on-change="getCheckDay(2)" style="width:110px" />
                </td>
                <td align="center">
                    <span style="font-size:22px;font-weight:bold">每月自主檢查表</span>
                    <input data-kendo-date-picker data-k-ng-model="viewModel.checkYear" data-k-options="viewModel.checkYearOption" data-on-change="getCheckDay(1)" style="width:80px" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div id="dayListScheduler"
                         data-kendo-scheduler="viewModel.dayListScheduler"
                         data-k-options="viewModel.dayListSchedulerOptions"
                         data-k-ng-delay="viewModel.dayListSchedulerOptions.dataSource"
                         style="margin-left:20px;width: 500px;height:590px;overflow-x:hidden;overflow-y:auto">
                    </div>
                </td>
                <td align="center" valign="top">
                    <!--<div id="monthListScheduler" style="margin-left:20px;width: 500px;height:500px;overflow-x:hidden;overflow-y:auto"></div>-->
                    <table width="100%" border="1" style="border:1px solid #e7e7e7;background-color:white">
                        <tr>
                            <td align="center">1月</td>
                            <td align="center">2月</td>
                            <td align="center">3月</td>
                            <td align="center">4月</td>
                        </tr>
                        <tr style="height:50px">
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(0) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(0) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(0);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(1) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(1) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(1);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(2) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(2) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(2);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(3) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(3) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(3);" width="25" height="25" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">5月</td>
                            <td align="center">6月</td>
                            <td align="center">7月</td>
                            <td align="center">8月</td>
                        </tr>
                        <tr style="height:50px">
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(4) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(4) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(4);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(5) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(5) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(5);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(6) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(6) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(6);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(7) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(7) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(7);" width="25" height="25" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">9月</td>
                            <td align="center">10月</td>
                            <td align="center">11月</td>
                            <td align="center">12月</td>
                        </tr>
                        <tr style="height:50px">
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(8) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(8) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(8);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(9) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(9) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(9);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(10) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(10) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(10);" width="25" height="25" />
                                </div>
                            </td>
                            <td align="center">
                                <div data-ng-if="showCheckMonthData(11) == 'True'">
                                    <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25" />
                                </div>
                                <div data-ng-if="showCheckMonthData(11) == 'False'">
                                    <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoMonthList(11);" width="25" height="25" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<script id="event-template" type="text/x-kendo-template">
    <div class="movie-template"> 
        <div data-ng-if="#= status == 'True' #">
            <img src="http://i.imgur.com/LVtcPkD.png" width="25" height="25"/>
        </div>
        <div data-ng-if="#= status == 'False' #">
            <img src="http://i.imgur.com/ObhQifr.png" data-ng-click="gotoDayList(#= index #);" width="25" height="25" />
        </div>
    </div>
</script>
<style>
    .k-event{
        border-color: #ffffff;
        background-color:#ffffff;
    }
    .k-scheduler-table td{
        height:20px;
    }
    .k-scheduler-content{
        height:540px;
    }
    .k-scheduler-toolbar{
        display:none;
    }
</style>