﻿<div data-ng-controller="analysisMedExpensesController">
    <!-- 上排按鈕 -->
    <div class="top-toolbar">
        <button type="button" class="btn btn-default" data-ng-click="search()" data-ng-disabled="searchDisable()">
            <span><i class="glyphicon glyphicon-search icon-padding"></i>查詢</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="export1()" data-ng-disabled="viewModel.searchInfo == []">
            <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出統計結果</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="export2()" data-ng-disabled="viewModel.searchInfo == []">
            <span><i class="glyphicon glyphicon-save-file icon-padding"></i>匯出費用明細</span>
        </button>
    </div>
    <!-- 下方內容 -->
    <div style="padding: 5px; margin: 0.4em 0em 0.4em 0em;width:100%;font-size:16px">
        <!-- 左方查詢 -->
        <div data-ng-show="viewModel.isShowLeftPanel" class="contentClass" style="background-color: #f5f5f5; border: 1px #ccc solid;width:250px;float:left;line-height:40px">
            <div style="margin-left:5px;margin-top:-4px;color:#381312;font-weight:bold;font-size:17px">
                <img src="Content/Images/search_24.png" alt="Search" class="template-button-img" data-ng-click="viewModel.isShowRate = !viewModel.isShowRate;">請輸入查詢條件
            </div>
            &emsp;統計起日：<input data-kendo-date-picker data-k-ng-model="viewModel.search.startDate" data-k-culture="'zh-TW'" data-k-options="viewModel.searchStartDateOptions" style="width:140px" /><br />
            &emsp;統計迄日：<input data-kendo-date-picker id="endDate" data-k-ng-model="viewModel.search.endDate" data-k-culture="'zh-TW'" data-k-options="viewModel.searchEndDateOptions" style="width:140px" /><br />
            &emsp;主診斷碼：<input type="text" class="k-textbox" data-ng-model="viewModel.search.diagCode0" style="width:140px" /><br />
            &emsp;次診斷碼：<input type="text" class="k-textbox" data-ng-model="viewModel.search.diagCode1" style="width:140px" /><br />
            &emsp;次診斷碼：<input type="text" class="k-textbox" data-ng-model="viewModel.search.diagCode2" style="width:140px" /><br />
            &emsp;主處置碼：<input type="text" class="k-textbox" data-ng-model="viewModel.search.operCode0" style="width:140px" /><br />
            &emsp;次處置碼：<input type="text" class="k-textbox" data-ng-model="viewModel.search.operCode1" style="width:140px" /><br />
            &emsp;次處置碼：<input type="text" class="k-textbox" data-ng-model="viewModel.search.operCode2" style="width:140px" /><br />
            &emsp;醫令碼１：<input type="text" class="k-textbox" data-ng-model="viewModel.search.medCode1" style="width:140px" /><br />
            &emsp;醫令碼２：<input type="text" class="k-textbox" data-ng-model="viewModel.search.medCode2" style="width:140px" /><br />
            &emsp;醫令碼３：<input type="text" class="k-textbox" data-ng-model="viewModel.search.medCode3" style="width:140px" /><br />
            &emsp;病人年齡：<input type="text" class="k-textbox" data-ng-model="viewModel.search.age1" style="width:50px" />至<input type="text" class="k-textbox" data-ng-model="viewModel.search.age2" style="width:50px" />歲<br />
            &emsp;病人性別：
            <select data-kendo-drop-down-list data-ng-model="viewModel.search.sex" style="width:70px;margin-left:-4px" >
                <option value=""></option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <!-- 右方結果 -->
        <div id="contentDiv" class="contentClass" style="background-color: #f5f5f5; border: 1px #ccc solid">
            <button type="button" class="btn btn-menu btn-sm" data-ng-click="showLeftPanel()" data-ng-if="viewModel.isShowLeftPanel == false">
                <img data-ng-src="/Component/Content/Images/circle-arrow-right.svg" width="25" src="/Component/Content/Images/circle-arrow-right.svg">
            </button>
            <button type="button" class="btn btn-menu btn-sm" data-ng-click="hideLeftPanel()" data-ng-if="viewModel.isShowLeftPanel == true">
                <img data-ng-src="/Component/Content/Images/circle-arrow-left.svg" width="25" src="/Component/Content/Images/circle-arrow-left.svg">
            </button>
            健保價：<input type="text" class="k-textbox" data-ng-model="viewModel.search.nhiRate" style="width: 60px" />倍&emsp;
            自費價：<input type="text" class="k-textbox" data-ng-model="viewModel.search.genRate" style="width: 60px" />倍
            <span data-ng-if="viewModel.isShowRate">
                &emsp;調整倍率：<input type="text" class="k-textbox" data-ng-model="viewModel.search.rate" style="width: 60px" />倍
            </span>
            <hr style="margin: 0.4em 0em 0.4em 0em; border: 0; border-top: 1px solid #E2E1E1; ">
            <div id="tabstrip" class="contentClass2" kendo-tab-strip>
                <ul>
                    <li class="k-state-active">統計資料</li>
                    <li>病人資料</li>
                </ul>
                <!-- 統計資料 -->
                <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                    <table class="table table-striped table-bordered">
                        <tr style="background-color:#008e77;color:white">
                            <td>統計欄位</td>
                            <td>25%</td>
                            <td>50%</td>
                            <td>75%</td>
                            <td>100%</td>
                            <td>眾數</td>
                        </tr>
                        <tbody data-ng-repeat="item in viewModel.feeSummary">
                            <tr style="background-color:#cde6db">
                                <td>{{item.itemName}}</td>
                                <td>{{item.percent25}}</td>
                                <td>{{item.percent50}}</td>
                                <td>{{item.percent75}}</td>
                                <td>{{item.percent100}}</td>
                                <td>{{item.mode == -1 ? "無" : item.mode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 病人資料 -->
                <div class="contentClass2" style="overflow-x:hidden;overflow-y:auto">
                    <table width="100%">
                        <tr>
                            <td width="70%" valign="top">
                                <div style="font-size:18px">總計金額為25%~75%的病人資料</div>
                                <table class="table table-striped table-bordered">
                                    <tr style="background-color:#58A4EF;color:white">
                                        <td>住院號碼</td>
                                        <td>病人年齡</td>
                                        <td>病人性別</td>
                                        <td>住院天數</td>
                                        <td>總計金額</td>
                                        <td>%數落點</td>
                                    </tr>
                                    <tbody data-ng-repeat="item in viewModel.patients">
                                        <tr data-ng-click="selectPatient(item,$index);" style="background-color:{{item.backgroundColor}};cursor:pointer">
                                            <td>{{item.oldVisitNo}}</td>
                                            <td>{{item.age}}</td>
                                            <td>{{item.sex}}</td>
                                            <td>{{item.admDays}}</td>
                                            <td>{{item.total}}</td>
                                            <td>{{item.percentage}}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="top">
                                <div style="font-size:18px">{{viewModel.visitNo}}費用明細</div>
                                <table class="table table-striped table-bordered">
                                    <tr style="background-color:#5F75FF;color:white">
                                        <td>名稱</td>
                                        <td>費用</td>
                                    </tr>
                                    <tbody data-ng-repeat="item in viewModel.feeItem">
                                        <tr style="background-color:#CDD4FF">
                                            <td>{{item.feeName}}</td>
                                            <td>{{item.feeSum}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>    
        </div>
    </div>
</div>