﻿<div ng-controller="foisBodyController" class="contentClass2">
    <table class="table table-condensed" style="width:100%">
        <tr>
            <td colspan="2">
                <div class="info-title" style="padding-top: 0px; font-size: 18px; width: 99.5%; margin-left: 2px;">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="info-font" style="font-size:18px;padding-left:0px;">{{viewModel.document.body.level.title}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="warning"><input type="radio" value="Level1 - 完全無法由口進食" name="level" data-ng-model="viewModel.document.body.level.value" />Level1 - 完全無法由口進食。</td>
        </tr>
        <tr>
            <td class="warning"><input type="radio" value="Level2 - 需依賴管灌食，但偶而能由口嘗試少量食物" name="level" data-ng-model="viewModel.document.body.level.value" />Level2 - 需依賴管灌食，但偶而能由口嘗試少量食物。</td>
        </tr>
        <tr>
            <td class="warning"><input type="radio" value="Level3 - 需依賴管灌食，但能由口持續練習吃某些食物" name="level" data-ng-model="viewModel.document.body.level.value" />Level3 - 需依賴管灌食，但能由口持續練習吃某些食物。</td>
        </tr>
        <tr>
            <td class="warning"><input type="radio" value="Level4 - 完全由口進食單一質地食物" name="level" data-ng-model="viewModel.document.body.level.value" />Level4 - 完全由口進食單一質地食物。</td>
        </tr>
        <tr>
            <td class="warning"><input type="radio" value="Level5 - 完全由口進食多種(兩種或兩種以上)食物質地，但須特別調配，或配合代償措施" name="level" data-ng-model="viewModel.document.body.level.value" />Level5 - 完全由口進食多種(兩種或兩種以上)食物質地，但須特別調配，或配合代償措施。</td>
        </tr>
        <tr>
            <td class="warning"><input type="radio" value="Level6 - 完全由口進食多種(兩種或兩種以上)食物質地，不需特別調配，但有特別食物限制" name="level" data-ng-model="viewModel.document.body.level.value" />Level6 - 完全由口進食多種(兩種或兩種以上)食物質地，不需特別調配，但有特別食物限制。</td>
        </tr>
        <tr>
            <td class="warning"><input type="radio" value="Level7 - 完全由口進食，無任何限制" name="level" data-ng-model="viewModel.document.body.level.value" />Level7 - 完全由口進食，無任何限制。</td>
        </tr>
    </table>
    <!-- 列印範圍 -->
    <div data-ng-show="false">
        <div id="printDiv" style="page-break-after:always">
            <div style="text-align:center">
                <span style="font-size: 16px; font-weight: bold">中國醫藥大學醫療體系</span>
                <br />
                <span style="font-size: 18px; font-weight: bold">{{shareModel.documentTypeName}}</span>
            </div>
            <table border="3" width="100%" style="font-size: 16px; background: #DFFFEE">
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">評估日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.date.value | date:'yyyy-MM-dd'}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">姓名</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.name.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">病歷號</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.chartNo.value}}</td>
                </tr>
                <tr>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">性別</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.sex.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">出生日期</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.birthday.value}}</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">年齡</td>
                    <td width="100px" colspan="1" align="center" style="border-bottom:2px solid">{{viewModel.document.body.age.value}}</td>
                </tr>
                <tr>
                    <td width="200px" colspan="2" align="center">吞嚥進食功能</td>
                    <td width="400px" colspan="4">{{viewModel.document.body.level.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



